:host {
   padding: 0 0 20px 0;
   position: relative;
   float: none;
   width: calc(50% - 2px);
   display: inline-block;
   vertical-align: top;
}
:host paper-card {
	width: 100%;
}
.card-content {
  width: 100%;
  display: block;
}
.graph {
  min-width: 100%;
}
google-chart {
	max-width: 100%;
}
paper-icon-button {
  float: right;
}
@media (max-width: 600px){
	:host {
		width: 100%;
	}
}