body {
  font-family: Roboto, 'Noto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  color: #424242;
  line-height: 20px;
  font-size: 13px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body, a {
  color: #424242;
}

pre, code {
  font-family: Inconsolata, monospace;
}

pre {
  overflow-x: auto;
}

h1, h2, h3, h4, h5, h6, a {
  text-rendering: optimizeLegibility;
}


a {
  text-decoration: none;
  letter-spacing: 0;
}

p {
  font-size: 14px;
  line-height: 22px;
}

h1 {
  font-size: 45px;
  font-weight: 400;
  /*letter-spacing: -.018em;*/
  line-height: 48px;
}

h2 {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 48px;
  margin: 8px 0;
}

h3 {
  font-size: 24px;
  font-weight: 400;
 /* letter-spacing: -.012em;*/
  line-height: 32px;
}

h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

h5, h6 {
  font-size: 13px;
  line-height: 20px;
}

a {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.018em;
  line-height: 24px;
}

catalog-app {
  overflow: hidden;
}

.menu-icon {
  display: block;
  width: 24px;
  padding-top: 3px;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-user-select: none;
}

.menu-bar {
  display: block;
  width: 18px;
  height: 2px;
  margin: 0 auto;
  margin-bottom: 3px;
  background: #333;
  -webkit-transform-origin: center;
  transition: all 300ms cubic-bezier(0.55, 0, 0.1, 1);
}

.menu-icon[active] .menu-bar {
  opacity: 0;
}

.menu-icon[active] .menu-bar:first-child {
  -webkit-transform: rotate(45deg) translate(2px,2px);
  margin-top: 4px;
  opacity: 1;
}

.menu-icon[active] .menu-bar:last-child {
  -webkit-transform: rotate(-45deg) translate(5px,-5px);
  opacity: 1;
}

paper-toolbar {
  color: #424242;
  transition: height 450ms cubic-bezier(0.55, 0, 0.1, 1);
}

paper-toolbar.medium-tall {
  height: 107px;
}

paper-toolbar nav {
  margin: 12px 0 0 0;
}

paper-toolbar nav a {
  display: inline-block;
  font-weight: 500;
  line-height: 50px;
  text-transform: none;
  color: #666;
  margin: 0 12px;
  padding: 0 4px;
}

paper-toolbar nav a:hover {
  color: #536DFE;
}

paper-toolbar nav a:first-child {
  margin-left: 0;
}

paper-toolbar nav .active {
  color: black;
  border-bottom: 2px solid #7986CB;
}

paper-fab {
    position: fixed;
    right: 32px;
    bottom: 16px;
    background-color: #D96557;
    z-index: 10;
}

paper-fab > iron-icon {
    color: #fff;
}

iron-icon {
  color: rgba(0,0,0,0.54);
}

p a {
    text-transform: none;
    color: rgb(85,114,250);
}

li p {
    margin: 0;
}

aside {
  margin: 40px;
  padding: 20px 40px;
  background-color: #fafafa;
  border: 1px solid #e5e5e5;
}
paper-material {
  background-color: #fff;
  padding: 20px;
}
paper-button {
  font-size: 14px;
}
paper-button.custom.blue {
  background-color: #0099cc;
  color: #fff;
}
paper-button.custom.blue > * {
  color: #fff;
}