bin
dist
parts
develop-eggs
eggs
include
/lib
var
.mr.developer.cfg
.installed.cfg
*.pyc
*.pyo
*.egg-info
src/libcloud
src/fabric
src/paramiko
src/deploy_collectd
.DS_Store
.Python
/.project
*.yaml
/.pydevproject
settings.py
local/
.settings
.idea/
share/
# vim files
.*.sw[op]
