/settings
*~
.*.sw[opn]
bower_components
*.py[cod]
*.egg-info
.DS_Store
.Python
/.project
/.pydevproject
.cache
pip-selfcheck.json
keys
/chart/mist/charts
/chart/mist/requirements.lock
/docker/vault/file/sys/
/docker/vault/file/logical/
/docker/vault/file/core/
