[submodule "src/mist/io/static/steal"]
	path = src/mist/io/static/steal
	url = git@github.com:jupiterjs/steal.git
[submodule "src/mist/io/static/jquery"]
	path = src/mist/io/static/jquery
	url = git@github.com:jupiterjs/jquerymx.git
[submodule "src/mist/io/static/documentjs"]
	path = src/mist/io/static/documentjs
	url = git@github.com:jupiterjs/documentjs.git
[submodule "src/mist/io/static/funcunit"]
	path = src/mist/io/static/funcunit
	url = git@github.com:jupiterjs/funcunit.git
