bin
parts
develop-eggs
eggs
include
/lib
.mr.developer.cfg
.installed.cfg
*.pyc
*.pyo
*.egg-info
docs/build
src/libcloud
src/fabric
src/paramiko
.DS_Store
.Python
/.project
*.yaml
/.pydevproject
settings.py
local/
