[buildout]
extensions =
    mr.developer

parts =
    cloudpy
    pyramid
    devtools
    pylint

develop = .
          src/libcloud
          src/fabric
          src/paramiko

sources = sources
versions = versions
auto-checkout = *

eggs =

allow-hosts=*.python.org

[pyramid]
recipe = zc.recipe.egg
dependent-scripts = true
eggs =
    mist.io
    PasteScript
    paramiko


[cloudpy]
recipe = zc.recipe.egg
eggs =
    ipython
    ${pyramid:eggs}
scripts = ipython=cloudpy


[devtools]
recipe = zc.recipe.egg:scripts
eggs =
    pep8
    sphinx
    ${pyramid:eggs}


[pylint]
recipe = zc.recipe.egg
eggs =
    pylint
    ${pyramid:eggs}
scripts = pylint
entry-points = pylint=pylint.lint:Run
arguments = sys.argv[1:]


[sources]
libcloud = git https://github.com/mistio/libcloud.git branch=mistio
fabric = git https://github.com/fabric/fabric.git rev=2a608c7d332910477ea5dc6eb134285e26597772
paramiko = git https://github.com/paramiko/paramiko.git rev=21cb9a2d86b2c0419444ea7c2e5e1c35a62b6373


[versions]
