amqp
ansible==1.9.3
celery
elasticsearch
elasticsearch_tornado
dnspython
gevent
greenlet
iso8601
jsonpickle
mongoengine
names
netaddr
parse
passlib
pika
pymongo
pyramid
python-memcached
python-openid
requests
sockjs-tornado
stripe
tornado
tornado_profile
websocket
-e git+https://gitlab.ops.mist.io/mistio/paramiko.git@master#egg=paramiko==2.0.3
-e git+https://github.com/zmap/celerybeat-mongo.git@88a836b265cf43becf3acccb6aaa37e5b46e5852#egg=celerybeat_mongo
