"""User defined settings"""

## URI of hosted mist service
#CORE_URI = "https://mist.io"

## Verify SSL certificates when communicating with core service
#SSL_VERIFY = True

## Use minified (uglified) js
#JS_BUILD = False


## Javascript logging verbosity level
#JS_LOG_LEVEL = 3


## Google analytics ID
#GOOGLE_ANALYTICS_ID = ""


## SSH connection timeout
#COMMAND_TIMEOUT = 20


## Celery backend for task results
#CELERY_BACKEND = 'amqp://guest:guest@127.0.0.1:5671//'

## Celery message broker
#CELERY_BROKER = 'amqp://guest:guest@127.0.0.1:5671//'


## Permit connections to localhost/private ip's
# ALLOW_CONNECT_LOCALHOST = True
# ALLOW_CONNECT_PRIVATE = True
