"""Configuration file template.

Copy this to the same path renaming it to settings.py. Check out the README
for instructions on how to populate it.
"""

MONITORING_URL = 'https://mist.io'

JS_BUILD = False

JS_LOG_LEVEL = 3

BACKENDS = [

    # Put your backends here

]

KEYPAIRS = {
    'default':(
        # Put your keypair here
    )
}

