"""Configuration file template.

Copy this to the same path renaming it to settings.py. Check out the README
for instructions on how to populate it.
"""


BACKENDS = [

    # Put your backends here

]

KEYPAIRS = {
    'default':(
        # Put your keypair here
    )
}

