
<div class="content-header">
	<span class='name'>{{backend.title}}</span> <span class='status'>{{backend.status}}</span>
</div>

<div data-role="fieldcontain">
	<label for="backend-enable">Enabled:</label> {{#view
	Mist.EnableBackendButtonView contentBinding="Mist.onOff"}} {{/view}}
</div>
<div data-role="fieldcontain">
	<input id="backend-delete" type="button" value="Delete"
		{{action "deleteButtonClick" on="click" }} />
</div>
<div id="backend-delete-confirm" class="btn-full"
	data-role="controlgroup" data-type="horizontal">
	<div class="label">Confirm backend removal?</div>
	<a id="backend-delete-yes" class="btn-left-full" data-role="button"
		data-theme="c"
		{{action "deleteConfirmButtonClick" on="click" }}>Yes</a> <a id="backend-delete-no"
		class="btn-right-full" data-role="button" data-theme="b"
		{{action "deleteCancelButtonClick" on="click" }}>No</a>
</div>
<div id="create-backend-cancel" class="btn-full"
	data-role="controlgroup" data-type="horizontal">
	<a id="edit-backend-ok" class="btn-full" data-role="button"
		data-rel="back" data-theme="b">Close</a>
</div>