<div data-role="page" id="single-machine" data-theme="c"
	class="type-interior">

	<div data-role="header">
		<a href="#machines" data-icon="arrow-l" data-direction="reverse"
			class="ui-btn-left">Machines</a>
		<h1 id="single-machine-name">{{name}}</h1>
		<a class="state-providers" href="#dialog-providers" data-rel="dialog"
			data-iconpos="notext" data-transition="slidedown" data-icon="check"
			class="ui-btn-right"></a>
	</div>
	<!-- /header -->

	<div id="single-view-header">
		<h3 id="single-view-name">{{name}}</h3>
		<span class="single-view-icon-wrapper" ><span
			id="single-view-provider-icon" {{bindAttr class="providerIconClass"}}></span>
			</span>
			
			<span
			class="single-view-icon-wrapper"><span
			id="single-view-image-icon" {{bindAttr class="machine.image.type"}}></span></span>
		<h3 id="single-view-status" {{bindAttr class="status"}}>{{status}}</h3>
	</div>

	<div data-role="content">
		<div data-role="collapsible" data-collapsed="false">
			<h3>Basic Info</h3>
			<span class="machine-basic-stuff">
			<table id="machine-basic-table">
			{{#each basicvars}}
			<tr>
			 <td class="key">{{key}}</td>
			 <td class="value">{{value}}</td>
			</tr>
			{{/each}}
			</table>
			</span>
		</div>
		<div data-role="collapsible">
			<h3>Full metadata list</h3>
			<div id="machine-metadata">
			<ul>
			{{#each metadata}}
			<li><strong>{{key}}</strong> {{value}}</li>
			{{/each}}
			</ul>
			</div>
		</div>

	</div>
	<!-- /content -->

	<div id="single-footer" data-role="footer" data-theme="a">
		<div id="actions" data-role="controlgroup" data-type="horizontal">
			<a data-role="button" id="single-button-reboot" data-icon="refresh"
			{{action "reboot"}}>Reboot</a>
			<a data-role="button" id="single-button-destroy" data-icon="delete"
				data-transition="slidedown"
				{{action destroy}}>Destroy</a>
			<a href="#dialog-console"
				data-role="button" id="single-button-console" data-icon="gear"
				data-transition="slidedown">Console</a> 
			<a href="#dialog-tags"
				data-role="button" id="single-button-tags" data-icon="grid"
				data-rel="dialog" data-transition="slidedown">Tag</a>
		</div>
	</div>
	<!-- /footer -->

</div>
