:host {
  display: block;
  transition: var(--material-curve-320);
  transform: translate(0, 60px);
  opacity: 0;
}

:host(.active) {
  transform: translate(0, 0);
  opacity: 1;
}

:host paper-material {
	min-width: 100%;
}
:host h2 {
	color: rgba(255,255,255,0.87);
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
    background-color: slategray;
    text-align: center;
    padding: 0 0.5em;
    margin: 0;
    font-weight: 500;
}
h3 {
	text-transform: uppercase;
	font-size: 13px;
	color: rgba(0,0,0,0.54);
	padding: 0 10px;
	border-bottom: 1px solid #eee;
}
.list-item {
	border-bottom: 1px solid #eee;
	padding: 10px;
}
.list-item.red {
	background-color: #F44336;
	color: #fff;
}
.list-item.red .expression > iron-icon {
	color: #fff;
}
.list-item.green .expression > iron-icon {
	color: green;
}
.flexchild {
	@apply(--layout-flex);
}
.block {
	transform: translate(0, 50px);
	opacity: 0;
	transition: all 500ms 320ms;
	transition-timing-function: var(--material-curve-320);  
}
:host(.active) .block {
	transform: translate(0, 0);
	opacity: 1;
}
@media (min-width: 869px) {
	.content-area {
		max-height: 390px;
		overflow-y: scroll;
	}
}

