paper-item {
    --paper-menu-focused-item {
        background-color: #fff;
    }
}

paper-icon-button.gravatar {
    border-radius: 50%;
    border: 2px solid #212121;
    overflow: hidden;
}

paper-icon-button {
	padding: 0;
}