{{outlet}}
<!-- Notification widget -->
<div id="notification-popup" class="ui-loader ui-corner-all ui-body-b ui-loader-verbose ui-loader-textonly">
    <span class="ui-icon-loading"></span>
    <h1></h1>
</div>
