<div data-role="content" data-theme="c">

    <label for="select-backend">1. Provider:</label>
    {{view Mist.Select contentBinding="providerList"
        optionLabelPath="content.title"
        optionValuePath="content.provider"
        prompt="Select backend"
        selectionBinding="backendProvider"
        class="create-select"
        data-theme="c"
        data-icon="check"
        data-native-menu="false"
        id="create-select-provider"
        name="create-select-provider"}}

    <label for="apikey">2. API Key:</label>
    {{view Mist.TextField
        valueBinding="backendKey"
        name="create-backend-key"
        id="create-backend-key"}}

    <label for="apisecret">3. API Secret:</label>
    {{view Mist.TextField
        valueBinding="backendSecret"
        name="create-backend-secret"
        id="create-backend-secret"}}

    <div id="create-backend-cancel" class="btn-full" data-role="controlgroup" data-type="horizontal">

        <a id="create-backend-cancel"
            class="btn-left-full"
            data-role="button"
            data-rel="back"
            data-theme="c">Close</a>

        <a id="create-backend-ok"
            class="btn-right-full"
            data-role="button"
            data-rel="back"
            data-theme="b"
            {{action "addButtonClick" on="click"}}>Add</a>
    </div>

</div>
