<div data-role="content">
<div class="content-header">
    <span class='name'>{{view.backend.title}}</span>
</div>
<div data-role="fieldcontain">
    <select class="backend-toggle" data-role="slider" {{action "toggleBackend" on="change"}}>
        <option value="0">Disabled</option>
        <option value="1" {{bindAttr selected="view.backend.enabled"}}>Enabled</option>
    </select>
    <span class="state">{{view.backend.state}}</span>          
</div>

<div data-role="fieldcontain">
    <input id="backend-delete" type="button" value="Delete" {{action "deleteButtonClick" target="view" on="click"}} />
</div>

<div id="backend-delete-confirm" class="btn-full" data-role="controlgroup" data-type="horizontal">
    <div class="label">Confirm backend removal?</div>
    <a id="backend-delete-yes"
        class="btn-left-full"
        data-role="button"
        data-theme="c"
        {{action "deleteConfirmButtonClick" target="view" on="click" }}>Yes</a>
    <a id="backend-delete-no"
        class="btn-right-full"
        data-role="button"
        data-theme="b"
        {{action "deleteCancelButtonClick" target="view" on="click" }}>No</a>
</div>

<div id="create-backend-cancel" class="btn-full" data-role="controlgroup" data-type="horizontal">
    <a id="edit-backend-ok"
        class="btn-full"
        data-role="button" href="#home"
        data-rel="back"
        data-theme="b">Close</a>
</div>
</div>