<div id="add-backend-panel" 
     class="side-panel" 
     data-role="panel" 
     data-position="right" 
     data-display="overlay"
     data-theme="b">

    <div data-role="header">
        <h1>Add backend</h1>
    </div>

    <div data-role="content" data-theme="b">

        <label>1. Provider:</label>
        <div id="new-backend-provider"
             class="mist-select"
             data-role="collapsible" 
             data-iconpos="right" 
             data-collapsed-icon="arrow-d" 
             data-expanded-icon="arrow-u"
             data-theme="a">
            <h2>{{Mist.backendAddController.newBackendProvider.title}}</h2>
            <ul class="select-listmenu" data-role="listview" data-theme="a">
                {{#each Mist.backendsController.providerList}}
                <li data-icon="false">
                    <a {{action "selectProvider" this target="view"}}>{{this.title}}</a>
                </li>
                {{/each}}
            </ul>
        </div>
        <div data-theme="a">
            <label for="new-backend-first-field">2. {{view.firstFieldLabel}}:</label>
            {{view Mist.TextField
                   id="new-backend-first-field"
                   data-theme="a"
                   valueBinding="Mist.backendAddController.newBackendFirstField"}}
    
            <label for="new-backend-second-field">3. {{view.secondFieldLabel}}:</label>
            {{view Mist.TextField
                   type="password"
                   id="new-backend-second-field"
                   data-theme="a"                   
                   valueBinding="Mist.backendAddController.newBackendSecondField"}}
        </div>
        <div id="openstack-bundle" data-theme="a">
            <label for="new-backend-openstack-url">4. Auth URL:</label>
            {{view Mist.TextField
                   id="new-backend-openstack-url"
                   valueBinding="Mist.backendAddController.newBackendOpenStackURL"}}

            <label for="new-backend-openstack-tenant">5. Tenant Name:</label>
            {{view Mist.TextField
                   id="new-backend-openstack-tenant"
                   data-theme="a"
                   valueBinding="Mist.backendAddController.newBackendOpenStackTenant"}}
        </div>

        <div id="baremetal-bundle">
            <label>4. SSH Key:</label>
            <div id="new-backend-key" 
                 class="mist-select"
                 data-role="collapsible" 
                 data-iconpos="right" 
                 data-collapsed-icon="arrow-d"
                 data-expanded-icon="arrow-u"
                 data-theme="a">
                <h2>{{Mist.backendAddController.newBackendKey.id}}</h2>
                <ul data-role="listview">
                    {{#each Mist.keysController.content}}
                        <li data-icon="false" data-theme="a">
                            <a {{action "selectKey" this target="view"}}>{{this.id}}</a>
                        </li>
                    {{/each}}
                    <li data-icon="false" data-theme="d">
                        <a {{action "createKeyClicked" target="view"}}>Add Key</a>
                    </li>
                </ul>
            </div>
        </div>

        {{#if Mist.backendsController.addingBackend}}
        <div class="ajax-loader"></div>
        {{/if}}

        <div class="ok-cancel" data-role="controlgroup" data-type="horizontal">
            <a data-role="button" {{action "backClicked" target="view"}} data-theme="a">Back</a>
            <button id="new-backend-ok" data-theme="d" {{action "addClicked" target="view"}}>Add</a>
        </div>
    </div>
</div>

{{view Mist.keyAddView}}
