<div data-role="popup" id="edit-backend" class="mist-dialog" data-overlay-theme="a">
    <div data-role="header">
        <h1>Edit backend</h1>
    </div>
    <div data-role="content">
        <div class="content-header">
            <span class='name'>{{view.backend.title}}</span>
        </div>
        <div data-role="fieldcontain">
            <select class="backend-toggle" data-role="slider" {{action "toggleBackend" target="view" on="change"}}>
                <option value="0">Disabled</option>
                <option value="1" {{bindAttr selected="view.backend.enabled"}}>Enabled</option>
            </select>
            <span class="state">{{view.backend.state}}</span>
        </div>

        <div data-role="fieldcontain">
            <input id="backend-delete" type="button" value="Delete" {{action "deleteButtonClick" target="view" on="click"}} />
        </div>

        <div id="backend-delete-confirm" class="btn-full ok-cancel" data-role="controlgroup" data-type="horizontal">
            <div class="label">Confirm backend removal?</div>
            <div id="backend-has-monitoring">There are monitored machines.<br />Monitoring for these will be disabled</div>
            <button id="button-confirm-disable" {{action "deleteConfirmButtonClick" target="view"}}>Yes</button>
            <button data-theme="b" {{action "deleteCancelButtonClick" target="view"}}>No</button>
        </div>
        <div class="ajax-loader"></div>
        <div class="btn-full" data-role="controlgroup" data-type="horizontal">
            <a href="#" data-role="button" {{action "backButtonClick" target="view"}}>Back</a>
        </div>
    </div>
</div>
