<div id="confirmation-popup" data-role="popup" data-overlay-theme="b" data-transition="flip">

    <div data-role="header" data-theme="b">
        <h1>{{Mist.confirmationController.title}}</h1>
    </div>

    <div data-role="content" data-theme="a">
        <p>{{Mist.confirmationController.text}}</p>
        <div class="ok-cancel" data-role="controlgroup" data-type="horizontal">
            <button data-theme="d" {{action "noClicked" target="view"}}>No</button>
            <button {{action "yesClicked" target="view"}}>Yes</button>
        </div>
    </div>

</div>
