{{#if Mist.graphsController.isOpen}}

    <!--
        Control Widget
    -->

    <div id="top-history">
        {{view Mist.graphListControlView
            actionProxyBinding="view.actionProxy"}}
    </div>

    <!--
        Graphs
    -->

    <div id="graphs">
        {{#each Mist.graphsController.content}}
            {{view Mist.graphListItemView
                graphBinding="this"
                actionProxyBinding="view.actionProxy"}}
        {{/each}}
    </div>

    <!--
        Minimized graph buttons
    -->

    {{#if Mist.graphsController.config.canMinimize}}
        {{view Mist.graphListBarView
            actionProxyBinding="view.actionProxy"}}
    {{/if}}
{{/if}}
