{{#if Mist.graphsController.isOpen}}

    <!--
        Control Widget
    -->
    {{#if Mist.graphsController.config.canControl}}
        <div id="top-history">
            {{view "graphListControl"
                actionProxyBinding="view.actionProxy"}}
        </div>
    {{/if}}

    <!--
        Graphs
    -->

    <div id="graphs">
        {{#each Mist.graphsController.model}}
            {{view "graphListItem"
                graphBinding="this"
                actionProxyBinding="view.actionProxy"}}
        {{/each}}
    </div>

    <!--
        Minimized graph buttons
    -->

    {{#if Mist.graphsController.config.canMinimize}}
        {{view "graphListBar"
            actionProxyBinding="view.actionProxy"}}
    {{/if}}
{{/if}}
