<div class="graphControls">

    <div class="graphZoomer">
        <select id='zoomSelect' data-inline="true" onChange="Mist.monitoringController.UI.zoomChange()">
            <option value='0' selected='true'>Last 10 Minutes</option>
            <option value='1' >Last 1 Hour</option>
            <option value='2' >Last 1 Day</option>
            <option value='3' >Last 1 Week</option>
            <option value='4' >Last 1 Month</option>
        </select>
    </div>

    <div class="graphMover">
        <a id='graphsGoBack' class="ui-btn ui-corner-all ui-btn-inline"
           {{action "goBack" target="Mist.monitoringController.history"}}>&lt;&lt;</a>

        <a id='graphsResetHistory' class="ui-btn ui-btn-b ui-corner-all ui-state-disabled ui-btn-inline"
            {{action "disable" target="Mist.monitoringController.history"}}>Reset</a>

        <a id='graphsGoForward' class="ui-btn ui-corner-all ui-state-disabled ui-btn-inline"
            {{action "goForward" target="Mist.monitoringController.history"}}>&gt;&gt;</a>
    </div>

</div>
