<div class="graph-button graph-minimized" id={{view.buttonId}}>
    <a class="ui-btn ui-caps ui-shadow ui-btn-icon-right icon-graph-1"
        {{action "graphButtonClicked" view.graph target=view.actionProxy}}>
            {{unbound view.graph.title}}
    </a>
</div>
