<div class="graph" {{bind-attr id="view.graph.id"}}>

    <div class="header">
        <div class="title">
            {{view.graph.title}}
        </div>
        {{#if view.graph.pendingCreation}}
            <div class="ajax-loader"></div>
        {{else}}
            {{#if view.graph.pendingRemoval}}
                <div class="ajax-loader"></div>
            {{/if}}
            {{#unless view.graph.isBuiltIn}}
                <a class="ui-btn ui-shadow ui-corner-all ui-icon-delete ui-btn-icon-notext"
                    {{action "removeClicked" target="view"}}>x
                </a>
            {{/unless}}
            <a class="ui-btn ui-btn-icon-notext ui-corner-all ui-icon-carat-d"
                {{action "collapseClicked" target="view"}}>-
            </a>
        {{/if}}
    </div>

    <svg>
        <g class="grid-x"></g>
        <g class="grid-y"></g>
        {{#each view.graph.datasources}}
            <g {{bind-attr class="this.id :valueLine"}}>
                <path></path>
            </g>
        {{/each}}
        <g class="x-axis"></g>
        <rect class="hideAnimeLine"></rect>
        <line class="axisLine x"></line>
        <line class="axisLine y"></line>
        <g class="y-axis"></g>
    </svg>

</div>