<div class="graph" {{bind-attr id="view.graph.id"}}>

    <div class="header">
        <div class="title">
            {{view.graph.title}}
            {{#if view.graph.unit}}
                ({{view.graph.unit}})
            {{/if}}
        </div>
        <a class="ui-btn ui-btn-icon-notext ui-icon-minus"
            {{action "collapseClicked" target="view"}}>
        </a>
        <a class="ui-btn ui-btn-icon-notext ui-icon-delete"
            {{action "removeClicked" target="view"}}>
        </a>
    </div>

    <svg>
    	<g class="grid-x"></g>
    	<g class="grid-y"></g>
        <g class="valueArea">
            <path></path>
        </g>
        <g class="valueLine">
            <path></path>
        </g>
        <g class="x-axis"></g>
        <rect class="hideAnimeLine"></rect>
        <line class="axisLine x"></line>
        <line class="axisLine y"></line>
        <g class="y-axis"></g>
    </svg>
</div>