<div class="graph">

    <!--
        Graph Head
    -->

    <div class="header">

        <div class="title">
            {{view.graph.title}}
        </div>
        <!--
            Remove button
        -->

        {{#if Mist.graphsController.config.canModify}}
            {{#unless view.graph.isBuiltIn}}
                <a class="ui-btn ui-shadow ui-corner-all ui-icon-delete ui-btn-icon-notext"
                    {{action "removeClicked" view.graph target="view.actionProxy"}}>x
                </a>
            {{/unless}}
        {{/if}}

        <!--
            Minimize button
        -->

        {{#if Mist.graphsController.config.canMinimize}}
            <a class="ui-btn ui-btn-c ui-btn-icon-notext ui-corner-all ui-icon-arrow-d"
                {{action "collapseClicked" view.graph target="view.actionProxy"}}>-
            </a>
        {{/if}}
    </div>

    <!--
        Graph Body
    -->

    <div class="graph-body" {{bind-attr id="view.graph.id"}}>
    </div>

</div>
