<div class="graph-button" id={{view.buttonId}}>
    <a class="ui-btn ui-btn-icon-left ui-icon-arrow-u ui-corner-all"
        {{action "graphButtonClicked" view.graph target=view.actionProxy}}>
            {{unbound view.graph.title}}
    </a>
</div>
