<div id="graph-list-control">

    <div id="time-window-control">
        <select data-inline="true" data-shadow="false"
            {{action "timeWindowChanged" on="change" target="view"}}>
                <option value="minutes" selected='true'>10 Minutes</option>
                <option value="hour">1 Hour</option>
                <option value="day">1 Day</option>
                <option value="week">1 Week</option>
                <option value="month">1 Month</option>
        </select>
    </div>

    <div id="history-control" class="ui-grid-b">

        <!--
            Back Button
        -->

        <div class="ui-block-a">
            <a id="history-control-back"
                class="time
                    ui-btn
                    ui-corner-all
                    ui-btn-inline
                    ui-btn-icon-notext
                    ui-icon-arrow-l"
                {{action "backClicked" target="view"}}>
            </a>
        </div>

        <!--
            Stream Toggle
        -->

        <div class="ui-block-b">
            <a id="history-control-stream"
                class="ui-btn
                    ui-btn-b
                    ui-corner-all
                    ui-btn-inline"
                {{action "toggleStream" target="view"}}>
                {{#if Mist.graphsController.isStreaming}}
                    Pause
                {{else}}
                    Reset
                {{/if}}
            </a>
        </div>

        <!--
            Forward Button
        -->

        <div class="ui-block-c">
            <a id="history-control-forward"
                class="time
                    ui-btn
                    ui-corner-all
                    ui-btn-inline
                    ui-btn-icon-notext
                    ui-icon-arrow-r"
                {{action "forwardClicked" target="view"}}>
            </a>
        </div>
    </div>
</div>
