<div id="home-page" data-role="page" class="ui-page-active ui-page">

    <!-- Page header -->

    <div class="ui-header ui-bar-b">

        <h1 class="ui-title">mist.io</h1>

        {{view Mist.userMenuView}}

    </div>

    <!-- Page Body -->

    <div role="main" class="ui-content" data-theme="c">

        <!-- Add backend button -->

        <a id="add-backend-btn" class="ui-link ui-btn ui-btn-d ui-icon-plus
            ui-btn-icon-right ui-shadow ui-corner-all"
            {{action "addBackend" target="view"}}>
                Add backend
        </a>

        <!-- Backends list -->

        <div id="backend-buttons" data-role="controlgroup" data-type="horizontal"
            class="ui-controlgroup ui-controlgroup-horizontal ui-corner-all">

            {{#each Mist.backendsController.content}}
                {{view Mist.backendButtonView backendBinding="this"
                       class="ui-btn ui-input-btn ui-corner-all ui-shadow"}}
            {{/each}}

        </div>

        <!-- Navigation -->

        <ul class="ui-listview ui-listview-inset ui-corner-all ui-shadow">

            <!-- Machines link -->

            <li class="ui-li-has-count ui-first-child">

                <a class="ui-btn ui-btn-icon-right ui-icon-carat-r" href="#/machines">
                    <span class="ui-li-count ui-body-inherit">
                        {{Mist.backendsController.machineCount}}
                    </span>
                    Machines

                </a>
            </li>

            <!-- Images link -->

            <li class="ui-li-has-count">

                <a class="ui-btn ui-btn-icon-right ui-icon-carat-r" href="#/images">
                    <span class="ui-li-count ui-body-inherit">
                        {{Mist.backendsController.imageCount}}
                    </span>
                    Images
                </a>
            </li>

            <!-- Networks link -->

            {{#if Mist.backendsController.hasNetworks}}
            <li class="ui-li-has-count">

                <a class="ui-btn ui-btn-icon-right ui-icon-carat-r" href="#/networks">

                    <span class="ui-li-count ui-body-inherit">
                        {{Mist.backendsController.networkCount}}
                    </span>
                    Networks

                </a>
            </li>
            {{/if}}

            <!-- Keys link -->

            <li class="ui-li-has-count ui-last-child">

                <a class="ui-btn ui-btn-icon-right ui-icon-carat-r" href="#/keys">
                    <span class="ui-li-count ui-body-inherit">
                        {{Mist.keysController.content.length}}
                    </span>
                    Keys

                </a>
            </li>
        </ul>

        {{view Mist.graphListView actionProxyBinding="view"}}

    </div>

    {{view Mist.dialogView}}

    {{view Mist.backendAddView}}

    {{view Mist.backendEditView}}

</div>
