<div data-role="header">

    <h1>mist.io</h1>

    {{view Mist.UserMenuView}}

</div>

<div data-role="content">

    {{view Mist.BackendAddView}}

    <div data-role="controlgroup" data-type="horizontal" id="backend-buttons">
        {{#each Mist.backendsController}}
            {{view Mist.BackendButtonView backendBinding="this"
               data-role="button" data-icon="check"
               classBinding="state" class="backend-button"}}
        {{/each}}
    </div>
    
    {{view Mist.EditBackendView backendBinding="Mist.backend"}}

    <ul data-role="listview"
        data-theme="c"
        data-dividertheme="d"
        class="ui-listview ui-listview-inset ui-corner-all ui-shadow"
        id="home-menu">
        <li>
            {{#linkTo machines}}Machines
                {{#if Mist.backendsController.loadingMachines}}
                <div class="ajax-loader"></div>
                {{/if}}    
                <span class="ui-li-count">{{Mist.backendsController.machineCount}}</span>
            {{/linkTo}}
        </li>
        <li>
            {{#linkTo images}}Images
                {{#if Mist.backendsController.loadingImages}}
                <div class="ajax-loader"></div>
                {{/if}}
                <span class="ui-li-count">{{Mist.backendsController.imageCount}}</span>
            {{/linkTo}}
        </li>
        <li>
            {{#linkTo keys}}Keys
                {{#if Mist.keysController.loadingKeys}}
                <div class="ajax-loader"></div>
                {{/if}}
                <span class="ui-li-count">{{Mist.keysController.keys.length}}</span>
            {{/linkTo}}
        </li>
    </ul>

</div>
