<div id="image-list-page">

    <div data-role="header" data-theme="b">

        <a href="#" data-icon="home">Home</a>

        <h1>Images</h1>

        {{view Mist.UserMenuView}}

    </div>

    <div data-role="content" id="images" data-theme="c">

        <ul data-role="listview" data-filter="true" data-inset="true" data-filter-placeholder="Filter images...">
            {{#each view.renderedImages}}
                {{view Mist.ImageListItemView imageBinding="this" class="checkbox-link" }}
            {{/each}}
        </ul>

        <div class="ajax-loader"></div>

        <button id="images-advanced-search" data-theme="b" {{action advancedSearchClicked target="view"}}>
            <span>Continue search on server...</span>
        </button>
        <div class="large-padding"></div>

    </div>

    {{view Mist.MachineAddView}}

</div>