    <div data-role="header">

        <a href="#"
        data-icon="home"
        data-direction="reverse"
        class="ui-btn-left">Home</a>

        <h1>Images</h1>
        {{view Mist.UserMenuView}}
    </div>

    <div data-role="content" id="images">

        {{view Mist.MachineAddView}}


        {{! view Mist.Select
            data-native-menu="false"
            name="select-images"
            id="mist-select-images"
            contentBinding="Mist.selectImagesController.content"
            selectionBinding="Mist.selectImagesController.selection"
            optionLabelPath="content.name"
            optionValuePath="content.id"
            prompt="Show Images"
        }}

        <ul id="images-list"
        data-role="listview"
        data-filter="true"
        data-inset="true"
        data-theme="c"
        data-filter-placeholder="Filter images...">
            {{#each view.renderedImages}}
                {{view Mist.ImageListItemView imageBinding="this" class="node" }}
            {{/each}}            
        </ul>
        <div class="ajax-loader"></div>        
        <a id="images-advanced-search" 
           data-role="button" 
           data-theme="b"
           {{action advancedSearchClicked target="view"}}><span>Continue search on server...</span></a>
        <div class="bottom-padding"></div>

    </div>
