<div data-role="page" id="images" data-theme="c">

    <div data-role="header">

        <a href="#home"
        data-icon="home"
        data-direction="reverse"
        class="ui-btn-left">Home</a>

        <h1>Images</h1>
        {{view Mist.UserMenuView}}
    </div>

    <div data-role="content">

        {{! view Mist.Select
            data-native-menu="false"
            name="select-images"
            id="mist-select-images"
            contentBinding="Mist.selectImagesController.content"
            selectionBinding="Mist.selectImagesController.selection"
            optionLabelPath="content.name"
            optionValuePath="content.id"
            prompt="Show Images"
        }}

        <ul id="images-list"
        data-role="listview"
        data-filter="true"
        data-inset="true"
        data-theme="c"
        data-filter-placeholder="Filter images...">
            {{#each Mist.backendsController}}
                {{#each images}}
                    {{view Mist.ImageListItemView imageBinding="this"}}
                {{/each}}
            {{/each}}
        </ul>

        <div class="bottom-padding"></div>

    </div>

</div>
