    <div data-role="header" data-theme="b">
        <a href="#/keys" data-icon="arrow-l">Keys</a>
        <h1>{{name}}</h1>
        {{view Mist.UserMenuView}}
    </div>

    <div class="single-view-header single-key-header">
        <h3 class="single-view-name">{{name}}</h3>
        <div id="single-key-loader" class="ajax-loader"></div>
    </div>

    <div data-role="content" data-theme="c">

         <div data-role="collapsible" data-collapsed="false">
            <h3>Public Key</h3>
            <div id="public-key">
                <input type="text" readonly="readonly" value="Loading key..."/>
            </div>
        </div>

        <div data-role="collapsible" data-collapsed="false">
            <h3>Private key</h3>
            <a data-role="button" {{action displayPrivateClicked target="view"}}>Display</a>
        </div>

        {{#if machines}}
        <div id="single-key-machines" data-role="collapsible" data-collapsed="false">
            <h3>Machines</h3>
            <ul id="machines-list"
                data-role="listview"
                data-inset="true">
                {{#each view.associatedMachines}}
                    {{view Mist.MachineListItemView machineBinding="this"}}
                {{/each}}
            </ul>
        </div>
        {{/if}}

        <div class="bottom-padding"></div>

    </div>

    <div id="private-key-dialog" data-role="popup" data-overlay-theme="a" data-transition="pop">
        <div data-role="header" data-theme="b">
            <h1>Private Key</h1>
        </div>
        <div data-role="content">
            <textarea id="private-key" readonly="readonly">Loading key...</textarea>
            <button {{action backClicked target="view"}}>Back</button>
        </div>
    </div>

    <div id="dialog-confirm" data-role="popup" data-overlay-theme="a" data-transition="pop">
        <div data-role="header" data-theme="b">
            <h1>{{Mist.confirmationController.title}}</h1>
        </div>
        {{view Mist.ConfirmationDialog data-role="content"}}
    </div>

    <div id="edit-key-dialog" data-role="popup" data-overlay-theme="a" data-transition="pop">
        <div data-role="header" data-theme="b">
            <h1>Rename key</h1>
        </div>
        {{view Mist.EditKeyView data-role="content"}}
    </div>

    <div id="single-key-footer" data-role="footer" data-theme="b">
        <div class="actions" data-role="controlgroup" data-type="horizontal">
            <a id="keys-button-edit"
               data-role="button"
               data-icon="edit"
               {{action editClicked target="view"}}>Rename</a>

            <a id="keys-button-delete"
               data-role="button"
               data-icon="delete"
               {{action deleteClicked target="view"}}>Delete</a>
        </div>
    </div>
