    <div data-role="header">
        <a href="#/keys"
            data-icon="arrow-l"
            data-direction="reverse"
            class="ui-btn-left">Keys</a>
        <h1>{{name}}</h1>
        {{view Mist.UserMenuView}}
    </div>

    <div class="single-view-header">
        <h3 class="single-view-name">{{name}}</h3>
    </div>

    <div data-role="content">

         <div data-role="collapsible" data-collapsed="false">
            <h3>Public Key</h3>
            <div class="public-key">
                <input type="text" readonly="readonly" {{bindAttr value="pub"}}/>
            </div>
        </div>

        {{#if priv}}
        <div data-role="collapsible" data-collapsed="false">
            <h3>Private key</h3>
            <div class="private-key">
                <a data-role="button" {{action displayPrivateClicked target="view"}}>Display</a>
                <div data-role="popup" id="key-private-dialog" data-overlay-theme="a" data-transition="pop">
                    <div data-role="header">
                        <h1>Private Key</h1>
                    </div>
                    {{view Mist.KeyPrivDialog data-role="content"}}
                </div>
            </div>
        </div>
        {{/if}}

        {{#if machines}}
        <div data-role="collapsible" id="single-machines-keys" data-collapsed="false">
            <h3>Machines</h3>
            <ul id="machines-list"
                data-role="listview"
                data-inset="true">
                {{#each view.associatedMachines}}
                    {{view Mist.MachineListItemView machineBinding="this"}}
                {{/each}}
            </ul>
        </div>
        {{/if}}

    </div>

    <div data-role="popup" id="dialog-confirm" data-overlay-theme="a" data-transition="pop">
        <div data-role="header">
            <h1>{{Mist.confirmationController.title}}</h1>
        </div>
        {{view Mist.ConfirmationDialog data-role="content"}}
    </div>

    <div data-role="popup" id="create-key-dialog" data-overlay-theme="a" data-transition="pop">
        <div data-role="header">
            <h1>Edit key</h1>
        </div>
        {{view Mist.AddKeyView data-role="content"}}
    </div>

    <div data-role="footer" id="single-key-footer" data-theme="a">
        <div class="actions" data-role="controlgroup" data-type="horizontal">
            <a id="keys-button-edit"
               data-role="button"
               data-icon="edit"
               {{action editClicked target="view"}}>Edit</a>

            <a id="keys-button-delete"
               data-role="button"
               data-icon="delete"
               {{action deleteClicked target="view"}}>Delete</a>
        </div>
    </div>
