<div data-role="page" id="key" data-theme="c" class="type-interior">

    <div data-role="header">
        <a href="#keys"
            data-icon="arrow-l"
            data-direction="reverse"
            class="ui-btn-left">Keys</a>

        <h1>{{view.key.name}}</h1>

        {{view Mist.UserMenuView}}

    </div>

    <div class="single-view-header">
        <h3 class="single-view-name">{{view.key.name}}</h3>
    </div>

    <div data-role="content">

         <div data-role="collapsible" data-collapsed="false">
            <h3>Public Key</h3>
            <div class="public-key"><input type="text" readonly="readonly" {{bindAttr value="view.key.pub"}} /></div>
        </div>

        <div data-role="collapsible" data-collapsed="false">
            <h3>Private key</h3>
            <div class="private-key">
                <a href="#key-private-dialog"
                    class="action-links"
                    id="key-private-button"
                    data-role="button"
                    data-rel="popup"
                    data-transition="slideup"
                    {{action displayPrivate}}>Display</a>
                <input type="text" readonly="readonly" {{bindAttr value="view.key.priv"}} data-pattern="private key not available" />
            </div>
        </div>

         <div data-role="collapsible" data-collapsed="false">
            <h3>Machines</h3>
            <table id="machine-key-table">
                <tbody>
                    {{#each view.key.machines}}
                    <tr>
                       <td class="key"><a href="">{{this}}</a></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

    </div>

    <div class="keys-footer" data-role="footer" data-theme="a">
        <div class="actions" data-role="controlgroup" data-type="horizontal">
            <a href=""
                class="action-links"
                id="keys-button-delete"
                data-role="button"
                data-icon="delete"
                data-rel="popup"
                data-transition="slideup"
                {{action deleteKey}}>Delete</a>

            <a href=""
                class="action-links"
                id="keys-button-associate"
                data-role="button"
                data-icon="gear"
                data-rel="popup"
                data-transition="slideup"
                {{bindAttr class="disabledAssociateClass"}}
                {{action associateKey}}>Associate</a>
        </div>
    </div>

</div>
