<div id="rename-key-popup"
     class="small-popup"
     data-role="popup"
     data-overlay-theme="b"
     data-transition="slideup">

    <div data-role="header" data-theme="b">
        <h1>Rename key</h1>
    </div>

    <div data-role="content">

        <label for="new-key-name">New name:</label>
        {{view Mist.TextField
               id="new-key-name"
               valueBinding="Mist.keyEditController.newKeyId"}}

        {{#if Mist.keysController.renamingKey}}
        <div class="ajax-loader"></div>
        {{/if}}

        <div class="ok-cancel" data-role="controlgroup" data-type="horizontal">
            <a class="ui-btn ui-btn-a ui-shadow ui-corner-all"
                {{action "backClicked" target="view"}}>Back</a>
            <a id="rename-key-ok" class="ui-btn ui-btn-d ui-shadow ui-corner-all"
                {{action "saveClicked" target="view"}}>Save</a>
        </div>

    </div>

</div>
