    <div data-role="header">
        <a href="#"
           data-icon="home"
           data-role="button"
           data-direction="reverse"
           class="ui-btn-left">Home</a>
        <h1>Keys</h1>
        {{view Mist.UserMenuView}}
    </div>

    <div data-role="content" id="keys">

        <a class="add-button"
           data-theme="b"
           data-icon="plus"
           data-role="button"
           data-iconpos="right"
           {{action createClicked target="view"}}>Create</a>

        <a id="select-keys"
           data-role="button"
           data-icon="arrow-d"
           {{action selectClicked target="view"}}>Select</a>

        <ul id="keys-list"
            data-role="listview"
            data-filter="true"
            data-inset="true"
            data-filter-placeholder="Filter...">
            {{#each Mist.keysController.keys}}
                {{view Mist.KeyListItemView keyBinding="this" class="node"}}
            {{/each}}
        </ul>

        <div class="bottom-padding"></div>
    </div>

    <div data-role="popup" id="create-key-dialog" data-transition="pop" data-overlay-theme="a">
        <div data-role="header">
            <h1>Create key</h1>
        </div>
        {{view Mist.AddKeyView data-role="content"}}
    </div>

    <div data-role="popup" id="select-keys-dialog" data-transition="pop" data-position-to="#select-keys">
        <ul data-role='listview'>
            <li data-icon="false">
                <a {{action selectModeClicked true target="view"}}>All</a>
            </li>
            <li data-icon="false">
                <a {{action selectModeClicked false target="view"}}>None</a>
            </li>
        </ul>
    </div>

    <div data-role="popup" id="dialog-confirm" data-transition="pop" data-overlay-theme="a">
        <div data-role="header">
            <h1>{{Mist.confirmationController.title}}</h1>
        </div>
        {{view Mist.ConfirmationDialog data-role="content"}}
    </div>

    <div data-role="footer" id="keys-footer" data-theme="a">
        <div class="actions" data-role="controlgroup" data-type="horizontal">
            <a id="keys-button-delete"
               data-role="button"
               data-icon="delete"
               {{action deleteClicked target="view"}}>Delete</a>

            <a id="keys-button-associate"
               data-role="button"
               data-icon="gear"
               {{action setDefaultClicked target="view"}}>Set default</a>
        </div>
    </div>
