<div id="create-key-popup" data-role="popup">
    
    <div data-role="header">
        <h1>Create key</h1>
    </div>
    
    <div data-role="content">

        <label for="create-key-name">Name:</label>
        {{view Mist.TextField
               id="create-key-name"
               valueBinding="Mist.keyAddController.newKeyName"}}
        
        <label for="textarea-private-key">Private Key:</label>
        {{view Ember.TextArea
               id="textarea-private-key"
               valueBinding="Mist.keyAddController.newKeyPrivate"}}
    
        <div class="ok-cancel" data-role="controlgroup" data-type="horizontal">
            <button data-icon="gear" {{action "generateClicked" target="view"}}>Generate</button>
            <button data-icon="arrow-u" data-iconpos="right" {{action "uploadClicked" target="view"}}>Upload</button>
        </div>
    
        <input class="upload-input" type="file" name="file" {{action "uploadInputChanged" on="change" target="view"}}/>
    
        <div class="ok-cancel" data-role="controlgroup" data-type="horizontal">
            <a data-role="button" {{action "backClicked" target="view"}}>Back</a>
            <button id="create-key-ok" {{action "createClicked" target="view"}}>Create</button>
        </div>
        
    </div>
    
</div>
