<ul id="key-machines-list"
    data-role="listview"
    data-filter="true"
    data-inset="false"
    data-theme="c">
    {{#each Mist.backendsController}}
        {{#each machines}}
            {{view Mist.KeyMachineListItemView machineBinding="this"}}
        {{/each}}
    {{/each}}
</ul>
<div class="btn-full ok-cancel" data-role="controlgroup" data-type="horizontal">
    <button data-theme="c" {{action "back" target="view"}}>Back</button>
    <button data-theme="b" {{action "associateKeys" target="view"}}>Save</a>
</div>
