<label>{{view Mist.Checkbox checked=key.selected}}</label>

{{#link-to "key" key}}
    <div class="ui-grid-b">
        <div class="ui-block-a key-name">{{key.id}}</div>
        <div class="ui-block-b"></div>
        <div class="ui-block-c key-tags">
            {{#if key.isDefault}}
             <span class="tag">default</span>
            {{/if}}
        </div>
    </div>
{{/link-to}}