<div id="rename-key-popup"
     class="small-popup"
     data-role="popup"
     data-overlay-theme="b"
     data-transition="slideup">

    <div class="ui-header ui-bar-b ui-caps">
        <h1 class="ui-title">Rename key</h1>

        <a href="javascript:void(0)" class="close" data-rel="back">&#10005;</a>
    </div>

    <div data-role="content">

        <label for="new-key-name">New name</label>
        {{view Mist.TextField id="new-key-name" value=Mist.keyEditController.newKeyId}}
        {{#if Mist.keysController.renamingKey}}
        <div class="ajax-loader"></div>
        {{/if}}

        <div class="ok-cancel" data-role="controlgroup" data-type="horizontal">
            <a id="rename-key-ok" class="ui-btn ui-btn-d ui-caps"
                {{action "saveClicked" target=view}}>Save</a>
        </div>

    </div>

</div>
