<div data-role="page" id="keys" data-theme="c">

    <div data-role="header">
        <a href="#home"
            data-icon="home"
            data-direction="reverse"
            class="ui-btn-left">Home</a>

        <h1>Keys</h1>
        {{view Mist.UserMenuView}}

    </div>

    <div data-role="content">
        <a href="#dialog-add-key"
            id="mist-create-key"
            data-rel="popup"
            data-theme="b"
            data-inline="true"
            data-transition="slidedown"
            data-role="button"
            data-icon="plus">Create</a>

        <ul id="keys-list" data-role="listview" data-inset="true" data-theme="c">
            {{#each Mist.keysController}}
                {{view Mist.KeyListView keyBinding="this"}}
            {{/each}}
        </ul>

        <div class="bottom-padding"></div>
    </div>

    <div class="keys-footer" data-role="footer" data-theme="a">
        <div class="actions" data-role="controlgroup" data-type="horizontal">
            <a href=""
                class="action-links"
                id="keys-button-delete"
                data-role="button"
                data-icon="delete"
                data-rel="popup"
                data-transition="slideup"
                {{action deleteKey}}>Delete</a>

            <a href=""
                class="action-links ui-disabled"
                id="keys-button-associate"
                data-role="button"
                data-icon="gear"
                data-rel="popup"
                data-transition="slideup"
                {{action setDefault}}>Set default</a>
        </div>
    </div>

</div>
