<label>{{view Mist.Checkbox checkedBinding="view.key.selected"}}</label>

{{#link-to "key" view.key}}

    <div class="ui-grid-b">
        <div class="ui-block-a key-name">{{view.key.id}}</div>
        <div class="ui-block-b"></div>
        <div class="ui-block-c key-tags">
            {{#if view.key.isDefault}}
             <span class="tag">default</span>
            {{/if}}
        </div>
    </div>

{{/link-to}}
