<div id="login-popup" class="mid-popup" data-role="popup" data-overlay-theme="b" data-transition="flip">

    <div class="ui-header ui-bar-b">
        <h1 class="ui-title">Login to mist.io</h1>

        <a href="javascript:void(0)" class="close" {{action "backClicked" target=view}}>&#10005;</a>
    </div>

    <div data-role="content">
        <div class="form-field">
          <label for="login-email">Email</label>
          {{view Mist.TextField
			id="login-email"
			value=Mist.loginController.email}}
        </div>

        <div class="form-field">
          <label for="login-password">Password</label>
          {{view Mist.TextField
			id="login-password"
			type="password"
			value=Mist.loginController.password}}
        </div>

        {{#if Mist.loginController.loggingIn}}
        <div class="ajax-loader"></div>
        {{/if}}

        <div class="ok-cancel" data-role="controlgroup" data-type="horizontal">
            <a id="login-ok" class="ui-btn ui-btn-d ui-caps"
                {{action "loginClicked" target=view}}>Log in</a>
        </div>

    </div>

</div>
