<div class="shell-li" {{bind-attr id="view.command.id"}}>
    <div class="shell-li-header" 
         data-collapsed="false"
         data-role="collapsible" 
         data-mini="true" 
         data-iconpos="right" 
         data-collapsed-icon="arrow-d"
         data-expanded-icon="arrow-u">
        <h3>{{view.command.command}}
            {{#if view.command.pendingResponse}}
            <div class="ajax-loader"></div>
            {{/if}}
        </h3>
        <div class="shell-li-body">
            <pre>{{view.command.response}}</pre>
        </div>
    </div>
</div>
