<div id="manage-keys" 
     data-role="panel" 
     data-position="right" 
     data-theme="b"
     data-display="overlay">
     
    <div data-role="header">
        <h1>Manage Keys</h1>
    </div>
    <button id="associate-key-button" 
            data-theme="b" 
            data-icon="plus" 
            data-iconpos="right" 
            {{action associateButtonClicked target="view"}}>Associate</button>
    {{#if keys}}
    <div>
        <ul id="associated-keys" data-role="listview">
            {{#each keys}}
            <div class="associated-key" {{action associatedKeyClicked this target="view"}}>
                  {{this.name}}
            </div>
            {{/each}}
        </ul>
    </div>
    {{/if}}
    <div class="ajax-loader"></div>
    <button {{action backClicked target="view"}}>Back</button>
</div>

<div id="key-actions" data-role="popup">
    <div data-role="header">
        <h1>Actions</h1>
    </div>
    
    <div id="key-actions-container">
        <button id="key-action-remove" {{action actionRemoveClicked target="view"}}>Remove</button>
        <button id="key-action-upload" {{action actionUploadClicked target="view"}}>Upload private</button>
        <button id="key-action-probe" {{action actionProbeClicked target="view"}}>Probe</button>
        <button id="key-action-back" {{action actionBackClicked target="view"}}>Back</button>
    </div>
    <div id="action-upload-key">
        <input type="file" id="key-action-upload-key" name="file" {{action uploadInputChanged on="change" target="view"}} />
    </div>
</div>

<div id="associate-key-dialog" data-role="popup">
    <ul id="non-associated-keys" data-role="listview">
        {{#each restKeys}}
        <li data-icon="false" data-corners="true">
            <a {{action associateKeyClicked this target="view"}}>{{this.name}}</a>
        </li>
        {{/each}}
        <li data-icon="false" data-corners="true" data-theme="b"> 
            <a {{action createKeyClicked target="view"}}>New key</a>
        </li>
    </ul>
</div>

<div id="dialog-add-key" data-role="popup" class="mist-dialog">
    <div data-role="header">
        <h1>Create key</h1>
    </div>
    {{view Mist.AddKeyView data-role="content"}}
</div>
