{{#if view.machine.isNotGhost}}
    <li class="node prov-{{unbound view.machine.backend.provider}}">
        <fieldset class="list-item">
            <label>
                {{view Mist.Checkbox checkedBinding="view.machine.selected"}}
            </label>
        </fieldset>
        {{#linkTo machine view.machine}}
            <h3 class="name">{{view.machine.name}}</h3>
    
            <span class="caption-wrapper">
                <h3 {{bindAttr class="view.machine.state :state"}}>{{view.machine.state}}</h3>
                {{#if view.machine.hasAlert}}
                <span class="ui-li-count node-icon ui-icon ui-icon-alert alert-icon"></span>
                {{/if}}
            </span>
            
            <p class="description">          
                <span class="tag backend ui-btn-corner-all prov-{{unbound backend.provider}}">{{view.machine.backend.title}}</span>
    
                {{#each view.machine.tags}}
                <span class="tag ui-btn-corner-all">{{this}}</span>
                {{/each}}
                <span class="monitoring-container" {{bindAttr id="view.machine.id" class=":action-links view.disabledMonitoringClass"}}>
                    {{#if view.machine.hasMonitoring}}
                        <span class="ui-li-count node-icon monitoring-icon ui-btn-corner-all">&nbsp;</span>
                    {{/if}}
                </span>            
            </p>
            
    
            <span class="bubble-container">
                {{#if probing}}
                    <span class="ui-li-count node-icon probing-icon ui-btn-corner-all"></span>                
                {{else}}
                    {{#if probed}}
                    <span class="ui-li-count node-icon key-icon ui-btn-corner-all"></span>
                    {{else}}
                    <span class="ui-li-count node-icon no-key-icon ui-btn-corner-all"></span>
                    {{/if}}
                {{/if}}
            </span>
        {{/linkTo}}
    </li>
{{else}}
    <li class="node ghost" data-icon="delete">
        <a href="#" {{action disassociateGhostMachine target="view"}}>
  
            <h3 class="name">{{view.machine.name}}</h3>
    
            <span class="caption-wrapper">
                <h3 {{bindAttr class="view.machine.state :state"}}>{{view.machine.state}}</h3>
                {{#if view.machine.hasAlert}}
                <span class="ui-li-count node-icon ui-icon ui-icon-alert alert-icon"></span>
                {{/if}}
            </span>
            
            <p class="description">          
                <span class="tag backend ui-btn-corner-all prov-{{unbound backend.provider}}">{{view.machine.backend.title}}</span>
    
                {{#each view.machine.tags}}
                <span class="tag ui-btn-corner-all">{{this}}</span>
                {{/each}}
                <span class="monitoring-container" {{bindAttr id="view.machine.id" class=":action-links view.disabledMonitoringClass"}}>
                    {{#if view.machine.hasMonitoring}}
                        <span class="ui-li-count node-icon monitoring-icon ui-btn-corner-all">&nbsp;</span>
                    {{/if}}
                </span>            
            </p>
            
    
            <span class="bubble-container">
                {{#if view.machine.probed}}
                <span class="ui-li-count node-icon key-icon ui-btn-corner-all"></span>
                {{else}}
                    {{#if view.machine.isNotGhost}}
                    <span class="ui-li-count node-icon no-key-icon ui-btn-corner-all"></span>
                    {{/if}}
                {{/if}}
            </span>
        </a>
    </li>
{{/if}}
