<div id="dialog-power" class="mist-dialog" data-role="popup" data-overlay-theme="a">
    <div data-role="header">
        <h1>Actions</h1>
    </div>
    <div data-role="content">
        <a data-role="button"
            data-theme="b"
            {{bindAttr class=":single-action-button view.canReboot"}}
            {{action reboot target="view"}}>Reboot</a>

        <a data-role="button"
            data-theme="b"
            {{bindAttr class=":single-action-button view.canShutdown:can-stop"}}
            {{action shutdown target="view"}}>Shutdown</a>

        <a data-role="button"
            data-theme="b"
            {{bindAttr class=":single-action-button view.canDestroy"}}
            {{action destroy target="view"}}>Destroy</a>

        <a data-role="button"
            data-theme="b"
            {{bindAttr class=":single-action-button view.canStart"}}
            {{action start target="view"}}>Start</a>

        <a data-role="button" data-rel="back" data-theme="c">Back</a>
    </div>
</div>
