<div id="machine-shell"
     class="huge-popup"
     data-role="popup"
     data-theme="b"
     data-overlay-theme="b"
     data-transition="slideup">

    <div data-role="header">
        <h1>{{Mist.machineShellController.machine.user}}@
            {{Mist.machineShellController.machine.name}}</h1>
    </div>

    <div data-role="content">
        <div id="shell-return" data-theme="a">
            <span class="fontSizeTest">-</span>

        </div>
        <div class="ui-grid-a shell-back">
            <a data-role="button"
               data-theme="a"
               {{action "backClicked" target="view"}}>Back</a>
        </div>

    </div>
</div>
