<div class="field-wrapper tag-item">
    {{input value=tag.key placeholder="key"}}
    {{input value=tag.value placeholder="value"}}
    <a class="ui-btn icon-xx ui-btn-icon-notext" {{action "deleteClicked" target=view}}></a>
</div>
