<span class="small-list-item">

    <p>{{this}}</p>

    <button class="ui-btn ui-btn-a ui-icon-delete ui-btn-icon-notext ui-shadow ui-corner-all" {{action "deleteClicked" target="view"}}></button>

</span>
