<div id="machine-metric-add-screen" class="ui-popup-screen ui-screen-hidden ui-overlay-b"></div>
<div id="machine-metric-add-popup"
     class="ui-popup-container ui-popup-hidden ui-body-inherit ui-overlay-shadow ui-corner-all mid-popup">

    <div id="machine-metric-add"
         class="ui-popup ui-corner-all"
         data-role="popup"
         data-enhanced="true"
         data-transition="slideup"
         data-position-to="#add-metric-btn">

        <div data-role="header" data-theme="b">
            <h1>Add metric</h1>
        </div>

        <div role="main" class="ui-content" data-theme="a">


        </div>
    </div>
</div>
