<div data-role="page" id="machines" data-theme="c">

    <div data-role="header">

        <a href="#home"
        data-icon="home"
        data-direction="reverse"
        class="ui-btn-left">Home</a>

        <h1>Machines</h1>

        <a href="#dialog-providers"
        data-rel="dialog"
        data-role="button"
        data-iconpos="notext"
        data-transition="slidedown"
        data-icon="check"
        {{bindAttr class="Mist.backendsController.state :state-providers"}}>Providers</a>

    </div>

    <div data-role="content">

        {{view Mist.Select
            data-native-menu="false"
            name="select-machines"
            id="mist-select-machines"
            contentBinding="Mist.selectMachinesController.content"
            selectionBinding="Mist.selectMachinesController.selection"
            optionLabelPath="content.name"
            optionValuePath="content.id"
            prompt="Select Machines"
        }}

        <a href="#dialog-add" 
        id="mist-create-machine"
        data-rel="popup"
        data-theme="b"
        data-inline="true"
        data-transition="slidedown"
        data-role="button"
        data-icon="plus"
        data-rel="popup"
        data-position-to="window" >Create</a>

        <ul id="machines-list" 
        data-role="listview"
        data-filter="true"
        data-inset="true"
        data-theme="c"
        data-filter-placeholder="Filter machines...">
            {{#each Mist.backendsController}}
                {{#each this.machines}}
                    {{view Mist.MachineListView machineBinding="this"}}
                {{/each}}
            {{/each}}
        </ul>

        <div class="bottom-padding"></div>

    </div>

    <div id="machines-footer" data-role="footer" data-theme="a">

        <div id="actions" data-role="controlgroup" data-type="horizontal">
            <a href="#dialog-shell"
            class="action-links"
            id="machines-button-shell"
            data-role="button"
            data-icon="gear"
            data-rel="popup"
            data-transition="slidedown"
            {{bindAttr class="disabledShellClass"}}
            data-position-to="window">Shell</a>

            <a href="#dialog-tags"
            class="action-links"
            id="machines-button-tags"
            data-role="button"
            data-icon="grid"
            data-rel="popup"
            data-transition="slidedown"
            {{bindAttr class="disabledTagClass"}}
            data-position-to="window">Tag</a>

            <a href="#dialog-power"
            class="action-links"
            id="machines-button-power"
            data-role="button"
            data-icon="mist-power"
            data-rel="popup"
            data-transition="slidedown"
            {{bindAttr class="disabledPowerClass"}}
            data-position-to="window">Power</a>
        </div>

</div>
