<div id="machine-manual-monitoring">

    <div id="machine-manual-monitoring-message">
        <p>Mist.io cannot install the collectd monitoring deamon on your server
        because you have not provided any SSH keys</p>
        <p>You can either associate a key or install collectd manualy: </p>
    </div>

    <div id="machine-manual-monitoring-btns" data-rule="ui-grid-b">
        <div class="ui-block-a">
            <button data-theme="d" {{action "associateClicked" target="view"}}>Associate key</button>
        </div>
        <div class="ui-block-b">
            <button data-theme="d" {{action "manualInstallationClicked" target="view"}}>Manual installation</button>
        </div>
        <div class="ui-block-c">
            <button {{action "backClicked" target="view"}}>Back</button>
        </div>
    </div>

    <div id="machine-manual-monitoring-commands">
        <ol>
            <li><span class="manual-command"> sudo mkdir -p /opt/mistio-collectd; </span></li>
            <li><span class="manual-command"> cd /opt/mistio-collectd; </span></li>
            <li><span class="manual-command"> sudo wget https://mist.io/core/scripts/deploy_collectd.sh; </span></li>
            <li><span class="manual-command"> sudo chmod +x deploy_collectd.sh; </span></li>
            <li><span class="manual-command"> sudo ./deploy_collectd.sh {{view.monitor_server}} {{view.uuid}} {{view.passwd}} <span></li>
        </ol>
    </div>

</div>
