<div data-role="dialog" id="dialog-add" class="mist-dialog">
  <div data-role="header">
    <h1>Create Machine</h1>
  </div>
  <div data-role="content" data-theme="c">
    <label for="create-machine-name">1. Name:</label>
    {{view Mist.TextField valueBinding="Mist.machineAddController.newMachineName" 
    name="create-machine-name" id="create-machine-name"}}
    
    <label for="create-select-provider">2. Provider:</label>
    
    {{view Mist.Select contentBinding="Mist.backendsController"
                          optionLabelPath="content.title"
                          optionValuePath="content.provider"
                          prompt="Select Provider"
                          selectionBinding="Mist.machineAddController.newMachineBackend"
                          class="create-select" data-theme="c" data-icon="check"
                          data-native-menu="false" id="create-select-provider"
                          name="create-select-provider"
                          disabled="disabled"
    }}
    
    <label for="create-select-image">3. Image:</label> 
    
    {{view Mist.Select contentBinding="Mist.machineAddController.newMachineBackend.images"
                          optionLabelPath="content.name"
                          optionValuePath="content.id"
                          prompt="Select Image"
                          selectionBinding="Mist.machineAddController.newMachineImage"
                          class="create-select" data-theme="c" data-icon="check"
                          data-native-menu="false" id="create-select-image"
                          name="create-select-image"
                          disabled="disabled"
    }}
    
    <label for="create-select-size">4. Size:</label>

    {{view Mist.Select contentBinding="Mist.machineAddController.newMachineBackend.sizes"
                          optionLabelPath="content.name"
                          optionValuePath="content.id"
                          prompt="Select Size"
                          selectionBinding="Mist.machineAddController.newMachineSize"
                          class="create-select" data-theme="c" data-icon="check"
                          data-native-menu="false" id="create-select-size"
                          name="create-select-size"
                          disabled="disabled"
    }}

    <label for="create-select-location">5. Location:</label>

    {{view Mist.Select contentBinding="Mist.machineAddController.newMachineBackend.locations"
                          optionLabelPath="content.name"
                          optionValuePath="content.id"
                          prompt="Select Location"
                          selectionBinding="Mist.machineAddController.newMachineLocation"
                          class="create-select" data-theme="c" data-icon="check"
                          data-native-menu="false" id="create-select-location"
                          name="create-select-location"
                          disabled="disabled"
    }}

    <div class="cost">Cost: {{Mist.machineAddController.newMachineCost}}</div>
        
     <div id="create-ok-cancel" class="btn-full" data-role="controlgroup"
      data-type="horizontal">
      <button id="create-cancel" class="btn-left-full" data-theme="c"
      {{action "backClicked" }}>Back</button>
      <button id="create-ok" class="btn-right-full"
        data-theme="b" {{action "newMachineClicked" }} disabled="disabled">Launch!</button>
    </div>
  </div>
</div>