<div id="machine-shell-popup" 
     class="huge-popup" 
     data-role="popup"
     data-theme="b"
     data-overlay-theme="b" 
     data-transition="slideup">

    <div data-role="header">
        <h1>{{Mist.machineShellController.machine.user}}@
            {{Mist.machineShellController.machine.name}}</h1>
    </div>

    <div data-role="content">
        <div class="ui-grid-a" id="shell-grid">
            <div class="ui-block-a" id="shell-input">
                {{view Mist.ShellTextField data-theme="a" valueBinding="Mist.machineShellController.command"}}
            </div>
            <div class="ui-block-b" id="shell-submit">
                <button data-theme="d" data-icon="shell-return" autofocus="true" {{action "submitClicked" target="view"}}></button>
            </div>
            <div class="ui-block-a" id="shell-response" data-role="listview" data-theme="a">
            {{#each Mist.machineShellController.machine.commandHistory}}
                {{view Mist.machineShellListItemView commandBinding="this"}}
            {{/each}}
            </div>
            <div class="ui-grid-a" id="shell-back">
                <a data-role="button" data-theme="a" {{action "backClicked" target="view"}}>Back</a>
            </div>
        </div>
    </div>
</div>
