<div id="manage-keys" data-role="panel" data-position="right" data-display="overlay" >
    
    <div data-role="header">
        <h1>Manage Keys</h1>
    </div>
    <br>    
    {{#if keys}}
        <label for="machine-associated-keys" style="display:block;">Associated keys:</label>
        <ul id="machine-associated-keys">
        {{#each keys}}     
            <div class="associated-key">
                <a data-role="button"
                    data-icon="delete"
                    data-inline="true"
                    data-iconpos="notext"
                    {{action disassociateClicked this target="view"}}></a>
                {{this.name}}
            </div>         
        {{/each}}
        </ul>
    {{else}}
    <label>There aren't any keys associated with this machine</label>
    {{/if}}
    
    <div class="ajax-loader"></div>
        
    <button data-theme="b" {{action associateKeyClicked target="view"}}>Associate Key</button>
    
    <button {{action cancelManageKeysClicked target="view"}}>Back</button>
    
</div>


<!-- ASSOCIATE KEY DIALOG -->

<div data-role="popup" id="associate-key-dialog" class="mist-dialog" data-overlay-theme="a">

    <!-- HEADER -->
    
    <div data-role="header">
        <h1>Associate key</h1>
    </div>
    
    <!-- CREATE BUTTON -->
    
    <button data-theme="b" {{action createKeyClicked target="view"}}>Create Key</button>
    
    <!-- KEYS LIST -->
    
    {{#if restKeys}}
    <br>
    <ul id="non-associated-keys" data-role="listview">
        
        <li data-role="list-devider" data-theme="a">Existing Keys</li>
        
        {{#each restKeys}}
        <li data-icon="false" data-corners="true">
            <a href="#" {{action selectKey this target="view"}}>{{this.name}}</a>
        </li>
        {{/each}}
        
    </ul>
    {{/if}}
    
    <!-- BACK BUTTON -->
    
    <button {{action cancelAssociateKeyClicked target="view"}}>Back</button>

</div>

<!-- CREATE KEY DIALOG -->

<div data-role="popup" id="dialog-add-key" class="mist-dialog" data-overlay-theme="a">

    <div data-role="header">
        <h1>Create key</h1>
    </div>
    
    {{view Mist.AddKeyView data-role="content"}}
</div>