<div data-role="popup" id="dialog-power" class="mist-dialog" data-overlay-theme="a" style="width: 400px; max-width:400px;">
    <div data-role="header">
        <h1>Actions</h1>
    </div>
    <div data-role="content">
        <a data-role="button" {{bindAttr class=":single-action-button view.canReboot"}} {{action reboot target="view"}}>Reboot</a>
        <a data-role="button" {{bindAttr class=":single-action-button view.canShutdown:can-stop"}} {{action shutdown target="view"}}>Shutdown</a>
        <a data-role="button" {{bindAttr class=":single-action-button view.canDestroy"}} {{action destroy target="view"}}>Destroy</a>
        <a data-role="button" {{bindAttr class=":single-action-button view.canStart"}} {{action start target="view"}}>Start</a>
        <a data-role="button" data-rel="back" data-theme="b">Close</a>
        
    </div>
</div>
