<div id="machine-keys-panel" class="side-panel" data-role="panel" data-position="right" data-display="overlay">

    <div data-role="header">
        <h1>Manage Keys</h1>
    </div>

    <div data-role="content">

        <a id="associate-btn"
           data-role="button"
           data-theme="b"
           {{action "associateClicked" target="view"}}>Associate</a>

        {{#if Mist.machineKeysController.associatedKeys}}
        <ul data-role="listview">
            {{#each Mist.machineKeysController.associatedKeys}}
                {{view Mist.machineKeysListItemView keyBinding="this"}}
            {{/each}}
        </ul>
        {{/if}}
        
        {{#if Mist.keysController.associatingKey}}
            <div class="ajax-loader"></div>
        {{else}} {{#if Mist.keysController.disassociatingKey}}
            <div class="ajax-loader"></div>
        {{/if}} {{/if}}
        
        <a data-role="button" {{action "backClicked" target="view"}}>Back</a>

    </div>

</div>

{{view Mist.addKeyView}}

<div id="key-actions-popup" class="tiny-popup" data-role="popup" data-overlay-theme="b" data-transition="flip" 
                                                                                        data-position-to="#associated-keys"
                                                                                        data-dismissible="false">
    <div data-role="header">
        <h1>Actions</h1>
    </div>
    
    <div data-role="content">
        <button {{action "removeClicked" target="view"}}>Remove</button>
        <button {{action "probeClicked" target="view"}}>Probe</button>
        <button {{action "cancelClicked" target="view"}}>Cancel</button>
    </div>
</div>

<div id="non-associated-keys-popup" class="tiny-popup" data-role="popup" data-overlay-theme="b" data-transition="flip"
                                                                                        data-position-to="#associate-btn">
    <ul data-role="listview">
        {{#each Mist.machineKeysController.nonAssociatedKeys}}
        <li data-icon="false">
            <a {{action "nonAssociatedKeyClicked" this target="view"}}>{{this.id}}</a>
        </li>
        {{/each}}
        <li data-icon="false" data-theme="b"> 
            <a {{action "newKeyClicked" target="view"}}>New key</a>
        </li>
    </ul>
</div>
