<!-- Popup Overlay -->

<div id="machine-manual-monitoring-screen"
    class="ui-popup-screen ui-overlay-b ui-screen-hidden">
</div>

<!-- Popup Wrapper -->

<div id="machine-manual-monitoring-popup"
    class="flip
        ui-popup-container
        ui-popup-hidden
        ui-popup-truncate">

    <!-- Popup -->

    <div id="machine-manual-monitoring"
        class="large-popup
            ui-popup
            ui-body-inherit
            ui-overlay-shadow
            ui-corner-all"
        data-role="popup"
        data-transition="flip"
        data-dismissible="false">

        <!-- Header -->

        <div class="ui-header ui-bar-b" role="banner">
            <h1 class="ui-title">
                Enable Monitoring
            </h1>
        </div>

        <!-- Body -->

        <div class="ui-content ui-body-a" role="main">

            <p>Automatic installation of monitoring requires an SSH key.</p>
            <p>Run this command on your server for manual installation: </p>

            <div id="manual-monitoring-command" {{action "selectCommandText" on="click" target="view"}}>
                {{Mist.machineManualMonitoringController.command}}
            </div>

            <div class="ok-cancel" data-role="controlgroup" data-type="horizontal">
                <a class="ui-btn ui-corner-all" {{action "cancelClicked" target="view"}}>Cancel</a>
                <a class="ui-btn ui-btn-d ui-corner-all" {{action "doneClicked" target="view"}}>Done</a>
            </div>
        </div>
    </div>
</div>
