<!-- Popup Overlay -->

<div id="machine-edit-screen"
    class="ui-popup-screen
        ui-overlay-b
        ui-screen-hidden">
</div>

<!-- Popup Wrapper -->
<div id="machine-edit-popup"
     class="pop
        ui-popup-container
        ui-popup-hidden
        ui-popup-truncate">

    <!-- Popup -->

    <div id="machine-edit"
         class="mid-popup
            ui-popup
            ui-body-a
            ui-overlay-shadow
            ui-corner-all"
         data-role="popup"
         data-enhanced="true"
         data-transition="flip">

         <!-- Header -->

        <div class="ui-header ui-bar-b">
            <h1 class="ui-title">Rename machine</h1>

            <a href="javascript:void(0)" class="close" {{action "backClicked" target=view}}>&#10005;</a>
        </div>

        <!-- Body -->

        <div role="main" class="ui-content" data-theme="a">

            <!-- New machine name text field -->
            <form {{action "saveClicked" on="submit" target=view}}>
                <div id="machine-edit-new-name-wrapper" class="required {{if Mist.machineEditController.newName 'filled' 'empty'}}">
                    <label for="machine-edit-new-name">New name</label>
                    {{view Mist.TextField
                        id="machine-edit-new-name"
                        value=Mist.machineEditController.newName}}
                </div>                

                {{#if Mist.machineEditController.renamingMachine}}
                    <div class="ajax-loader"></div>
                {{/if}}

                <div class="ok-cancel" data-role="controlgroup" data-type="horizontal" >
                    <button type="submit" id="machine-edit-ok"
                        class="ui-btn ui-btn-d ui-caps">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
