<li class="prov-{{unbound content.backend.provider}}"><a
    href="#single-machine" {{action "checkBoxClick" on="click"}}> <input name="chk-{{unbound machine.id}}"
        type="checkbox" class="custom" id="chk-{{unbound machine.id}}" /> <label
        for="chk-{{unbound machine.id}}"></label>
        <h3 class="name">{{machine.name}}</h3> <span class="caption-wrapper">
            <h3 class="state state{{unbound machine.state}}"></h3>
            <span class="ui-li-count node-icon ui-icon ui-icon-alert alert-icon"></span>
    </span>
        <p class="description">
            <span class="tag backend ui-btn-corner-all prov-{{unboundbackend.provider}}">{{machine.backend.title}}</span>
            <span class="tag ui-btn-corner-all">tag1</span> <span
                class="tag ui-btn-corner-all">tag2</span>
        </p> <span class="bubble-container"> <span
            class="ui-li-count node-icon key-icon"></span>
    </span>
</a></li>