
    <div data-role="header">

        <a href="#"
            data-icon="home"
            data-direction="reverse"
            class="ui-btn-left">Home</a>

        <h1>Machines</h1>

        {{view Mist.UserMenuView}}

    </div>

    <div data-role="content" id="machines">

        {{view Mist.Select
            data-native-menu="true"
            name="select-machines"
            id="mist-select-machines"
            contentBinding="Mist.selectMachinesController.content"
            selectionBinding="Mist.selectMachinesController.selection"
            optionLabelPath="content.name"
            optionValuePath="content.id"
            prompt="Select Machines"}}

        <a href="#dialog-add"
        id="mist-create-machine"
        data-rel="dialog"
        data-theme="b"
        data-inline="true"
        data-transition="slidedown"
        data-role="button"
        data-icon="plus">Create</a>

        <ul id="machines-list"
        data-role="listview"
        data-filter="true"
        data-inset="true"
        data-theme="c"
        data-filter-placeholder="Filter machines...">
            {{#each Mist.backendsController}}
                {{#each machines}}
                    {{view Mist.MachineListItemView machineBinding="this"}}
                {{/each}}
            {{/each}}
        </ul>

        <div class="bottom-padding"></div>

    </div>

    <div class="machines-footer" data-role="footer" data-theme="a">

        <div class="actions" data-role="controlgroup" data-type="horizontal">
            <a href="#dialog-tags"
                class="action-links"
                id="machines-button-tags"
                data-role="button"
                data-icon="grid"
                data-rel="popup"
                data-transition="slideup"
                {{bindAttr class="disabledTagClass"}}
                {{action openTags target="view"}}>Tag</a>

            <a href="#dialog-shell"
                class="action-links"
                id="machines-button-shell"
                data-role="button"
                data-icon="gear"
                data-rel="popup"
                data-transition="slideup"
                {{bindAttr class="disabledShellClass"}}>Shell</a>

            <a href="#dialog-power"
                class="action-links"
                id="machines-button-power"
                data-role="button"
                data-icon="mist-power"
                data-rel="popup"
                data-transition="slideup"
                {{bindAttr class="disabledPowerClass"}}>Power</a>
        </div>

    </div>
    
    {{view Mist.MachineTagsDialog}}
