<div id="machine-tags-popup"
     class="large-popup"
     data-role="popup"
     data-overlay-theme="b"
     data-transition="flip">

     <div class="ui-header ui-bar-b ui-caps">
         <h1 class="ui-title">Manage Tags</h1>

         <a href="javascript:void(0)" class="close" {{action "backClicked" target=view}}>&#10005;</a>
     </div>

    <div data-role="content" data-theme="a">

        <form {{action "addClicked" on="submit" target=view}}>
            {{#each Mist.machineTagsController.newTags as |tag|}}
                {{component "machine-tags-list-item" tag=tag}}
            {{/each}}

            {{#if Mist.machineTagsController.addingTag}}
                <div class="ajax-loader"></div>
            {{/if}}

            {{#if Mist.machineTagsController.deletingTag}}
                <div class="ajax-loader"></div>
            {{/if}}

            <a id="add-tag-item" class="ui-btn ui-caps back" {{action "addItem" target=view}}>Add Item</a>
            <button type="submit" id="add-tag-ok" class="ui-btn ui-btn-d ui-shadow ui-caps">Save Tags</button>
        </form>

    </div>

</div>
