<div data-role="header" data-theme="b">

    <a href="#"
       data-icon="home"
       data-direction="reverse"
       class="ui-btn-left">Home</a>

    <h1>Machines</h1>

    {{view Mist.UserMenuView}}

</div>

<div data-role="content" id="machines" data-theme="c">

    {{view Mist.MachineAddView}}

    <a href="#"
       id="select-machines"
       data-role="button"
       data-icon="arrow-d"
       {{action "selectClicked" target="view"}}>Select</a>

    <ul id="machines-list"
        data-role="listview"
        data-filter="true"
        data-inset="true"
        data-filter-placeholder="Filter...">
        {{#each Mist.backendsController}}
            {{#each this.machines}}
                {{view Mist.MachineListItemView machineBinding="this"}}
            {{/each}}
        {{/each}}
    </ul>

    <div class="bottom-padding"></div>
</div>

<div id="select-machines-popup" data-role="popup" data-transition="pop" data-position-to="#select-machines">
    <ul id="select-machines-listmenu" data-role="listview">
        <li data-icon="false">
            <a href="#" {{action "selectOptionClicked" "all" target="view"}}>All</a>
        </li>
        <li data-icon="false">
            <a href="#" {{action "selectOptionClicked" "none" target="view"}}>None</a>
        </li>
        {{#each Mist.backendsController.content}}
        <li data-icon="false">
            <a href="#" {{action "selectOptionClicked" this target="view"}}>{{this.title}}</a>
        </li>
        {{/each}}
    </ul>
</div>

<div data-role="popup" id="dialog-confirm" data-transition="pop" class="mist-dialog" data-theme="a">
    <div data-role="header" data-theme="b">
        <h1 id="dialog-confirm-title">{{Mist.confirmationController.title}}</h1>
    </div>
    {{view Mist.ConfirmationDialog data-role="content"}}
</div>

<div id="machines-footer" data-role="footer" data-theme="b">
    <div class="actions" data-role="controlgroup" data-type="horizontal">
        <a href="#"
            id="machines-button-tags"
            {{bindAttr class=":action-links view.disabledTagClass"}}
            data-role="button"
            data-icon="grid"
            {{action openTags target="view"}}>Tag</a>
            {{view Mist.MachineTagsDialog machineBinding="Mist.backendsController.selectedMachine"}}

        <a href="#"
            id="machines-button-shell"
            data-role="button"
            data-icon="gear"
            {{action openShell target="view"}}>Shell</a>
            {{view Mist.ShellDialog machineBinding="Mist.backendsController.selectedMachine"}}

        <a href="#"
            id="machines-button-power"
            {{bindAttr class=":action-links view.disabledPowerClass"}}
            data-role="button"
            data-icon="mist-power"
            {{action openActions target="view"}}>Power</a>
            {{view Mist.MachineActionsDialog machineBinding="Mist.backendsController.selectedMachine"}}

    </div>

</div>
