<div id="machine-shell"
     data-role="popup"
     data-theme="b"
     data-dismissible="false"
     data-overlay-theme="b"
     data-transition="slideup">

    <div data-role="content" data-theme="b">
        <div id="shell-return"></div>
        <a id="shell-back" class="ui-btn ui-btn-a ui-shadow ui-corner-all"
            {{action "backClicked" target="view"}}>Back</a>
    </div>
</div>
