<label>{{view Mist.Checkbox checked=member.selected}}</label>

{{#link-to "team" member}}
    <div class="ui-grid-b">
        <div class="ui-block-a member-name">{{member.name}}</div>
        <div class="ui-block-b member-email">{{member.email}}</div>
        <div class="ui-block-c"></div>
    </div>
{{/link-to}}
