{{#if view.node.isEndNode}}

    <a class="end-node
        ui-btn
        ui-btn-b
        ui-corner-all"
        {{action "selectMetric" target="view"}}>{{view.node.text}}</a>

{{else}}

    <a class="parent-node
        ui-btn
        ui-corner-all
        ui-btn-icon-left
        ui-icon-carat-d"
        {{action "toggleUnfold" target="view"}}>{{view.node.text}}</a>

    {{#if view.unfold}}
        {{#each view.node.subTargets}}
            {{view Mist.metricNodeView nodeBinding="this"}}
        {{/each}}
    {{/if}}

{{/if}}
