<div id="metric-add-screen" class="ui-popup-screen ui-screen-hidden ui-overlay-b"></div>
<div id="metric-add-popup"
     class="ui-popup-container ui-popup-hidden ui-body-inherit ui-overlay-shadow ui-corner-all mid-popup">

    <div id="metric-add"
         class="ui-popup ui-corner-all"
         data-role="popup"
         data-enhanced="true"
         data-transition="flip">

        <div data-role="header" data-theme="b">
            <h1>Add metric</h1>
        </div>

        <div role="main" class="ui-content" data-theme="a">

            <label for="metric-add-name">Name:</label>
            {{view Mist.TextField
                   id="metric-add-name"
                   valueBinding="Mist.metricAddController.newMetricName"}}

            <label>Metric:</label>
            <div id="metric-add-metric"
                 data-role="collapsible"
                 data-iconpos="right"
                 data-collapsed-icon="arrow-d"
                 data-expanded-icon="arrow-u"
                 data-theme="a"
                 class="mist-select">
                <h2>
                    {{#if Mist.metricAddController.newMetricTarget}}
                        {{Mist.metricAddController.newMetricTarget}}
                    {{else}}
                        Select Metric
                    {{/if}}
                    {{#if Mist.metricAddController.loadingMetrics}}
                        <div class="ajax-loader"></div>
                    {{/if}}
                </h2>
                <ul data-role="listview" data-theme="a">
                    {{#each Mist.metricAddController.metrics}}
                        <li data-icon="false">
                            <a {{action "selectMetric" this target="view"}}>{{this.name}}</a>
                        </li>
                    {{/each}}
                </ul>
            </div>

            {{#if Mist.metricsController.addingMetric}}
                <div class="ajax-loader"></div>
            {{/if}}

            <div class="ok-cancel" data-role="controlgroup" data-type="horizontal">
                <a class="ui-btn ui-btn-a ui-corner-all" {{action "backClicked" target="view"}}>Back</a>
                <a class="ui-btn ui-btn-d ui-corner-all ui-state-disabled"
                    id="metric-add-ok" {{action "addClicked" target="view"}}>Add</a>
            </div>
        </div>
    </div>
</div>
