<div id="metric-add-screen" class="ui-popup-screen ui-screen-hidden"></div>
<div id="metric-add-popup"
     class="ui-popup-container mid-popup ui-popup-hidden ui-body-inherit ui-corner-all">

    <div id="metric-add"
         class="ui-popup ui-corner-all"
         data-role="popup"
         data-enhanced="true"
         data-transition="flip"
         data-position-to="#add-metric-btn">
            {{#if Mist.metricAddController.metricsTree}}
                {{view Mist.metricNodeView nodeBinding="Mist.metricAddController.metricsTree"}}
            {{/if}}
    </div>
</div>
