<div id="error-page" data-role="page" class="ui-page-active ui-page">

    <!-- Page header -->
    <div class="ui-header ui-bar-a">
        <div class="header-grid">
            <div class="ui-grid-b">
                <div class="ui-block-a">
                    <a href="#" id="banner-logo"></a>
                </div>
                <div class="ui-block-b"></div>
                <div class="ui-block-c">
                    <div class="user-menu">{{component "user-menu"}}</div>
                </div>
            </div><!-- /grid-b -->
        </div>
    </div>

    <section class="error-message">
        <div role="main" class="row" data-theme="a">
            <div id="error-inner" class="container">
                <img src="/resources/images/404.png" alt=""/>
                <div id="message">
                    <h1>404</h1>
                    <h2>We are sorry, the page you requested<br>cannot be found</h2>
                    <a href="#" id="back" class="btn-large">Back to Mist.io</a>
                </div>
            </div>
        </div>
    </section>
    <section class="error-footer">
        <div class="container">
            <div role="aside" class="row">
                <div class="col l4 m4 s12 center">
                    <p>Make sure you <a href="http://docs.mist.io" target="_blank">consult our Docs</a> if you are developing on Mist.io</p>
                </div>
                <div class="col l4 m4 s12 center">
                    <p>You can also <a href="http://docs.mist.io/contact" target="_blank">contact us</a> if you have questions</p>
                </div>
                <div class="col l4 m4 s12 center">
                    <p>Found a bug? File an issue at our <a href="https://github.com/mistio/mist.io" target="_blank">github repository</a></p>
                </div>
                <div class="col center footer-logo">
                    <img src="/resources/images/op-logo-single-52.png" alt=""/>
                </div>
            </div>
        </div>
    </section>

</div>
