            <!-- Graphs -->
            <div id="cpuGraph" class="graph">
            	<div class='header'>
                        <div class="title">CPU (%)</div>
                        <div class='closeBtn' {{action "clickedCollapse" view.cpuGraph target="view"}}>-</div>
                  </div>
            </div>
            <div id="loadGraph" class="graph">
                  <div class='header'>
                        <div class="title">Load</div>
                        <div class='closeBtn' {{action "clickedCollapse" view.loadGraph target="view"}}>-</div>
                  </div>
            </div>
            <div id="memGraph" class="graph">
                  <div class='header'>
                        <div class="title">Memory</div>
                        <div class='closeBtn' {{action "clickedCollapse" view.memGraph target="view"}}>-</div>
                  </div>
            </div>

            <div id="diskReadGraph" class="graph">
                  <div class='header'>
                        <div class="title">Disk Read (B/s)</div>
                        <div class='closeBtn' {{action "clickedCollapse" view.diskReadGraph target="view"}}>-</div>
                  </div>
            </div>

            <div id="diskWriteGraph" class="graph">
                  <div class='header'>
                        <div class="title">Disk Write (B/s)</div>
                        <div class='closeBtn' {{action "clickedCollapse" view.diskWriteGraph target="view"}}>-</div>
                  </div>
            </div>

            <div id="networkTXGraph" class="graph">
                  <div class='header'>
                        <div class="title">Network tx (B/s)</div>
                        <div class='closeBtn' {{action "clickedCollapse" view.networkTXGraph target="view"}}>-</div>
                  </div>
            </div>

            <div id="networkRXGraph" class="graph">
                  <div class='header'>
                        <div class="title">Network rx (B/s)</div>
                        <div class='closeBtn' {{action "clickedCollapse" view.networkRXGraph target="view"}}>-</div>
                  </div>
            </div>


            <!-- Graph Buttons -->
            <div id="graphBar">
                  <div id ="cpuGraphBtn" class="graphBtn" {{action "clickedExpand" view.cpuGraph target="view"}}>
                        <div class="leftPart">+</div>
                        <div class="rightPart">CPU</div>
                  </div>
                  <div id ="loadGraphBtn" class="graphBtn" {{action "clickedExpand" view.loadGraph target="view"}}>
                        <div class="leftPart">+</div>
                        <div class="rightPart">Load</div>
                  </div>
                  <div id ="memGraphBtn" class="graphBtn" {{action "clickedExpand" view.memGraph target="view"}}>
                        <div class="leftPart">+</div>
                        <div class="rightPart">Memory</div>
                  </div>
            </div>