<div id="single-network-page" data-role="page" class="ui-page-active" data-theme="c">

    <div data-role="header" data-theme="b">

        <a href="#/networks" class="responsive-button" data-icon="arrow-l">Networks</a>

        <h1>{{name}}</h1>

        {{view Mist.userMenuView}}

    </div>

    <div data-role="content" data-theme="c">

        <div id="single-network-info" data-role="collapsible" data-collapsed="false">

            <h3>Network Information</h3>

            <table class="info-table">
                <tr>
                    <td>Name</td>
                    <td>{{name}}</td>
                </tr>
                <tr>
                    <td>Id</td>
                    <td>{{id}}</td>
                </tr>
                <tr>
                    <td>Cidr</td>
                    <td>{{cidr}}</td>
                </tr>
                {{#if floating_ips.length}}
                    <td>Floating IPs</td>
                    <td>
                        {{#each floating_ips}}
                            <div class="ip">{{this}}</div>
                        {{/each}}
                    </td>

                {{/if}}
            </table>

        </div>

        {{#if view.extra.length}}
        <div id="single-network-extra" data-role="collapsible" data-collapsed="false">

            <h3>Extra</h3>

            <table class="info-table">
                {{#each view.extra}}
                <tr>
                    <td>{{key}}</td>
                    <td>{{value}}</td>
                </tr>
                {{/each}}
            </table>

        </div>
        {{/if}}

        <div class="mid-padding"></div>

    </div>

    <div class="tri-action-footer" data-role="footer" data-theme="b">
    </div>

</div>
