<div id="single-network-page" data-role="page" class="ui-page-active" data-theme="c">

    <div data-role="header" data-theme="b">

        <a href="#/networks" class="responsive-button" data-icon="arrow-l">Networks</a>

        <h1>{{name}}</h1>

        {{view Mist.userMenuView}}

    </div>

    <div data-role="content" data-theme="c">

        <div id="single-network-info" data-role="collapsible" data-collapsed="false">

            <h3>Network Information</h3>

            <table class="info-table">
                <tr>
                    <td>Name</td>
                    <td>{{name}}</td>
                </tr>
                <tr>
                    <td>Id</td>
                    <td>{{id}}</td>
                </tr>
                {{#if status}}
                <tr>
                    <td>Status</td>
                    <td>{{status}}</td>
                </tr>
                {{/if}}
            </table>

        </div>

        {{#if view.network.subnets}}
        <div id="single-network-subnets" data-role="collapsible" data-collapsed="false">

            <h3>Subnets ({{subnets.length}})</h3>

            {{#each subnets}}
            <table class="info-table">
                {{#if this.name}}
                <tr>
                    <td class="subnet-name">Name</td>
                    <td class="subnet-name">{{this.name}}</td>
                </tr>
                {{/if}}
                {{#if this.id}}
                <tr>
                    <td>Id</td>
                    <td>{{this.id}}</td>
                </tr>
                {{/if}}
                {{#if this.zone}}
                <tr>
                    <td>Zone</td>
                    <td>{{this.zone.name}}</td>
                </tr>
                {{/if}}
                {{#if this.cidr}}
                <tr>
                    <td>Cidr</td>
                    <td>{{this.cidr}}</td>
                </tr>
                {{/if}}
                {{#if this.enable_dhcp}}
                <tr>
                    <td>DHCP Enabled</td>
                    <td>{{this.enable_dhcp}}</td>
                </tr>
                {{/if}}
                {{#if this.gateway_ip}}
                <tr>
                    <td>Gateway IP</td>
                    <td>{{this.gateway_ip}}
                </tr>
                {{/if}}
                {{#if this.dns_nameservers.length}}
                <tr>
                    <td>DNS Nameservers</td>
                    <td>
                        {{#each this.dns_nameservers}}
                            <div class="ip">{{this}}</div>
                        {{/each}}
                    </td>
                </tr>
                {{/if}}
                {{#if allocation_pools.length}}
                <tr>
                    <td>Allocation pools</td>
                    <td>
                        {{#each this.allocation_pools}}
                            <div class="ip">{{this.start}}</div> -
                            <div class="ip">{{this.end}}</div>
                        {{/each}}
                    </td>
                </tr>
                {{/if}}

                {{#if this.ipaddress_list_status}}
                <tr>
                    <td class="usable-ips" colspan="2">
                        <h4>Usable ip addresses ({{this.ipaddress_list_status.length}})</h4>
                        <table>
                            {{#each this.ipaddress_list_status}}
                            <tr>
                                <td>{{this.ipaddress}}</td>
                                <td>
                                    <div class="reserved">
                                        <select name="flip-7" id="flip-7" data-role="slider" data-mini="true"
                                                {{action "reservedToggleSwitched" target="view" on="change"}}>
                                            <option value="off"></option>
                                            <option value="on">Reserved</option>
                                        </select>
                                    </div>
                                    <fieldset data-role="controlgroup" data-type="horizontal">
                                        <select name="machine-select" data-mini="true">
                                            <option value="#">{{this.server.name}}</option>
                                            <option value="#">Two</option>
                                            <option value="#">Three</option>
                                        </select>
                                    </fieldset>

                                </td>
                            </tr>
                        {{/each}}
                        </table>
                    </td>
                </tr>
                {{/if}}
                </table>
            {{/each}}
        </div>
        {{/if}}

        {{#if view.network.backend.isNephoscale}}
        <div id="single-network-ips" data-role="collapsible" data-collapsed="false">

            <h3>Usable ip addreses</h3>

            <table class="info-table">
                {{#each view.network.ipaddresses}}
                <tr>
                    <td class="ip-addr">{{this.address}}</td>
                    <td class="ip-assign">{{this.machine}}
                        {{#if this.available}}
                        <a data-role="button"
                           data-mini="true"
                           data-icon="plus"
                           data-iconpos="right"
                           data-theme="a"
                           {{action "assignClicked" target="view"}}>assign
                        </a>
                        {{/if}}
                    </td>
                        <td class="ip-reserve">{{this.reserved}}</td>
                </tr>
                {{/each}}
            </table>
        </div>
        {{/if}}


        <div class="mid-padding"></div>

    </div>

    {{view Mist.confirmationDialog}}
    {{#if view.network.backend.isOpenStack}}
    <div class="single-action-footer" data-role="footer" data-theme="b">
        <a class="ui-btn ui-corner-all ui-btn-icon-right ui-icon-delete"
            {{action "deleteClicked" target="view"}}>
                Delete
        </a>
    </div>
    {{/if}}
</div>
