{{#if orgActive}}
    <a href="javascript:void(0)" class="ui-btn ui-btn-icon-left ui-mini icon-teams org-active">{{organization.name}}</a>
{{else}}
    <a href="/switch_context/{{organization.id}}" class="ui-btn ui-btn-icon-left ui-mini icon-teams">{{organization.name}}</a>
{{/if}}
