<div id="policy-operator-screen" class="ui-popup-screen ui-screen-hidden ui-overlay-b"></div>
<div id="policy-operator-popup"
     class="ui-popup-container ui-popup-hidden ui-body-inherit ui-overlay-shadow">

    <div id="policy-operator"
         class="ui-popup"
         data-role="popup"
         data-enhanced="true"
         data-transition="flip">

        <ul data-role="listview">
            {{#each view.operatorOptions as |operator|}}
            <li data-icon="false">
                <a class="ui-btn" {{action "operatorClicked" operator target=view}}>
                    {{operator}}
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
