<div class="rule-box" id="{{unbound id}}">

    <div class="rule-if">if</div>

    <a class="rule-button metric ui-btn ui-btn-inline ui-shadow ui-corner-all"
        {{action "openMetricPopup" target="view"}}>
            {{metric.name}}
    </a>

    <a class="rule-button operator ui-btn ui-btn-inline ui-shadow ui-corner-all"
        {{action "openOperatorPopup" target="view"}}>
            {{operator.symbol}}
    </a>

    <div class="rule-unit">
        {{metric.unit}}
    </div>

    <input class="rule-value" data-highlight="true" type="range"
        {{action "valueChange" on="change" target="view"}}
        {{bindAttr max="metric.maxValue"}}
        {{bindAttr min="metric.minValue"}}
        {{bindAttr value="value"}} />

    <div class="rule-then">then</div>

    <a class="rule-button action ui-btn ui-btn-inline ui-shadow ui-corner-all"
        {{action "openActionPopup" target="view"}}>
            {{actionToTake}}
    </a>

    <a class="ui-btn ui-btn-icon-notext ui-btn-inline ui-icon-gear ui-corner-all"
        {{action "openAdvancedPopup" target="view"}}>&nbsp;</a>

    {{#if pendingAction}}
        <div class="ajax-loader"></div>
    {{else}}
        <div class="delete-rule-container">
            <a class="delete-rule-button ui-btn ui-btn-icon-notext ui-icon-delete ui-corner-all"
                    {{action deleteRuleClicked target="view"}}>&nbsp;</a>
        </div>
    {{/if}}
</div>
