<div class="rules-container" data-role="listview">

    {{#each view.rules}}
        {{view "rule" model=this}}
    {{/each}}

    {{#if Mist.rulesController.creationPending}}
        <div class="rule-box" id="creation-rule">
            <div class="ajax-loader"></div>
        </div>
    {{/if}}

</div>
