<div class="rules-container" data-role="listview">

    {{#each rules as |rule|}}
        {{component "rule-item" rule=rule}}
    {{/each}}

    {{#if Mist.rulesController.creationPending}}
        <div class="rule-box" id="creation-rule">
            <div class="ajax-loader"></div>
        </div>
    {{/if}}

</div>
