<div class="log-list">
    {{#if view.searching}}
        <div class="ajax-loader"></div>
    {{/if}}
    <ul class="ui-listview">
        {{#each Mist.logsController.model as |log|}}
            {{component "log-list-item" log=log}}
        {{/each}}
    </ul>

    {{#if view.fetchingHistory}}
        <div class="ajax-loader"></div>
    {{/if}}
</div>
