<label>{{view Mist.Checkbox checked=script.selected}}</label>

{{#link-to "script" script}}
    <div class="ui-grid-b">
        <div class="ui-block-a script-name">{{script.name}}</div>
        <div class="ui-block-b script-tags">
          <span class="tag">{{script.type}}</span>
        </div>
        <div class="ui-block-c"></div>
    </div>
{{/link-to}}
