<label>{{view Mist.Checkbox checkedBinding="selected"}}</label>

{{#link-to "script" this}}
    <div class="ui-grid-b">
        <div class="ui-block-a">{{name}}</div>
        <div class="ui-block-b">
          <span class="tag">{{type}}</span>
        </div>
        <div class="ui-block-c"></div>
    </div>
{{/link-to}}
