<div class="log-list">
    {{#if view.searching}}
        <div class="ajax-loader"></div>
    {{/if}}

    <ul class="ui-listview ui-listview-inset ui-corner-all ui-shadow"
        data-role="listview"
        data-enhanced="true"
        data-inset="true">
        {{#each Mist.logsController as |log|}}
            {{view "logListItem" log=log}}
        {{/each}}
    </ul>

    {{#if view.fetchingHistory}}
        <div class="ajax-loader"></div>
    {{/if}}

    {{#if view.noMoreLogs}}
        <div class="no-logs"></div>
    {{/if}}
</div>
