<div id="script-add"
    data-swipe-close="false"
    class="side-panel"
    data-role="panel"
    data-position="right"
    data-display="overlay"
    data-theme="c">

    <div data-role="header">
        <h1>Add script</h1>
    </div>

    <div data-role="content" data-theme="a">

        <label for="script-name">Name:</label>
        {{view Mist.TextField
            data-theme="a"
            id="script-name"
            valueBinding=Mist.scriptAddController.newScript.name}}

        <label for="script-url">Url:</label>
        {{view Mist.TextField
            data-theme="a"
            id="script-url"
            valueBinding=Mist.scriptAddController.newScript.url}}

        {{#if Mist.scriptsController.addingScript}}
            <div class="ajax-loader"></div>
        {{/if}}

        <div class="ok-cancel" data-role="controlgroup" data-type="horizontal">
            <a data-role="button" {{action "backClicked" target="view"}} data-theme="a">Back</a>
            <a id="new-script-ok" data-theme="d"
                {{bind-attr class="view.isReady::ui-state-disabled :ui-btn :ui-btn-d"}}
                {{action "addClicked" target="view"}}>Add</a>
        </div>
    </div>
</div>

{{view Mist.fileUploadView}}
