<div id="dialog-shell" class="dialog-shell mist-dialog" data-role="popup" data-overlay-theme="a">
    <div data-role="header">
        <h1>{{view.machine.user}}@{{view.machine.name}}</h1>
    </div>
    <div data-role="content" data-theme="b">
        <div data-role="fieldcontain">
            <table class="shell-input">
                <tr>
                    <td>
                        {{view Mist.ShellTextField
                            autocapitalize="off"
                            autocorrect="off"
                            autocomplete="off"
                            valueBinding="view.command"}}
                    </td>
                    <td class="shell-send-wrapper">
                        <a data-icon="shell-return"
                            data-role="button"
                            data-iconpos="notext"
                            {{action submit target="view"}}
                            class="shell-send"></a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="shell-return">
        {{#each view.shellOutputItems}}
            <h3 class="command">{{command}}</h3>
            <div class="output">{{{output}}}</div>
        {{/each}}
        </div>
        <a data-role="button" data-theme="c" data-rel="back">Back</a>
    </div>
</div>
