<div data-role="dialog" id="dialog-shell" class="mist-dialog">
    <div data-role="header">
        <h1>Shell</h1>
    </div>
    <div data-role="content" data-theme="b">
        <div data-role="fieldcontain">
            <table id="shell-input">
                <tr>
                    <td>{{view Mist.ShellTextField valueBinding="command" controllerBinding="this"}}</td>
                    <td id="shell-send-wrapper">
                        <a id="shell-send" data-icon="shell-return" data-role="button" {{action submit}} {{bindAttr class="disabledClass"}}></a>
                    </td>
                </tr>
            </table>
        </div>
        <div id="shell-return">
        {{#each shellOutputItems}}
            <div class="command">{{command}}</div>
            <div class="output">{{{output}}}</div>
        {{/each}}
        </div>
        <a data-role="button" data-rel="back" data-theme="a" {{action clear}}>Back</a>
    </div>
</div>