<div data-role="popup" id="dialog-shell" class="dialog-shell mist-dialog" data-overlay-theme="a" style="width: 500px; max-width:500px;">
    <div data-role="header">
        <h1>Shell</h1>
    </div>
    <div data-role="content" data-theme="b">
        <div data-role="fieldcontain">
            <table class="shell-input">
                <tr>
                    <td>{{view Mist.ShellTextField autocapitalize="off" valueBinding="command" controllerBinding="this"}}</td>
                    <td class="shell-send-wrapper">
                        <a  data-icon="shell-return" data-role="button" data-iconpos="notext" {{action submit}} {{bindAttr class=":shell-send disabledClass"}}></a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="shell-return">
        {{#each shellOutputItems}}
            <h3 class="command">{{command}}</h3>
            <div class="output">{{{output}}}</div>
        {{/each}}
        </div>
        <a data-role="button" data-rel="back" data-theme="a" {{action clear}}>Back</a>
    </div>
</div>