<div data-role="popup" id="dialog-single-power" class="mist-dialog" data-overlay-theme="a" style="width: 400px; max-width:400px;">
    <div data-role="header">
        <h1>Actions</h1>
    </div>
    <div data-role="content">
        {{#if machine.can_reboot}}
        <a data-role="button" {{action reboot}}>Reboot</a>
        {{/if}}
        {{#if machine.can_stop}}
        <a data-role="button" {{action shutdown}}>Shutdown</a>
        {{/if}}
        {{#if machine.can_destroy}}
        <a data-role="button" {{action destroy}}>Destroy</a>
        {{/if}}
        {{#if machine.can_start}}
        <a data-role="button" {{action start}}>Start</a>
        {{/if}}
        <a data-role="button" data-rel="back" data-theme="b">Close</a>
    </div>
</div>
