<a href="#dialog-providers"
    data-rel="popup"
    data-role="button"
    data-transition="pop"
    data-icon="check"
    data-iconpos="right"
    {{bindAttr class="Mist.backendsController.state :state-providers"}}>me</a>
    
<div id="dialog-providers" class="mist-dialog" data-role="popup">
    <div data-role="content" data-theme="b">
        {{#if email}}
        <img class="gravatar-image" {{bindAttr src="gravatarURL"}} />
        {{email}}
        {{/if}}
        <p>Everything is OK!</p>

        {{#if email}}
        <a href="logout" class="logout-link" data-ajax="false">Logout</a>
        {{/if}}
    </div>
</div>
