<a id="me-btn"
   class="ui-btn-right"
   data-role="button"
   data-icon="user"
   data-iconpos="right"
   {{action "meClicked" target="view"}}>me</a>

<div id="user-menu-popup" data-role="popup" data-transition="flip" data-position-to="#me-btn" data-theme="b">

    <div data-role="content">

        {{#if EMAIL}}
        <img class="gravatar-image" {{bind-attr src="view.gravatarURL"}}/>
        <div class="userEmail">{{EMAIL}}</div>

        <a data-role="button" data-mini="true"
           {{bind-attr href="view.account_url"}}
           {{bind-attr target="view.notLogout"}}>My account</a>
        {{/if}}

        <a href="https://mistio.zendesk.com/access/login"
           target="_blank"
           data-role="button"
           data-mini="true">Support</a>

        {{#if view.logout}}
        <a href="logout" data-role="button" data-mini="true">Logout</a>
        {{/if}}

    </div>

</div>
