a<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="template-edit.html">
<link rel="import" href="template-item.html">
<link rel="import" href="template-run.html">

<dom-module id="template-page">
    <template>
        <style is="custom-style" include="single-page"></style>
        <style include="shared-styles">
        :host {
            display: block;
            background: #fafafa;
        }

        paper-material {
            display: block;
            padding: 20px;
        }

        paper-menu-button paper-button {
            display: block;
        }

        .flex-horizontal-with-ratios {
            @apply(--layout-horizontal);
            align-content: stretch;
        }

        .flexchild {
            @apply(--layout-flex);
        }

        .command-container {
            background-color: #444;
            color: #fff;
            font-family: monospace;
            padding: 10px;
        }

        a {
            color: black;
            text-decoration: none;
        }

        #container {
            background: #fafafa;
        }

        .paper-header [paper-drawer-toggle] {
            margin-left: 10px;
        }

        .paper-header {
            @apply(--layout-horizontal);
        }

        .paper-header {
            height: 60px;
            font-size: 24px;
            line-height: 60px;
            padding: 0 10px;
            color: white;
            transition: height 0.2s;
            transition: font-size 0.2s;
        }

        .paper-header.tall {
            height: 320px;
            font-size: 16px;
        }

        .paper-header h2 {
            margin-left: 20px;
            @apply(--layout-flex);
            text-transform: capitalize;
        }

        .paper-header .toggleViewButton {
            --paper-icon-button-ink-color: transparent;
        }

        .paper-header .cartButton {
            margin-right: 10px;
        }

        #content {
            overflow: auto;
            -webkit-overflow-scrolling: touch;
            padding: 0 10px;
        }

        paper-icon-button {
            transition: all 200ms;
        }

        paper-icon-button.active-sort {
            transform: rotate(180deg);
        }

        paper-icon-button.active-sort::content iron-icon {
            color: #D48900 !important;
        }

        app-bar .menu-icon {
            margin-right: 15px;
        }

        [size=xs] > * {
            display: none;
        }

        [size=xs] app-sidebar paper-toolbar /deep/ #topBar {
            padding: 0 16px;
        }

        [size=xs] app-sidebar {
            min-width: 100%;
            height: auto;
        }

        paper-icon-bottom.bottom {
            padding-right: 8px;
        }
        </style>
        <paper-drawer-panel id="drawerPanel" responsive-width="900px" narrow="{{narrowMode}}" drawer-width="272px" disable-edge-swipe selected="[[section]]">
            <app-sidebar model="[[model]]" tag="[[tag]]" sections="[[sections]]" current="[[section.id]]" drawer></app-sidebar>
            <paper-header-panel id="container" mode="waterfall-tall" view$="[[_actualView(view)]]" main>
                <paper-toolbar class="tall" style$="[[color]]">
                    <paper-icon-button icon="icons:arrow-back" on-tap="_goBack"></paper-icon-button>
                    <span class="title"></span>
                    <app-user-menu email="marios@mist.io"></app-user-menu>
                    <span class="bottom title">Template "[[template.name]]"</span>
                    <paper-tooltip for="scheduleTemplate" position="top">Schedule Template</paper-tooltip>
                    <paper-icon-button id="scheduleTemplate" class="bottom" icon="icons:schedule" on-tap="_scheduleTemplate"></paper-icon-button>
                    <paper-tooltip for="editTemplate" position="top">Edit Template</paper-tooltip>
                    <paper-icon-button id="editTemplate" class="bottom" icon="icons:create" on-tap="_editTemplate"></paper-icon-button>
                    <paper-tooltip for="deleteTemplate" position="top">Delete Template</paper-tooltip>
                    <paper-icon-button id="deleteTemplate" class="bottom" icon="icons:delete" on-tap="_deleteTemplate"></paper-icon-button>
                </paper-toolbar>
                <div class="subhead">
                    <!-- <span class="monospace">Inline template</span> -->
                    <span class="inline pad-right"><img src="../../images/icons/github-circle.svg" class="micon"/></span>
                    <span class="inline pad-right">Template from Github </span>
                    <a href="[[template.template]]" class="inline">
                        <iron-icon icon="icons:link" class="blue-text" id="link-to-template"></iron-icon>
                        <paper-tooltip for="link-to-template" position="bottom">[[template.template]]</paper-tooltip>
                    </a>
                    <div class="fab-top-right">
                        <paper-fab icon="av:play-arrow" on-tap="_runTemplate" id="runTemplateFab"></paper-fab>
                        <paper-tooltip for="runTemplateFab" position="bottom">Create Stacks from Template</paper-tooltip>
                    </div>
                </div>
                <div class="content">
                    <div class="page">
                        <div class="flex-horizontal-with-ratios">
                            <div class="page-block">
                                <h3 class="smallcaps">Description</h3>
                                <p>[[template.description]]</p>
                            </div>
                            <div class="page-block">
                                <h3 class="smallcaps">Created</h3>
                                <p>[[template.created_at]]</p>
                            </div>
                        </div>
                    </div>
                    <div class="page">
                        <div class="flex-horizontal-with-ratios">
                            <div class="page-block">
                                <h3 class="smallcaps">Stacks</h3>
                                [[template.stack.length]]
                                <p hidden$="[[template.stack.length]]">
                                    You have not yet created a stack from template [[template.name]].
                                </p>
                                <paper-button hidden$="[[template.stack.length]]" class="blue pad-left2 pad-right2"> Create Stack</paper-button>
                                <template is="dom-if" if="[[template.stack.length > 0]]">
                                    <iron-list>
                                        <template is="dom-repeat" items="[[template.stack]]">
                                            [[item]]
                                        </template>
                                    </iron-list>
                                </template>
                            </div>
                        </div>
                    </div>
                    <div class="page">
                        <h3 class="smallcaps">Metadata</h3>
                        <paper-material>                        
                            <div class="info-table">
                                <div class="info-body info-group">
                                    <template is="dom-if" if="[[template.description]]">
                                        <div class="info-item flex-horizontal-with-ratios">
                                            <div hidden$="[[!template.description]]" class="flexchild">Description</div>
                                            <div class="flexchild">[[template.description]]</div>
                                        </div>
                                    </template>
                                    <template is="dom-if" if="[[template.created_at]]">
                                        <div class="info-item flex-horizontal-with-ratios">
                                            <div class="flexchild">Created at</div>
                                            <div class="flexchild">[[timestamp]]</div>
                                        </div>
                                    </template>                                
                                    <div class="info-item flex-horizontal-with-ratios">
                                        <div class="flexchild">Type</div>
                                        <div class="flexchild">[[template.exec_type]]</div>
                                    </div>
                                    <template is="dom-if" if="[[template.location_type]]">
                                        <div class="info-item flex-horizontal-with-ratios">
                                            <div class="flexchild">Location</div>
                                            <div class="flexchild">[[template.location_type]]</div>
                                        </div>
                                    </template>
                                    <template is="dom-if" if="[[template.entrypoint]]">
                                        <div class="info-item flex-horizontal-with-ratios">
                                            <div class="flexchild">Entrypoint</div>
                                            <div class="flexchild">
                                                [[template.template]]/[[template.entrypoint]]
                                            </div>
                                        </div>
                                    </template>
                                    <template is="dom-if" if="[[template.stacks.length > 0]]">
                                        <div class="info-item flex-horizontal-with-ratios">
                                            <div class="flexchild">Stacks</div>
                                            <div class="flexchild">[[template.stacks]]</div>
                                        </div>
                                    </template>
                                    <template is="dom-if" if="[[template.template]]">
                                        <div class="info-item flex-horizontal-with-ratios">
                                            <div class="flexchild">Template</div>
                                            <div class="flexchild command-container">[[template.template]]</div>
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </paper-material>
                    </div>                    
                </div>
            </paper-header-panel>
        </paper-drawer-panel>
        <template-edit template="[[template]]"></template-edit>
        <dialog-element></dialog-element>
    </template>
    <script>
    (function() {
        'use strict';

        Polymer({
            is: 'template-page',

            properties: {
                sections: {
                    type: Object
                },
                section: {
                    type: Object
                },
                color: {
                    type: String,
                    computed: '_getHeaderStyle(section)'
                },
                params: {
                    type: Object
                },
                model: {
                    type: Object
                },
                template: {
                    type: Object,
                    computed: '_computeTemplate(params)'
                },
                templateid: {
                    type: String,
                    computed: '_computeTemplateId(params)'
                },
                isInline: {
                    type: Boolean,
                    computed: '_computeIsInline(template.source)'
                },
                created_at: {
                    type: String
                },
                timestamp: {
                    type: String,
                    computed: 'formatTimestamp(template.created_at)'
                }
            },
            listeners: {
                'confirmation': '_deleteTemplateResponse',
                'updateSelectedTemplate': '_updateTemplate'
            },
            getFormattedTimestamp: function (created_at) {
                return new Date(this.created_at).toLocaleString('en-US', {timeZoneName: 'short'});
            },
            _getHeaderStyle: function(section) {
                return 'background-color: ' + section.color + '; color: #fff;';
            },
            _computeId: function(params) {
                return params.id;
            },
            _computeTemplate: function(params) {
                return this.model.templatesArray.find(function(template) {
                    return template._id == params.id;
                }, this);
            },
            _computeTemplateId: function(params) {
                return params.id;
            },
            _computeIsInline: function(source) {
                return source == 'inline';
            },
            _runTemplate: function(e) {
                page.show('/run-template/' + this.template.id);
            },
            _editTemplate: function(e) {
                var el = this.querySelector('template-edit');
                el._openEditTemplateModal();
            },
            _updateTemplate: function(e) {
                var template = e.detail.template;
                this.set('template.name', template.name);
                this.set('template.description', template.description);
            },
            _deleteTemplate: function(e) {
                this._showDialog({
                    title: 'Delete Template?',
                    body: "Deleting templates cannot be undone. You are about to delete template: " + this.template.name ,
                    danger: true,
                    reason: "delete_template"
                });
            },
            _deleteTemplateResponse: function(e) {
                var reason = e.detail.reason,
                    response = e.detail.response;

                if (response.confirmed && reason == "delete_template") {
                    console.log('i ll delete the template');
                    page.show('/templates');
                }
            },
            _showDialog: function(info) {
                var dialog = this.querySelector('dialog-element'),
                    i;
                for (i in info) {
                    dialog[i] = info[i];
                }
                dialog._openDialog();
            },
            _goBack: function(){
                history.back();
            }
        });
    })();
    </script>
</dom-module>
