<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-progress/paper-progress.html">

<link rel="import" href="../helpers/dialog-element.html">
<link rel="import" href="../app-togglable/app-togglable-list.html">

<link rel="import" href="template-edit.html">
<link rel="import" href="template-item.html">
<link rel="import" href="template-run.html">
<link rel="import" href="template-stack-item.html">

<dom-module id="template-page">
    <template>
        <style is="custom-style" include="lists"></style>
        <style is="custom-style" include="single-page"></style>
        <style is="custom-style" include="tags-and-labels"></style>
        <style include="shared-styles">
            :host {
                display: block;
            }

            paper-material {
                display: block;
                padding: 24px;
            }

            paper-material.no-pad {
                padding: 0;
            }

            paper-menu-button paper-button {
                display: block;
            }

            .flex-horizontal-with-ratios {
                @apply(--layout-horizontal);
                align-content: stretch;
            }

            .flexchild {
                @apply(--layout-flex);
            }

            .command-container {
                background-color: #444;
                color: #fff;
                font-family: monospace;
                padding: 10px;
            }

            a {
                color: black;
                text-decoration: none;
            }

            #container {
                background: #fafafa;
            }

            .paper-header [paper-drawer-toggle] {
                margin-left: 10px;
            }

            .paper-header {
                @apply(--layout-horizontal);
            }

            .paper-header {
                height: 60px;
                font-size: 24px;
                line-height: 60px;
                padding: 0 10px;
                color: white;
                transition: height 0.2s;
                transition: font-size 0.2s;
            }

            .paper-header.tall {
                height: 320px;
                font-size: 16px;
            }

            .paper-header h2 {
                margin-left: 20px;
                @apply(--layout-flex);
                text-transform: capitalize;
            }

            .paper-header .toggleViewButton {
                --paper-icon-button-ink-color: transparent;
            }

            .paper-header .cartButton {
                margin-right: 10px;
            }

            #content {
                overflow: auto;
                -webkit-overflow-scrolling: touch;
            }

            paper-icon-button {
                transition: all 200ms;
            }

            paper-icon-button.active-sort {
                transform: rotate(180deg);
            }

            paper-icon-button.active-sort::content iron-icon {
                color: #D48900 !important;
            }

            [size=xs] > * {
                display: none;
            }

            [size=xs] app-sidebar {
                min-width: 100%;
                height: auto;
            }

            paper-icon-bottom.bottom {
                padding-right: 8px;
            }

            .subhead {
                box-sizing: border-box;
                position: absolute;
                width: 100%;
                left: 0;
                height: 57px;
                bottom: -57px;
                right: 0;
                z-index: 9;
                color: rgba(0, 0, 0, 0.87);
            }

            paper-header-panel::content #dropShadow {
                top: 56px;
            }

            paper-toolbar::content #bottomBar .right-actions {
                transition: var(--paper-toolbar-transition, margin-right 0.18s ease-in);
            }

            paper-toolbar:not(.tall)::content #bottomBar .right-actions {
                margin-right: 70px;
            }

            .parsing-loader {
                text-align: center;
                padding: 36px;
            }

            .parsing-loader paper-progress {
                width: 100%;
            }

            .parsing-loader.error paper-progress::content #primaryProgress {
                background-color: var(--red-color);
            }

            .section {
                margin-top: 24px;
                margin-bottom: 24px;
            }

            .red {
                color: var(--red-color);
                background-color: transparent;
            }

            .required {
                font-size: 0.9em;
            }

            .resource-head {
                font-weight: 500;
                padding: 8px 16px;
                opacity: 0.87;
                background-color: #fff;
                border-bottom: 1px solid #ddd;
                margin-bottom: 0;
            }

            .width100 {
                width: 100%;
            }
            /* TODO: better */
            .tag {
                padding: 0.5em;
                display: inline;
            }
        </style>


        <div id="content">
            <paper-material class="single-head layout horizontal" style$="background-color: [[section.color]]">
                <span class="icon"><iron-icon icon="[[section.icon]]"></iron-icon></span>
                <div class="title flex">
                    <h2>
                            [[template.name]]
                        </h2>
                    <div class="subtitle">
                        <span hidden$="[[!isInline]]">Inline Script</span>
                        <span hidden$="[[isInline]]">Script source <a href$="[[template.template]]" target="_blank" class="regular"> [[template.template]] <iron-icon icon="icons:link"></iron-icon>
                                </a>
                            </span>
                    </div>
                </div>
                <div class="item-actions">
                    <paper-button on-tap="_createStack" class="simple"> Create Stack
                        <iron-icon icon="av:play-arrow"></iron-icon>
                    </paper-button>
                </div>
            </paper-material>
            <paper-material class="parsing-loader" hidden$="[[hideprogress]]">
                <h3>Parsing template [[template.name]]</h3>
                <paper-progress id="progress" value="30"></paper-progress>
                <h4>Fetching template metadata may take a while.</h4>
                <a href="/add-template" class="regular blue-link">Cancel Task</a>
            </paper-material>

            <paper-material class="flex-horizontal-with-ratios">
                <div class="page-block" hidden="[[!template.description]]">
                    <h3 class="smallcaps">Description</h3>
                    <p>[[template.description]]</p>
                </div>
                <div class="page-block" hidden="[[!template.timestamp]]">
                    <h3 class="smallcaps">Created</h3>
                    <p>[[timestamp]]
                        <!-- <a href="/members/[[template.user]]" class="regular blue-link">[[template.user]]</a> -->
                    </p>
                </div>
                <div class="page-block" hidden="[[!template.tags]]">
                    <h3 class="smallcaps">Tags
                        <template is="dom-if" if="[[template.tags]]">
                            <span class="id">([[template.tags.length]])</span>
                        </template>
                        <template is="dom-if" if="[[!template.tags]]">
                            <span class="id">(0)</span>
                        </template>
                    </h3>
                    <template is="dom-if" if="[[template.tags]]">
                        <template is="dom-repeat" items="[[template.tags]]">
                            <span class="id tag">[[item.key]] <span hidden="[[!item.value]]">= [[item.value]]</span></span>
                        </template>
                    </template>
                </div>
            </paper-material>
            <div class="section">
                <div class="flex-horizontal-with-ratios">
                    <div class="width100">
                        <template is="dom-if" if="[[hasStacks]]">
                            <paper-material class="no-pad">
                                <h3 class="smallcaps resource-head">stacks created from this template</h3>
                                <template is="dom-repeat" items="[[stacks]]">
                                    <template-stack-item model="[[model]]" stack="[[item]]"></template-stack-item>
                                </template>
                            </paper-material>
                        </template>
                    </div>
                </div>
            </div>
            <div class="page section">
                <h3 class="smallcaps">Metadata</h3>
                <paper-material>
                    <div class="info-table">
                        <div class="info-body info-group">
                            <template is="dom-if" if="[[template.description]]">
                                <div class="info-item flex-horizontal-with-ratios">
                                    <div hidden$="[[!template.description]]" class="flexchild">Description</div>
                                    <div class="flexchild">[[template.description]]</div>
                                </div>
                            </template>
                            <template is="dom-if" if="[[template.created_at]]">
                                <div class="info-item flex-horizontal-with-ratios">
                                    <div class="flexchild">Created at</div>
                                    <div class="flexchild">[[timestamp]]</div>
                                </div>
                            </template>
                            <div class="info-item flex-horizontal-with-ratios">
                                <div class="flexchild">Type</div>
                                <div class="flexchild">[[template.exec_type]]</div>
                            </div>
                            <template is="dom-if" if="[[template.location_type]]">
                                <div class="info-item flex-horizontal-with-ratios">
                                    <div class="flexchild">Location</div>
                                    <div class="flexchild">[[template.location_type]]</div>
                                </div>
                            </template>
                            <template is="dom-if" if="[[template.template]]">
                                <div class="info-item flex-horizontal-with-ratios">
                                    <div class="flexchild">Template</div>
                                    <div class$="flexchild [[class]]">
                                        <a href="[[template.template]]" class="blue-link regular" target="_blank">
                                            [[template.template]]
                                        </a>
                                    </div>
                                </div>
                            </template>
                            <template is="dom-if" if="[[template.entrypoint]]">
                                <div class="info-item flex-horizontal-with-ratios">
                                    <div class="flexchild">Entrypoint</div>
                                    <div class="flexchild">
                                        [[template.entrypoint]]
                                    </div>
                                </div>
                            </template>
                        </div>
                    </div>
                </paper-material>
            </div>
            <template is="dom-if" if="[[template.inputs.length]]">
                <div class="page">
                    <div class="section">
                        <h3 class="smallcaps">Template Inputs </h3>
                        <p> The template will require you to insert the following inputs in order to create a stack from</p>
                        <p class="required"><span class="red">*</span> required fields</p>
                        <paper-material class="no-pad">
                            <table class="info-table">
                                <template is="dom-repeat" items="[[template.inputs]]">
                                    <tr>
                                        <td>[[item.name]] <span id="required" class="red" hidden="[[!item.required]]">*</span></td>
                                        <td>
                                            [[item.description]]</td>
                                    </tr>
                                </template>
                            </table>
                        </paper-material>
                    </div>
                </div>
            </template>
            <template is="dom-if" if="[[template.workflows.length]]">
                <div class="page section">
                    <h3 class="smallcaps">Available Workflows </h3>
                    <p> This template offers the following workflows to be run on stacks created form</p>
                    <paper-material class="no-pad">
                        <table class="info-table">
                            <template is="dom-repeat" items="[[template.workflows]]" as="[[item]]">
                                <tr>
                                    <td>[[item.name]]</td>
                                    <td>[[item.description]]</td>
                                </tr>
                            </template>
                        </table>
                    </paper-material>
                </div>
            </template>
        </div>
        <div class="absolute-bottom-right">
            <paper-fab icon="av:play-arrow" on-tap="_createStack"></paper-fab>
        </div>
        <template-edit template="[[template]]"></template-edit>
        <dialog-element></dialog-element>
    </template>
    <script>
        (function() {
            'use strict';

            Polymer({
                is: 'template-page',

                properties: {
                    sections: {
                        type: Object
                    },
                    section: {
                        type: Object
                    },
                    color: {
                        type: String,
                        computed: '_getHeaderStyle(section)'
                    },
                    params: {
                        type: Object
                    },
                    model: {
                        type: Object
                    },
                    template: {
                        type: Object,
                        computed: '_computeTemplate(params.id, model.templates.*)'
                    },
                    stacks: {
                        type: Array,
                        computed: '_computeStacks(params.id, model.stacksArray.*)'
                    },
                    hasStacks: {
                        type: Boolean,
                        computed: '_computeHasStacks(stacks.*)'
                    },
                    isInline: {
                        type: Boolean,
                        computed: '_computeIsInline(template.source)'
                    },
                    class: {
                        type: String,
                        computed: '_class(isInline)'
                    },
                    timestamp: {
                        type: String,
                        computed: '_getFormattedTimestamp(template.created_at)'
                    },
                    hideprogress: {
                        type: Boolean,
                        value: true
                    },
                    vpHeight: String
                },
                listeners: {
                    'confirmation': '_deleteTemplateResponse',
                    'updateSelectedTemplate': '_updateTemplate'
                },
                ready: function() {
                    var wh = window.innerHeight;
                    this.vpHeight = 'height:' + wh + 'px; overflow: auto;';
                },
                _getFormattedTimestamp: function(created_at) {
                    return new Date(created_at).toLocaleString('en-US', {
                        timeZoneName: 'short'
                    });
                },
                _getHeaderStyle: function(section) {
                    return 'background-color: ' + section.color + '; color: #fff;';
                },
                _hasStacks: function(stacks) {
                    return stacks.base.length > 0;
                },
                _computeTemplate: function(templateid, templates) {
                    return templates.base[templateid];
                },
                _computeIsInline: function(source) {
                    return source == 'inline';
                },
                _computeStacks: function(templateid, stacks) {
                    return stacks.base.filter(function(stack) {
                        return stack.template == templateid;
                    });
                },
                _class: function(isinline) {
                    return isinline ? "command-container" : "";
                },
                _createStack: function(e) {
                    page.show('/create-stack/' + this.template._id);
                },
                _editTemplate: function(e) {
                    var el = this.querySelector('template-edit');
                    el._openEditTemplateModal();
                },
                _updateTemplate: function(e) {
                    var template = e.detail.template;
                    this.set('template.name', template.name);
                    this.set('template.description', template.description);
                },
                _deleteTemplate: function(e) {
                    this._showDialog({
                        title: 'Delete Template?',
                        body: "Deleting templates cannot be undone. You are about to delete template: " + this.template.name,
                        danger: true,
                        reason: "delete_template"
                    });
                },
                _deleteTemplateResponse: function(e) {
                    var reason = e.detail.reason,
                        response = e.detail.response;

                    if (response.confirmed && reason == "delete_template") {
                        console.log('i ll delete the template');
                        page.show('/templates');
                    }
                },
                _showDialog: function(info) {
                    var dialog = this.querySelector('dialog-element'),
                        i;
                    for (i in info) {
                        dialog[i] = info[i];
                    }
                    dialog._openDialog();
                },
                _goBack: function() {
                    history.back();
                },
                toggleAll: function(e) {
                    var t = e.target;


                    var els = this.querySelectorAll('app-togglable');
                    [].forEach.call(els, function(el, index) {
                        el.open = true;
                    });
                }
            });
        })();
    </script>
</dom-module>
