<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<dom-module id="template-item">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
            }

            paper-card {
                display: block;
            }

            .flex-horizontal-with-ratios {
                @apply(--layout-horizontal);
                align-items: center;
                flex: 1 100%;
            }

            .flexchild {
                @apply(--layout-flex);
            }

            #check {
                display: inline-block;
                vertical-align: middle;
            }

            app-check {
                margin-right: 16px;
            }

            :host:hover paper-checkbox,
            paper-checkbox[checked] {
              display: inline-block;
            }
        </style>
        <paper-item class$="info-item [[indexClass]]">
            <div class="flex-horizontal-with-ratios">
                <span class="check">
                    <app-check id="check" allselected="{{allselected}}" checked="{{selected}}" selected="{{selected}}" on-tap="_selectTemplate"></app-check>
                    <paper-tooltip for="check" position="right">Select item</paper-tooltip>
                </span>            
                <a is="pushstate-anchor" class="regular flexchild flex-horizontal-with-ratios" href="/templates/[[template._id]]">
                    <span class="name flexchild">[[template.name]]</span>
                    <div class="flexchild">[[template.location_type]]</div>
                </a>
            </div>
            <content></content>
        </paper-item>
    </template>
    <script>
        (function() {
            'use strict';

            Polymer({
                is: 'template-item',

                properties: {
                    template: {
                        type: Object
                    },
                    selected: {
                        type: Boolean,
                        value: false,
                        notify: true
                    },
                    index: {
                        type: Number
                    },
                    count: {
                        type: Number
                    },
                    indexClass: {
                        type: String,
                        computed: '_computeIsIndexClass(index, count)'
                    }
                },
                listeners: {
                    'selected-changed': '_selectTemplateChanged'
                },
                _computeIsIndexClass: function(index, count) {
                    var classes = [];
                    classes.push(
                        (index + 1) % 2 == 0 ? 'even' : 'odd',
                        index + 1 == count ? 'last' : null
                    );
                    return classes.join(' ');
                },
                _selectTemplateChanged: function(e) {
                    var selected = e.detail.value;
                    this.fire('toggleSelectedTemplate', {
                        template: this.template,
                        selected: selected
                    });
                },
                _templateUrl: function(template){
                    return "/templates/"+template.id;
                },
                _selectTemplate: function(e) {
                    // This is used to prevent event bubbling
                    e.stopPropagation();
                    if (Polymer.dom(e).localTarget === this.$.check) {
                        this.set('selected', !this.selected);
                        this.fire('list-item-select', {
                            item: this
                        });
                    }
                }
            });
        })();
    </script>
</dom-module>
