<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../app-togglable/app-togglable-list.html">
<link rel="import" href="template-edit.html">
<link rel="import" href="template-item.html">
<link rel="import" href="template-run.html">

<dom-module id="template-page"> 
    <template>
        <style is="custom-style" include="lists"></style>
        <style is="custom-style" include="single-page"></style>
        <style include="shared-styles">
        :host {
            display: block;
            background: #fafafa;
        }

        paper-material {
            display: block;
            padding: 8px;
        }

        paper-material.no-pad {
            padding: 0;
        }

        paper-menu-button paper-button {
            display: block;
        }

        .flex-horizontal-with-ratios {
            @apply(--layout-horizontal);
            align-content: stretch;
        }

        .flexchild {
            @apply(--layout-flex);
        }

        .command-container {
            background-color: #444;
            color: #fff;
            font-family: monospace;
            padding: 10px;
        }

        a {
            color: black;
            text-decoration: none;
        }

        #container {
            background: #fafafa;
        }

        .paper-header [paper-drawer-toggle] {
            margin-left: 10px;
        }

        .paper-header {
            @apply(--layout-horizontal);
        }

        .paper-header {
            height: 60px;
            font-size: 24px;
            line-height: 60px;
            padding: 0 10px;
            color: white;
            transition: height 0.2s;
            transition: font-size 0.2s;
        }

        .paper-header.tall {
            height: 320px;
            font-size: 16px;
        }

        .paper-header h2 {
            margin-left: 20px;
            @apply(--layout-flex);
            text-transform: capitalize;
        }

        .paper-header .toggleViewButton {
            --paper-icon-button-ink-color: transparent;
        }

        .paper-header .cartButton {
            margin-right: 10px;
        }

        #content {
            overflow: auto;
            -webkit-overflow-scrolling: touch;
            padding: 0 10px;
        }

        paper-icon-button {
            transition: all 200ms;
        }

        paper-icon-button.active-sort {
            transform: rotate(180deg);
        }

        paper-icon-button.active-sort::content iron-icon {
            color: #D48900 !important;
        }

        app-bar .menu-icon {
            margin-right: 15px;
        }

        [size=xs] > * {
            display: none;
        }

        [size=xs] app-sidebar {
            min-width: 100%;
            height: auto;
        }

        paper-icon-bottom.bottom {
            padding-right: 8px;
        }
        .subhead {
            box-sizing: border-box;
            position: absolute;            
            width: 100%;
            left: 0;
            height: 57px;
            bottom: -57px;
            right: 0;
            z-index: 9;
            color: rgba(0,0,0,0.87);
        }
        .content {
            margin-top: 57px;
        }
        paper-header-panel ::content #dropShadow {
            top: 56px;
        }
        paper-toolbar ::content #bottomBar .right-actions{
            transition: var(--paper-toolbar-transition, margin-right 0.18s ease-in);
        }
        paper-toolbar:not(.tall) ::content #bottomBar .right-actions{
            margin-right: 70px;
        }
        .parsing-loader {
            text-align: center;
            margin: 36px;
            padding: 36px;
        }
        .parsing-loader paper-progress {
            width: 100%;
        }
        .parsing-loader.error paper-progress ::content #primaryProgress {
            background-color: var(--red-color);
        }
        </style>
        <paper-drawer-panel id="drawerPanel" responsive-width="900px" narrow="{{narrowMode}}" drawer-width="272px" disable-edge-swipe selected="[[section]]">
            <app-sidebar model="[[model]]" tag="[[tag]]" sections="[[sections]]" current="[[section.id]]" drawer></app-sidebar>
            <paper-header-panel id="container" mode="waterfall-tall" main>
                <paper-toolbar class="tall" style$="[[color]]">
                    <paper-icon-button icon="icons:arrow-back" on-tap="_goBack"></paper-icon-button>
                    <span class="title"></span>
                    <app-user-menu email="marios@mist.io"></app-user-menu>
                    <span class="bottom title">Template "[[template.name]]"</span>

                    <span class="bottom right-actions">                        
                        <paper-tooltip for="scheduleTemplate" position="top">Schedule Template</paper-tooltip>
                        <paper-icon-button id="scheduleTemplate" icon="icons:schedule" on-tap="_scheduleTemplate"></paper-icon-button>
                        <paper-tooltip for="editTemplate" position="top">Edit Template</paper-tooltip>
                        <paper-icon-button id="editTemplate" icon="icons:create" on-tap="_editTemplate"></paper-icon-button>
                        <paper-tooltip for="deleteTemplate" position="top">Delete Template</paper-tooltip>
                        <paper-icon-button id="deleteTemplate" icon="icons:delete" on-tap="_deleteTemplate"></paper-icon-button>
                    </span>

                    <div class="subhead bottom">
                        <span class="monospace" hidden$="[[!isInline]]">Inline template</span>
                        <div hidden="[[isInline]]">
                            <span class="pad-right micon-wrap"><img src="../../images/icons/github-circle.svg" class="micon"/></span>
                            <span class="pad-right">Template from Github </span>
                            <a href="[[template.template]]" target="_blank">
                                <iron-icon icon="icons:link" class="blue-link" id="link-to-template"></iron-icon>
                                <paper-tooltip for="link-to-template" position="bottom">[[template.template]]</paper-tooltip>
                            </a>
                        </div>
                        <div class="fab-top-right">
                            <paper-fab icon="av:play-arrow" on-tap="_createStack" id="runTemplateFab"></paper-fab>
                            <paper-tooltip for="runTemplateFab" position="bottom">Create Stacks from Template</paper-tooltip>
                        </div>
                    </div>
                </paper-toolbar>
                
                <div class="content" style$="[[vpHeight]]">
                    <div class="page">
                        <div class="parsing-loader" hidden$="[[hideprogress]]">
                            <h3>Parsing template [[template.name]]</h3>
                            <paper-progress id="progress" value="30"></paper-progress>
                            <h4>Fetching template metadata may take a while.</h4>
                            <a href="/add-template" class="regular blue-link">Cancel Task</a>
                        </div>

                        <div class="flex-horizontal-with-ratios">
                            <div class="page-block">
                                <h3 class="smallcaps">Description</h3>
                                <p>[[template.description]]</p>
                            </div>
                            <div class="page-block">
                                <h3 class="smallcaps">Created</h3>
                                <p>[[template.created_at]] from <a href="/members/[[template.user]]" class="regular blue-link">[[template.user]]</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="page">
                        <div class="flex-horizontal-with-ratios">
                            <div class="page-block">
                                <h3 class="smallcaps">Stacks</h3>
                                <p hidden$="[[hasStacks]]">
                                    You have not yet created a stack from template [[template.name]].
                                </p>
                                <paper-material if="[[hasStacks]]" class="no-pad">
                                    <iron-list is="dom-if" if="[[hasStacks]]" items="[[stacks]]">
                                        <template is="dom-repeat">
                                            <div class="row">
                                                <!-- this will be replaced by "stack-item" element -->
                                                <paper-item class="flex-horizontal">
                                                <span class="flexchild"><a href="/stacks/[[item.id]]">[[item.name]]</a></span>  <span class="opaque54">[[item.resources_description]] 3 machines, 2 keys, 1 network</span></paper-item>
                                            </div>
                                        </template>
                                    </iron-list>
                                </paper-material>
                                <paper-button class="blue pad-left2 pad-right2" hidden$="[[hasStacks]]" on-tap="_createStack"> Create <span hidden$="[[!hasStacks]]">new</span> Stack</paper-button>
                            </div>
                        </div>
                    </div>
                    <div class="page">
                        <h3 class="smallcaps">Metadata</h3>
                        <paper-material>
                            <div class="info-table">
                                <div class="info-body info-group">
                                    <template is="dom-if" if="[[template.description]]">
                                        <div class="info-item flex-horizontal-with-ratios">
                                            <div hidden$="[[!template.description]]" class="flexchild">Description</div>
                                            <div class="flexchild">[[template.description]]</div>
                                        </div>
                                    </template>
                                    <template is="dom-if" if="[[template.created_at]]">
                                        <div class="info-item flex-horizontal-with-ratios">
                                            <div class="flexchild">Created at</div>
                                            <div class="flexchild">[[timestamp]]</div>
                                        </div>
                                    </template>                                
                                    <div class="info-item flex-horizontal-with-ratios">
                                        <div class="flexchild">Type</div>
                                        <div class="flexchild">[[template.exec_type]]</div>
                                    </div>
                                    <template is="dom-if" if="[[template.location_type]]">
                                        <div class="info-item flex-horizontal-with-ratios">
                                            <div class="flexchild">Location</div>
                                            <div class="flexchild">[[template.location_type]]</div>
                                        </div>
                                    </template>
                                    <template is="dom-if" if="[[template.template]]">
                                        <div class="info-item flex-horizontal-with-ratios">
                                            <div class="flexchild">Template</div>
                                            <div class$="flexchild [[class]]">
                                                <a href="[[template.template]]" class="blue-link regular" target="_blank">
                                                    [[template.template]]
                                                </a>
                                            </div>
                                        </div>
                                    </template>                                    
                                    <template is="dom-if" if="[[template.entrypoint]]">
                                        <div class="info-item flex-horizontal-with-ratios">
                                            <div class="flexchild">Entrypoint</div>
                                            <div class="flexchild">
                                                [[template.entrypoint]]
                                            </div>
                                        </div>
                                    </template>
                                    <template is="dom-if" if="[[template.stacks.length > 0]]">
                                        <div class="info-item flex-horizontal-with-ratios">
                                            <div class="flexchild">Stacks</div>
                                            <div class="flexchild">[[template.stacks]]</div>
                                        </div>
                                    </template>                                    
                                </div>
                            </div>
                        </paper-material>
                    </div>      
                    <div class="page">
                        <app-togglable-list title="Inputs" items="[[template.inputs]]"></app-togglable-list>
                    </div>
                    <div class="page">
                        <app-togglable-list title="Workflows" items="[[template.workflows]]"></app-togglable-list>
                    </div>
                </div>
            </paper-header-panel>
        </paper-drawer-panel>
        <template-edit template="[[template]]"></template-edit>
        <dialog-element></dialog-element>
    </template>
    <script>
    (function() {
        'use strict';

        Polymer({
            is: 'template-page',

            properties: {
                sections: {
                    type: Object
                },
                section: {
                    type: Object
                },
                color: {
                    type: String,
                    computed: '_getHeaderStyle(section)'
                },
                params: {
                    type: Object
                },
                model: {
                    type: Object
                },
                template: {
                    type: Object,
                    computed: '_computeTemplate(params)'
                },
                hasStacks: {
                    type: Boolean,
                    value: false,
                    computed: '_hasStacks(template)'
                },
                stacks: {
                    type: Array,
                    computed: '_computeStacks(template)'  
                },
                templateid: {
                    type: String,
                    computed: '_computeTemplateId(params)'
                },
                isInline: {
                    type: Boolean,
                    computed: '_computeIsInline(template.source)'
                },
                class: {
                    type: String,
                    computed: '_class(isInline)'
                },
                timestamp: {
                    type: String,
                    computed: '_getFormattedTimestamp(template.created_at)'
                },
                hideprogress: {
                    type: Boolean,
                    value: true
                },
                vpHeight: String
            },
            listeners: {
                'confirmation': '_deleteTemplateResponse',
                'updateSelectedTemplate': '_updateTemplate'                
            },
            ready: function() {
                var wh = window.innerHeight;
                this.vpHeight = 'height:'+ wh +'px; overflow: auto;';
            },
            _getFormattedTimestamp: function (timestamp) {
                return new Date(timestamp).toLocaleString('en-US', {timeZoneName: 'short'});
            },
            _getHeaderStyle: function(section) {
                return 'background-color: ' + section.color + '; color: #fff;';
            },
            _hasStacks: function(template){
                if (template.stacks.length > 0)
                    return true;
                return false;
            },
            _computeId: function(params) {
                return params.id;
            },
            _computeTemplate: function(params) {
                return this.model.templatesArray.find(function(template) {
                    return template._id == params.id;
                }, this);
            },
            _computeTemplateId: function(params) {
                return params.id;
            },
            _computeIsInline: function(source) {
                return source == 'inline';
            },
            _computeStacks: function(template){
                var stacks = [];
                if (template.stacks) {
                    var templateStacks = template.stacks;
                    this.model.stacksArray.find(function(stack) {
                        var stackId = stack.id;
                        if (templateStacks.indexOf(stackId) > -1) {
                            stacks.push(stack);
                        }
                    }, this);
                }
                return stacks;
            },
            _class: function(isinline){
                return isinline ? "command-container" : "";
            },
            _createStack: function(e) {
                page.show('/create-stack/' + this.template._id);
            },
            _editTemplate: function(e) {
                var el = this.querySelector('template-edit');
                el._openEditTemplateModal();
            },
            _updateTemplate: function(e) {
                var template = e.detail.template;
                this.set('template.name', template.name);
                this.set('template.description', template.description);
            },
            _deleteTemplate: function(e) {
                this._showDialog({
                    title: 'Delete Template?',
                    body: "Deleting templates cannot be undone. You are about to delete template: " + this.template.name ,
                    danger: true,
                    reason: "delete_template"
                });
            },
            _deleteTemplateResponse: function(e) {
                var reason = e.detail.reason,
                    response = e.detail.response;

                if (response.confirmed && reason == "delete_template") {
                    console.log('i ll delete the template');
                    page.show('/templates');
                }
            },
            _showDialog: function(info) {
                var dialog = this.querySelector('dialog-element'),
                    i;
                for (i in info) {
                    dialog[i] = info[i];
                }
                dialog._openDialog();
            },
            _goBack: function(){
                history.back();
            },
            toggleAll: function(e){
                var t = e.target;


                var els = this.querySelectorAll('app-togglable');
                [].forEach.call(els, function(el, index) {
                        el.open = true;
                });
            }
        });
    })();
    </script>
</dom-module>
