
/* Backend Button CSS
-----------------------------------------------------------------------------------------------------------*/
#backend-buttons a:after {
    margin-top: -4px;
    border-radius: 1em;
    width: 12px;
    height: 12px;
}

#backend-buttons a.online:after {
    background-color: #64b247;
}
#backend-buttons a.online:hover:after {
    background-color: #fff !important;
}
#backend-buttons a.online:hover {
    background-color: #64b247;
}


#backend-buttons a.offline:after {
    background-color: #d96557;
}
#backend-buttons a.offline:hover:after {
    background-color: #fff !important;
}
#backend-buttons a.offline:hover {
    background-color: #d96557;
}

#backend-buttons a.waiting:after {
    background-color: #d48900;
}
#backend-buttons a.waiting:hover:after {
    background-color: #fff !important;
}
#backend-buttons a.waiting:hover {
    background-color: #d48900;
}

#backend-buttons .ui-controlgroup-controls a {
    padding: 13px 10px 10px 30px !important;
    color: black;
    position: relative;
    font-size: 16px;
}
@-moz-document url-prefix() {
    #backend-buttons .ui-controlgroup-controls a  {
        top: 1px;
    }
}
#backend-buttons .ui-controlgroup-controls {
    margin-bottom: 18px;
    display: block;
}
#backend-buttons .ui-controlgroup-controls .ui-btn {
    border-width: 0;
    margin-top: 10px;
    margin-right: .5em;
    padding: 6px 0 6px !important;
    background-color: #fff;
    box-shadow: 0 3px 16px rgba(0,0,0,.2) /*{global-box-shadow-color}*/
}
#backend-buttons .ui-controlgroup-controls .ui-btn:hover {
    background-color: #eee;
}
#backend-buttons .ui-controlgroup-controls .ui-btn:active {
    background-color: #fff;
}

#backend-buttons .ui-icon-waiting {
    background-image: url("../states/load-white-solid.gif") !important;
    background-position: 9px 9px !important;
    background-repeat: no-repeat !important;
    background-size: 22px 22px !important;
}

#backend-buttons .ui-icon-offline {
    background-image: url(../states/state-yellow-solid.png) !important;
    background-position: 9px 9px !important;
    background-repeat: no-repeat !important;
}

#backend-buttons .ui-icon-offline:after, .ui-icon-waiting:after {
    background-color: rgba(0,0,0,0);
}
