
/* Backend Add Panel CSS
-----------------------------------------------------------------------------------------------------------*/
#backend-add label {
    margin-top: 1em;
}
#backend-add .mist-select ul {
    max-height: 165px;
    overflow-y: scroll;
}

#backend-add .ui-slider {
    width: 100%;
    margin-top: .1em;
    margin-bottom: -0.4em;
}

#backend-add-advanced {
	display: none;
}

#backend-add #opentack-advanced-wrapper {
    text-align: center;
    margin-bottom: -20px;
}

#backend-add .toggle-field {
    width: 100%;
}

#backend-add .on,
#backend-add .off {
    display: block;
    width: 100%;
}

#backend-add .on {
    display: none;
}

#backend-add .on {
    margin-top: 20px;
}

#backend-add .docker.on label {
    display: none;
}

#backend-add .label-wrapper {
    display: table;
    width: 100%;
}


#help-tooltip {
    font-size: 14px;
    padding: .5em;
}

#help-tooltip a {
    font-weight: normal;
}
