
#add-backend {
    float: right;
    margin-right: 10px;
    margin-bottom: 13px;
    margin-top: 0;
    top: 2px;
    position: relative;
    padding: 0;
    border:0;
    overflow: visible;
    z-index: 900;
}

#add-backend-overlay {
    z-index: 899;
    min-height: 800px;
}

.mist-select > .ui-collapsible-heading-collapsed.pendingSelect > a {
    background-color: #0099cc;
    color: #fff;
}
.mist-select + div#backend-add-fields {
    display: none !important;
    background-color: #FAF9F4;
    padding: 0 1em 1em;
}

.mist-select.ui-collapsible-collapsed + div#backend-add-fields {
    display: block !important;
    border-radius: 0 0 .5em .5em;
}

#backend-add-fields .ui-listview {
    margin: 0;
}

#backend-add h4.select-provider a,
#backend-add h4 a:hover,
#backend-add ul li a:hover {
    background-color: #66C2E0;
    border-color: #66C2E0;
    color: #fff;
    text-shadow: 0 0 0 #66C2E0;
}

#backend-add h4.select-provider a:active,
#backend-add h4 a:active,
#backend-add ul li a:active {
    background-color: #66C2E0;
    border-color: #66C2E0;
    text-shadow: 0 0 0 #66C2E0;
}

#backend-add h4.ui-collapsible-heading {
    display: none;
}

#backend-add h4.ui-collapsible-heading.ui-collapsible-heading-collapsed {
    display: block;
}

#backend-add h4.ui-collapsible-heading.ui-collapsible-heading-collapsed > a{
    text-align: center !important;
}

#backend-add ul {
    border-top-width: 0px;
}

#backend-add.ui-content {
    background-color: #FAF9F4;
    padding: 0;
    width: 281px;
    margin-top: -8px;
    border-radius: 0 0 .5em .5em;
}

#backend-add label {
    margin-top: 1em;
}
#backend-add ul.mist-select {
    max-height: 400px;
    min-width: 280px;
    overflow-y: scroll;
    margin: 0;
    border-radius: 0 0 .5em .5em;
}

#backend-add .ui-slider {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
    border-color: #A4A39F;
    box-shadow: none;
}

#backend-add-advanced {
	display: none;
}

#backend-add #opentack-advanced-wrapper {
    text-align: center;
    margin-bottom: -20px;
}

#backend-add .toggle-field {
    width: 100%;
}

#backend-add .on,
#backend-add .off {
    display: block;
    width: 100%;
}

#backend-add .on {
    display: none;
}

#backend-add .on {
    margin-top: 20px;
}

#backend-add .docker.on label {
    display: none;
}

#backend-add .label-wrapper {
    display: table;
    width: 100%;
}


#help-tooltip {
    font-size: 14px;
    padding: .5em;
}

#help-tooltip a {
    font-weight: normal;
}

.ui-checkbox label:after {
    background-image: none !important;
    background-color: transparent !important;
}
