
/* Backend Add Panel CSS
-----------------------------------------------------------------------------------------------------------*/
#backend-add label {
    margin-top: 20px;
}
#backend-add .mist-select ul {
    max-height: 120px;
    overflow-y: scroll;
}

#backend-add .ui-slider {
    width: 200px;
}

#backend-add-advanced {
	display: none;
}

#backend-add #opentack-advanced-wrapper {
    text-align: center;
    margin-bottom: -20px;
}
