
/* Backend Add Panel CSS
-----------------------------------------------------------------------------------------------------------*/
#add-backend-panel #openstack-bundle,
#add-backend-panel #baremetal-bundle,
#add-backend-panel #vcloud-bundle,
#add-backend-panel #azure-bundle,
#add-backend-panel #gce-bundle,
#add-backend-panel #docker-bundle,
#add-backend-panel #vcloud-bundle,
#add-backend-panel #hpcloud-bundle {
    display: none;
}

#add-backend-panel #tokenonly-bundle {
    display: none;
}

    display: none;
}
#add-backend-panel label {
    margin-top: 10px;
}
#add-backend-panel .select-listmenu {
    height: 120px;
    overflow-y: scroll;
}
#add-backend-panel .ok-cancel {
    margin-top: 30px;
}

#add-backend-panel .ui-slider {
    width: 200px;
}

#add-backend-panel #non-hp-cloud {
    margin-top: 20px;
}

#add-backend-panel #opentack-advanced-wrapper {
    text-align: center;
    margin-bottom: -20px;
}


