
/* Backend Edit Popup CSS
-----------------------------------------------------------------------------------------------------------*/
#backend-edit .ui-slider {
    width: 120px;
}
#backend-edit .state {
    position: relative;
    bottom: 11px;
    left: 24px;
}
#backend-edit label {
    text-align: center;
}

#backend-edit .ui-field-contain {
    overflow: visible;
    height: 50px;
    border-bottom: none;
    margin: 6px 0;
}

#backend-edit .button-back {
    margin: 0 auto;
}

#backend-delete-confirm label {
    margin: 10px 0;
}
