
/* Backend Button CSS
-----------------------------------------------------------------------------------------------------------*/
#backend-buttons {
    display: block;
}
#backend-buttons .ui-controlgroup-controls a {
    padding: 13px 10px 10px 40px !important;
    color: black;
    position: relative;
}
@-moz-document url-prefix() {
    #backend-buttons .ui-controlgroup-controls a  {
        top: 1px;
    }
}
#backend-buttons .ui-controlgroup-controls .ui-btn {
    padding: 10px 0 9px !important;
}
#backend-buttons .ui-controlgroup-controls {
    margin-bottom: 18px;
    display: block;
}
#backend-buttons .ui-controlgroup-controls .ui-btn {
    border: 1px solid #C0C0C0;
}
@media only screen and  (max-width: 460px) {
    #backend-buttons .ui-controlgroup-controls .ui-btn {
        border-radius: 0px;
    }
}
#backend-buttons .ui-icon-waiting {
    background-image: url("../states/load-white-solid.gif") !important;
    background-position: 9px 9px !important;
    background-repeat: no-repeat !important;
    background-size: 22px 22px !important;
}

#backend-buttons .ui-icon-offline {
    background-image: url(../states/state-yellow-solid.png) !important;
    background-position: 9px 9px !important;
    background-repeat: no-repeat !important;
}

#backend-buttons .ui-icon-offline:after, .ui-icon-waiting:after {
    background-color: rgba(0,0,0,0);
}