
/* Cloud Edit Popup CSS
-----------------------------------------------------------------------------------------------------------*/
#cloud-edit .ui-slider {
    width: 120px;
}
#cloud-edit .state {
    position: relative;
    bottom: 11px;
    left: 24px;
}
#cloud-edit label {
    text-align: center;
}

#cloud-edit .ui-field-contain {
    overflow: visible;
    height: 50px;
    border-bottom: 1px solid #ddd !important;
    margin: 6px 0;
}

#cloud-edit .button-back {
    width: 25%;
    margin: 0 auto;
}
