
/* File Upload Popup CSS
-----------------------------------------------------------------------------------------------------------*/

#file-upload #file-upload-input {
	display: none;
}
#file-upload textarea {
	height: 75px !important;
	background-color: #fff;
	padding-left: .75em;
	padding-right: .75em;
}
#file-upload div.ui-input-text {
	border: none;
}
