
/* Graph List View
-----------------------------------------------------------------------------------------------------------*/

#graph-list-control .align {
    width: 49%;
    display: inline-block;
}

#graph-list-control {
    display: block;
    width: 100%;
}

#single-machine-page #history-control {
    float: right;
    margin-top: -56px;
    margin-right: -7px;
}

#history-control-stream {
    float: right;
    margin: 0;
    line-height: 21px;
    border-radius: 0;
}

#home-page .graphValue {
    display: none;
}

.graphValue {
    font-weight: normal;
}

#history-control #time-window-control {
    text-align: center;
    margin: 0;
    border-width: 1px 0px;
    width: 100%;
    margin-top: -47px;
    min-width: 190px;
}

#history-control a.time {
    width: 65px;
    height: 40px;
    border-radius: 0em;
    margin: -6px -5px 0px 0px;
    z-index: 10;
    border-bottom-width: 0px;
}

#time-window-control {
    margin: 0;
    border-radius: 0;
    border-left-width: 0;
}

#time-window-control .ui-btn {
    line-height: 25px;
    padding-left: 85px !important;
    padding-right: 80px !important;
}

#time-window-control.is-streaming .ui-btn {
    padding-right: 3.1em !important;
}

#time-window-control span {
    padding: 5px;
}

#history-control-forward {
    float: right;
    margin-bottom: -57px !important;
    margin-right: 0px !important;
}

#monitoring-collapsible h4.ui-collapsible-heading a {
    height: 21px;
}

.graph-button {
    display: inline-block;
    width: 150px;
}

#add-metric-btn {
    display: inline-block;
}

/* Conditional for > 800px */
@media only screen and (min-width: 800px) {
    .graph {
        width: 50%;
        float: left;
    }
    #graphBar {
        display: block;
        clear: both;
    }
    #home-page .graph {
        width: 100%;
    }
}

#graphs {
    clear: both;
}

/* Conditional for < 500px */
@media only screen and  (max-width: 500px) {
    #single-machine-page #history-control a.time {
        width: 3em !important;
    }
    #single-machine-page #history-control {
        width: 100% !important;
        margin-right: 0 !important;
        float: none !important;
        margin-top: -1em !important;
    }
}

/* Conditional for < 400px */
@media only screen and  (max-width: 400px) {
    #single-machine-page #history-control {
        margin: -1em auto !important;
    }
    .graph-button {
        width: 45%;
    }
    .graph-button .ui-btn {
        font-size: 0.7em;
    }
}

.valuePopUp{
    position:relative;
    z-index: 1;
    display: none;
    left:0;
    top:0;
    width:90px;
    height:30px;
    line-height:30px;
    margin-top:-30px;
    border:1px solid:#C2C4C2;
    border-radius:10px;
    box-shadow: 2px 2px 4px 1px #888888;
    text-align: center;
    font-weight:bold;
    color: #404040;
    background: linear-gradient(to bottom,  rgba(242,242,242,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
}



.graph .lineLegend {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: relative;
    top: 1px;
}

.graph .legend {
    box-shadow: none;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    font-size: 0.82em;
    margin-top: -6px;
}

#bottom-history {
    position: relative;
    bottom: 20px;
}

#top-history {
    margin-top: 20px;
}

/* Color palete */
.graph .valueLine {
    transition: 2s;
    stroke-width: 2;
    fill: none;
}

.graph .aquamarine {
    stroke: #6CE0BA;
}

.graph .green {
    stroke: #008000;
}

.graph .orange {
    stroke: #F2B752;
}

.graph .blue {
    stroke: #66A5D9;
}

.graph .pink {
    stroke: #D68BCD;
}

.graph .brown {
    stroke: #C47E52;
}

.graph .red {
    stroke: #F25757;
}

.graph .darkred {
    stroke: #8B0000;
}

.graph .olive {
    stroke: #808000;
}

.graph .wheat {
    stroke: #F5DEB3;
}

.graph .purple {
    stroke: #8F66C4;
}

.graph .coral {
    stroke: #FF7F50;
}

.graph .darkkhaki {
    stroke: #BDB76B;
}

.graph .midnightblue {
    stroke: #191970;
}

.graph .black {
    stroke: #5C5C5C;
}

.graph .gray {
    stroke: gray !important;
}

.graph .lineLegend.aquamarine {
    background-color: #6CE0BA;
}

.graph .lineLegend.green {
    background-color: #008000;
}

.graph .lineLegend.orange {
    background-color: #F2B752;
}

.graph .lineLegend.blue {
    background-color: #66A5D9;
}

.graph .lineLegend.pink {
    background-color: #D68BCD;
}

.graph .lineLegend.brown {
    background-color: #C47E52;
}

.graph .lineLegend.red {
    background-color: #F25757;
}

.graph .lineLegend.darkred {
    background-color: #8B0000;
}

.graph .lineLegend.olive {
    background-color: #808000;
}

.graph .lineLegend.wheat {
    background-color: #F5DEB3;
}

.graph .lineLegend.purple {
    background-color: #8F66C4;
}

.graph .lineLegend.coral {
    background-color: #FF7F50;
}

.graph .lineLegend.darkkhaki {
    background-color: #BDB76B;
}

.graph .lineLegend.midnightblue {
    background-color: #191970;
}

.graph .lineLegend.black {
    background-color: #5C5C5C;
}

.graph .lineLegend.gray {
    background-color: gray;
}

.graph .lineLegend div {
    width: 8px;
    height: 8px;
    border-radius: 100%;
}

.graph .valueArea {
    fill: #6CE0BA;
    stroke-width: 0;
    opacity: 0.25;
}

.graph .header *,
.graph .legend * {
    display: inline-block;
}
