
/* Graph List View
-----------------------------------------------------------------------------------------------------------*/

.graph-body .c3-axis {
    stroke-width: 0;
}

.graph-list {
    background-color: #F9F8F3;
    clear: both;
}

#graph-list-control .align {
    width: 49%;
    display: inline-block;
}

#graph-list-control {
    display: block;
    width: 100%;
}

#single-machine-page #history-control {
    float: right;
    margin-top: -70px;
    margin-right: -5px;
}

#home-page .graphValue {
    display: none;
}

.graphValue {
    font-weight: normal;
}

#history-control #time-window-control {
    text-align: center;
    margin: 0;
    border-width: 0px;
    width: 100%;
    margin-top: -40px;
    clear: both;
    min-width: 190px;
}

#history-control a.time {
    width: 65px;
    height: 39px;
    border-radius: 0em;
    margin: 10px -5px -6px 0px;
    z-index: 10;
    border-width: 0px;
}

#time-window-control {
    margin: 0;
    border-radius: 0;
    border-left-width: 0;
    height: 45px;
    overflow: hidden;
}

#time-window-control .ui-btn {
    line-height: 24px;
    padding-left: 85px !important;
    padding-right: 80px !important;
    border-width: 0px;
}

#time-window-control.is-streaming .ui-btn {
    padding-right: 3.1em !important;
}

#time-window-control span {
    padding: 5px;
}

#history-control-forward {
    float: right;
    margin-bottom: -57px !important;
    margin-right: 0px !important;
}

.graph-button {
    display: inline-block;
    width: 150px;
}

#add-metric-btn {
    display: inline-block;
}

/* Conditional for > 800px */
@media only screen and (min-width: 800px) {
    .graph {
        width: 50%;
        float: left;
    }
    #graphBar {
        display: block;
        clear: both;
    }
    #home-page .graph {
        width: 100%;
        float: none;
    }
}

#graphs {
    clear: both;
}

/* Conditional for < 500px */
@media only screen and  (max-width: 500px) {
    #single-machine-page #history-control a.time {
        width: 3em !important;
    }
    #single-machine-page #history-control {
        width: 100% !important;
        margin-right: 0 !important;
        float: none !important;
        margin-top: -1em !important;
    }
}

/* Conditional for < 400px */
@media only screen and  (max-width: 400px) {
    #single-machine-page #history-control {
        margin: -1em auto !important;
    }
    .graph-button {
        width: 45%;
    }
    .graph-button .ui-btn {
        font-size: 0.7em;
    }
}

#bottom-history {
    position: relative;
    bottom: 20px;
}

#top-history {
    margin-top: 20px;
    clear: both;
}

.graph .header *,
.graph .legend * {
    display: inline-block;
}
