
/* Graph List View
-----------------------------------------------------------------------------------------------------------*/

.graph-body .c3-axis {
    stroke-width: 0;
}

.graph-list {
    background-color: #FAF9F4;
    clear: both;
    padding: 1.25%;
    letter-spacing: normal;
}

#graph-list-control .align {
    width: 49%;
    display: inline-block;
}

#graph-list-control {
    display: block;
    width: 100%;
}

#single-machine-page #top-history {
    margin: 20px auto 40px;
}

#home-page .graphValue {
    display: none;
}

.graphValue {
    font-weight: normal;
}

#history-control {
    text-align: center;
}

#history-control a.time {
    border-radius: 0em;
    margin: 2px 0 0 0;
    z-index: 10;
    border-width: 0px;
    display: inline-block;
    vertical-align: top;
    padding: 3px 0 0 0;
    height: 32px;
    box-sizing: border-box;
    background-color: #FAF9F4;
}
#history-control a.time:hover {
    background-color: #FAF9F4;
}
#history-control a.time.ui-state-disabled {
    opacity: .5;
    cursor: not-allowed !important;
    pointer-events: initial;
}
#history-control a.time:after {
    font-size: 26px;
    color: #CAC9C5;
    margin: 0;
}
#history-control a.time:hover:after {
    color: #444;
}
#history-control a.time.ui-state-disabled:hover:after {
    color: #c9c8c4;
}
#history-control #time-window-control {
    text-align: center;
    margin: 0;
    border-width: 0px;
    clear: both;
    min-width: 145px;
    border-radius: 0;
    display: inline-block;
}

#time-window-control .ui-btn {
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    line-height: 28px;
    margin: 0;
    padding: 2px 5px !important;
    border-width: 0px;
    color: #444;
    background-color: #FAF9F4;
    border: 1px solid #FAF9F4;
}

#time-window-control .ui-btn:after {
    color: #7f7f7f;
}

#time-window-control .ui-btn:hover {
    color: #444 !important;
    background-color: #fff;
    border: 1px solid #b5b5b5;
}

#time-window-control .ui-btn:hover:after {
    color: #444 !important;
}

#time-window-control.is-streaming .ui-btn {
    padding-right: 3.1em !important;
}

#time-window-control span {
    padding: 5px;
}

.graph-button {
    display: inline-block;
    margin: 0 5px;
}

.graph-button.graph-minimized .ui-btn {
    background-color: #FAF9F4;
    border-color: #FAF9F4;
    color: #474747;
}

.graph-button.graph-minimized .ui-btn:hover,
.graph-button.graph-minimized .ui-btn:active {
    color: #444 !important;
    background-color: #FAF9F4;
    border-color: #FAF9F4;
}

.graph-button.graph-minimized .ui-btn:active {
    color: #444 !important;
    background-color: #FAF9F4;
    border-color: #FAF9F4;
}

#add-metric-btn {
    display: inline-block;
}

#add-metric-btn .ui-btn {
    font-weight: 400;
}

/* Conditional for > 800px */
@media only screen and (min-width: 800px) {
    .graph {
        width: 50%;
        float: left;
    }
    #graphBar {
        display: block;
        clear: both;
    }
    #home-page .graph {
        width: 100%;
        float: none;
    }
}

#graphs {
    clear: both;
}

/* Conditional for < 500px */
@media only screen and  (max-width: 500px) {
    #single-machine-page #history-control a.time {
        width: 3em !important;
    }
    #single-machine-page #history-control {
        width: 100% !important;
        margin-right: 0 !important;
        float: none !important;
        margin-top: -1em !important;
    }
}

/* Conditional for < 400px */
@media only screen and  (max-width: 400px) {
    #single-machine-page #history-control {
        margin: -1em auto !important;
    }
    .graph-button {
        width: 45%;
    }
    .graph-button .ui-btn {
        font-size: 0.7em;
    }
}

#bottom-history {
    position: relative;
    bottom: 20px;
}

#top-history {
    margin: 30px 0 25px;
}

.graph .header *,
.graph .legend * {
    display: inline-block;
}

#change-time-window .ui-listview a {
    padding-left: 20px;
}
