/* Home Page CSS
-----------------------------------------------------------------------------------------------------------*/

@media all and (min-width: 561px) {
    #home-page .ui-block-a {
        padding-right: 15px;
    }
    #home-page .ui-block-b {
        padding-left: 15px;
    }
}
#home-page .options-list li a,
#home-page .incident-list li a {
    border-top: 1px solid #eeedeb;
    border-left: none;
    border-right: none;
}

#home-page .options-list li:first-child a,
#home-page .incident-list li:first-child a {
    border-top-color: transparent;
}

#home-page .ui-listview {
    clear: both;
}

#home-page .ui-listview .ajax-loader {
    display: inline;
    float: right;
    margin-top: 1px;
}

@-moz-document url-prefix() {
    #home-page .ui-listview .ajax-loader {
        margin-top: -19px;
    }
}

#home-page .ui-content .ui-grid-a,
#home-page .ui-content .ui-grid-b,
#home-page .ui-content .ui-grid-c {
    overflow: visible;
}

#home-page .ui-grid-a .ui-block-a,
#home-page .ui-grid-a .ui-block-b {
    transition: width .5s;
    -webkit-transition: width .5s;
}

#home-page .ui-grid-a {
   margin-top: -10px;
   clear: both;
}

#home-page ul.incidents {
    margin-top: 0;
    margin-left: 1em;
    max-height: 145px;
    overflow-y: auto;
}

#home-page ul.incidents.header {
    margin-top: 1em;
    margin-bottom: 0;
    margin-left: 1em;
}

@media (max-width: 35em) {
    #home-page ul.incidents,
    #home-page ul.incidents.header {
        margin-left: 0;
        margin-top: 0;
    }
}

.incidents > h4 {
    padding: 11.2px 16px;
    background-color: #d4d4d4;
    border: 1px solid #d4d4d4;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: 16px 0 0 0;
}

.incidents.noΙncidents > h4 {
    background-color: #64b247;
    color: #fff;
    border: 1px solid #64b247;
}

.incidents.noΙncidents .no-incident {
    text-align: center;
    background-color: #FAF9F4;
    padding: 20px 0;
    height: 95px;
}

.incidents.noΙncidents .no-incident h4 {
    margin: 15px auto 0;
}

.incidents.noΙncidents .no-incident .icon-check:after {
    margin: 5px 0 0 0;
    font-size: 50px;
    color: #64b247;
}

.incidents .incident a {
    color: #7f7f7f;
    font-size: 16px;
    text-shadow: none;
}

.incidents .incident a:hover {
    color: #7f7f7f !important;
    background-color: #f2f2f2;
}

.incidents .incident.no a {
    padding-left: 11.2px !important;
}

.incidents .incident.no a:hover {
    background-color: #f2f2f2;
    color: #7f7f7f !important;
    border-color: #FAF9F4;
    cursor: default;
}

.incidents .ui-listview {
    margin-top: 0;
}

.incidents .time {
    float: right;
}

.incidents .machine {
    font-weight: bold;
    color: #000;
}

.incidents .ui-icon-alert:after,
#machines .ui-icon-alert:after {
    background-color: indianred;
}

.incidents .ui-icon-check:after {
    background-color: rgba(33, 133, 89, 0.4);
}

.incidents li a.ui-btn {
    font-weight: normal;
    white-space: normal;
    padding-left: 42px !important;
    padding-right: 42px !important;
}

.incidents li a.ui-btn:after {
    right: 8px !important;
}

.incidents li a.icon-check:after {
    color: #64b247;
}

.incidents li.alert a.icon-error:after {
    color: #d96557;
}

.incidents .incident .icon-bm,
.incidents .incident .icon-vm {
    position: absolute;
    top: 13px;
    left: 15px;
}

.incidents .alert.incident a {
    color: #d96557;
    background-color: #f7e0dd;
}

.incidents .alert.incident a:hover {
    color: #d96557 !important;
    background-color: #ECB3AC;
}

.incidents .alert.incident a .machine {
    color: #d95557;
}

.incidents .alert.incident a:after {
    color: #d96557;
}

#home-page .ui-body {
    padding: 0;
    overflow: visible;
}

#home-page .logs {
    clear: both;
}

#no-backend {
    margin-bottom: 12px;
}

#no-backend-inner {
    text-align: center;
    padding: 50px 20px !important;
    background-color: #FAF9F4;
}

#no-backend-inner .icon-cloud-check:after {
    color: #A5A4A1;
    font-size: 165px;
}

#no-backend-inner h1 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bold;
    margin: -5px auto 30px;
    color: #444;
}

#no-backend-inner h2 {
    font-size: 24px;
    margin: 0 auto 15px;
    text-transform: uppercase;
    font-weight: 300;
    color: #444;
}

#no-backend-inner p {
    margin: 0 auto 10px;
    letter-spacing: 0;
    margin-top: 0;
    color: #999;
    line-height: 1.9em;
}
