/* Home Page CSS
-----------------------------------------------------------------------------------------------------------*/

#home-page .ui-block-a {
    padding-right: 15px;
}

#home-page .ui-block-b {
    padding-left: 15px;
}

#home-page .ui-content .ui-grid-a,
#home-page .ui-content .ui-grid-b,
#home-page .ui-content .ui-grid-c {
    overflow: visible;
}

#home-page .ui-grid-a .ui-block-a,
#home-page .ui-grid-a .ui-block-b {
    transition: width .5s;
    -webkit-transition: width .5s;
}

#home-page .ui-grid-a {
   margin-top: -10px;
   clear: both;
}

@media all and (max-width: 701px) {
    #dashboard-options .ui-block-a,
    #dashboard-options .ui-block-b {
        float: none;
        width: 100%;
        padding: 0;
    }
}

#home-page .options-list li a,
#home-page .incident-list li a {
    border-top: 1px solid #eeedeb;
    border-left: none;
    border-right: none;
}

#home-page .options-list li:first-child a,
#home-page .incident-list li:first-child a {
    border-top-color: transparent;
}

#home-page .ui-listview {
    clear: both;
}

#home-page .ui-listview .ajax-loader {
    display: inline;
    float: right;
    margin-top: 1px;
}

@-moz-document url-prefix() {
    #home-page .ui-listview .ajax-loader {
        margin-top: -19px;
    }
}

#home-page ul.incidents {
    margin-top: 0;
    margin-left: 1em;
    max-height: 145px;
    overflow-y: auto;
}

#home-page ul.incidents.header {
    margin-top: 1em;
    margin-bottom: 0;
    margin-left: 1em;
}

@media (max-width: 35em) {
    #home-page ul.incidents,
    #home-page ul.incidents.header {
        margin-left: 0;
        margin-top: 0;
    }
}

#dashboard-options > div,
.graph-list {
    margin-bottom: 30px;
}

#dashboard-options .ui-listview {
    margin: 0;
}

.incidents > h4 {
    padding: 11.2px 16px;
    background-color: #d4d4d4;
    border: 1px solid #d4d4d4;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: 0;
}

.incidents.no-incidents > h4 {
    background-color: #64b247;
    color: #fff;
    border: 1px solid #64b247;
}

.incidents.no-incidents .no-incident {
    text-align: center;
    background-color: #FAF9F4;
    padding: 0;
    height: 89.4px;
    box-sizing: border-box;
}

.incidents.no-incidents .no-incident h4 {
    margin: 2px auto 0;
}

.incidents.no-incidents .no-incident .icon-check:after {
    margin: 10px 0 0 0;
    font-size: 40px;
    color: #64b247;
}

.incidents.no-incidents.is-core .no-incident,
.incidents.no-incidents.has-networks .no-incident {
    height: 135px;
    padding: 20px 0;
}

.incidents.no-incidents.is-core .no-incident h4,
.incidents.no-incidents.has-networks .no-incident h4 {
    margin: 15px 0 0 0;
}

.incidents.no-incidents.is-core .no-incident .icon-check:after,
.incidents.no-incidents.has-networks .no-incident .icon-check:after {
    margin: 5px 0 0 0;
    font-size: 50px;
}

.incidents.no-incidents.is-core.has-networks .no-incident {
    height: 180.594px;
    padding: 40px 0;
}

.incidents .incident a {
    color: #7f7f7f;
    font-size: 15px;
    text-shadow: none;
}

.incidents .incident a:hover {
    color: #7f7f7f !important;
    background-color: #f2f2f2;
}

.incidents .incident.no a {
    padding-left: 11.2px !important;
}

.incidents .incident.no a:hover {
    background-color: #f2f2f2;
    color: #7f7f7f !important;
    border-color: #FAF9F4;
    cursor: default;
}

.incidents .ui-listview {
    margin-top: 0;
    max-height: 89.4px;
    overflow-y: auto;
}

.incidents.is-core .ui-listview,
.incidents.has-networks .ui-listview {
    max-height: 135px;
}

.incidents.is-core.has-networks .ui-listview {
    max-height: 180.594px;
}

.incidents .time {
    float: right;
}

.incidents .machine {
    font-weight: 400;
    color: #000;
}

.incidents .ui-icon-check:after {
    background-color: rgba(33, 133, 89, 0.4);
}

.incidents li a.ui-btn:after {
    right: 8px !important;
}

.incidents li a.icon-check:after {
    color: #64b247;
}

.incidents li.alert a.icon-error:after {
    color: #d96557;
}

.incidents .incident .icon-bm,
.incidents .incident .icon-vm {
    position: absolute;
    top: 13px;
    left: 15px;
}

.incidents .alert.incident a {
    color: #fff;
    background-color: #d96557;
}
.incidents .alert.incident a:after {
    content: '\0056';
    background-color: transparent;
    background-image: none;
    opacity: 1;
    color: #7F7F7F;
}

.incidents .alert.incident a:hover {
    color: #fff !important;
    background-color: #dc7265;
}

.incidents .alert.incident a .icon-alert-2 {
    float: right;
    right: 40px;
    top: 10px;
    position: absolute;
}

.incidents .alert.incident a .machine {
    color: #fff;
}

.incidents .alert.incident a:after {
    color: #fff;
}

#home-page .ui-body {
    padding: 0;
    overflow: visible;
}

#home-page .logs {
    clear: both;
}

@media all and (max-width: 1050px) {
    .incidents .incident .machine {
        line-height: 35px;
        float: left;
    }

    .incidents .incident .rule-condition,
    .incidents .incident .time {
        float: none;
        position: absolute;
        right: 37.5px;
    }

    .incidents .incident .time {
        top: 27px;
    }
}
