/* Home Page CSS
-----------------------------------------------------------------------------------------------------------*/
#add-backend {
    float: right;
    margin-right: 0px;
    margin-bottom: 13px;
    margin-top: 0;
    top: .7em;
    position: relative;
    padding: 0;
    border:0;
    overflow: visible;
    z-index: 900;
}

#add-backend-overlay {
    z-index: 899;
}

.ui-btn-add > .ui-collapsible-content {
    position: absolute;
    right: 0;
    text-align: left;
    min-width: 20em;
}

.ui-btn-add > h4.ui-collapsible-heading a{
    background-color: #A4A39F !important;
    padding: 18px 25px 18px 65px !important;
    font-size: 16px;
    padding-left: 70px !important;
    color: #fff !important;
    text-shadow: 0 0 0 #46D4C9 !important;
    font-weight: 300;
}

.ui-btn-add > h4.ui-collapsible-heading a:hover {
    border: 1px solid #A4A39F;
}

.ui-btn-add.ui-collapsible-collapsed > h4.ui-collapsible-heading a {
    background-color: #46D4C9 !important;
    text-shadow: 0 0 0 #46D4C9 !important;

}

.ui-btn-add.ui-collapsible-collapsed  > h4.ui-collapsible-heading a:hover{
    background-color: #2FBAAF !important;
    border-color: #2FBAAF !important;
}

.ui-btn-add.ui-collapsible  > h4.ui-collapsible-heading a:active{
    background-color: #74E9E0 !important;
    border-color: #74E9E0 !important;
}

#home-page .ui-listview {
    clear: both;
}

#home-page .ui-listview .ajax-loader {
    display: inline;
    float: right;
    margin-top: 1px;
}

@-moz-document url-prefix() {
    #home-page .ui-listview .ajax-loader {
        margin-top: -19px;
    }
}

#home-page .ui-grid-a .ui-block-a,
#home-page .ui-grid-a .ui-block-b {
    transition: width .5s;
    -webkit-transition: width .5s;
}

#home-page .ui-grid-a {
   margin-top: -10px;
   clear: both;
}

#home-page ul.incidents {
    margin-top: 0;
    margin-left: 1em;
    max-height: 145px;
    overflow-y: auto;
}

#home-page ul.incidents.header {
    margin-top: 1em;
    margin-bottom: 0;
    margin-left: 1em;
}


@media (max-width: 35em) {
    #home-page ul.incidents,
    #home-page ul.incidents.header {
        margin-left: 0;
        margin-top: 0;
    }
}

ul.incidents span.time {
    float: right;
    font-weight: bold;
    opacity: .75;
    margin-bottom: -5px;
}

ul.incidents .ui-icon-alert:after, #machines .ui-icon-alert:after {
    background-color: indianred;
}

ul.incidents .ui-icon-check:after {
    background-color: rgba(33, 133, 89, 0.4);
}

#machines .ui-icon-check:after {
    background-color: rgba(33, 133, 89, .6);
}

ul.incidents li a.ui-btn{
    font-weight: normal;
    white-space: normal;
    padding-left: 16px !important;
    padding-right: 42px !important;
}

ul.incidents li a.ui-btn:after {
    right: 8px !important;
}


ul.incidents li a .machine {
    font-weight: bold;
}

#home-page .ui-body {
    padding: 0;
    overflow: visible;
}

#home-page .ui-grid-a.ui-responsive {
    overflow: visible;
}

#home-page .logs {
    clear: both;
}
