/* Single Image Page CSS
-----------------------------------------------------------------------------------------------------------*/
#single-image-page > .ui-content {
    background-color: transparent;
}
#single-image-page .ui-block-b .ui-title {
    text-align: center;
}
#single-image-page .single-image-header {
    background-color: transparent;
    position: initial;
}
.single-image-header .header-grid {
    padding-top: 0;
    padding-bottom: 0;
    overflow: visible;
}
.single-image-header .header-grid:after {
    content: '';
    clear: both;
    display: table;
}
.single-image-header .header-grid .ui-grid-a {
    overflow: visible;
}
#single-image-page .ui-collapsible {
    margin: 0;
}
#single-image-page .ui-collapsible .ajax-loader {
    display: inline;
    float: right;
}
#single-image-page .ui-collapsible .ui-collapsible-heading a {
    background-color: #d4d4d4;
    border: none;
    padding: 20px 70px 16px !important;
}
#single-image-page .ui-collapsible .ui-collapsible-content {
    background-color: #faf9f4;
    padding: 0 !important;
}
#single-image-page .ui-collapsible .ui-collapsible-content .ui-listview {
    margin: 0;
    box-shadow: none;
}
#single-image-page .info-table {
    width: 100%;
}
#single-image-page .info-table td {
    margin: 0;
    width: 50%;
    font-size: 14px;
    padding: 10px 12px;
    border-bottom: 1px solid #eeedeb;
}
#single-image-page .info-table tr:last-child td {
    border-bottom: none;
}
#single-image-page .info-table tr td:nth-child(1) {
    padding-left: 70px;
}
/* Conditional for < 500px */
@media only screen and  (max-width: 500px) {
    #single-image-page .info-table tr td:nth-child(1) {
        padding-left: 30px;
    }
}
#single-image-page .info-table tr td:nth-child(2) {
    color: #7f7f7f;
}
#single-image-page .info-table tr {
    background-color: #faf9f4;
    border: none;
}
#single-image-page .info-table tr:hover {
    background-color: #f2f2f2;
}
#single-image-page .single-view-icon-wrapper > span {
    margin-top: 20px;
}
#single-image-page #create-machine {
    margin-top: 15px;
}
#single-image-page #create-machine {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
#single-image-page #create-machine-overlay {
    min-height: 1040px;
}
#single-image-page #machine-create .ui-collapsible .ui-listview {
    margin: 0;
}
#single-image-page #machine-create .ui-collapsible .ui-listview .ui-btn {
    border: none;
}
#single-image-page #machine-create .ui-collapsible .ui-listview span {
    margin-top: 0 !important;
}
#single-image-page #machine-create .ui-collapsible .ui-listview .ui-btn,
#single-image-page #machine-create .ui-collapsible-heading-toggle {
    line-height: 21px;
    padding: 5.5px 40px 5.5px 16px !important;
}
#single-image-page #machine-create .ui-collapsible .ui-listview .ui-btn {
    padding: 5.5px 16px 5.5px 16px !important;
}
#single-image-page #machine-create .ui-collapsible-content .ui-listview .ui-btn {
    border: none;
}
#single-image-page #machine-create .ui-collapsible-heading {
    text-transform: initial;
}
#single-image-page #machine-create .ui-collapsible-heading > a {
    background-color: #fff !important;
    border: 1px solid #b5b5b5 !important;
    color: #444 !important;
    font-size: 14px;
    padding-left: .75em !important;
}
#single-image-page #machine-create .ui-collapsible-content .ui-listview .ui-btn,
#single-image-page #machine-create .ui-collapsible-heading-toggle {
    line-height: 21px;
    padding-top: 5.5px !important;
    padding-bottom: 5.5px !important;
    font-size: 14px;
}
#single-image-page #machine-create .empty.required .ui-collapsible-heading > a {
    color: #7f7f7f !important;
}
#single-image-page #machine-create .empty.required .ui-collapsible-heading > a,
#single-image-page #machine-create .empty.required .ui-collapsible-content > .ui-listview {
    border-color: #0099cc !important;
}
#single-image-page #machine-create .preset .ui-collapsible-heading.ui-collapsible-heading-collapsed > a:hover,
#single-image-page #machine-create .preset .ui-collapsible-heading > a:hover {
    cursor: not-allowed;
}
#single-image-page #machine-create .preset .ui-collapsible-heading.ui-collapsible-heading-collapsed > a,
#single-image-page #machine-create .preset .ui-collapsible-heading > a {
    padding-right: .75em !important;
}
#single-image-page #machine-create .preset .ui-collapsible-heading.ui-collapsible-heading-collapsed > a:after,
#single-image-page #machine-create .preset .ui-collapsible-heading > a:after {
    content: '';
}