
/* Image List Page CSS
-----------------------------------------------------------------------------------------------------------*/
#image-list-page .ui-content {
    background-color: transparent;
}
#image-list-page .ui-block-b .ui-title {
    text-align: center;
}
#image-list-page #image-list-container {
    background-color: #faf9f4;
}
#image-list-page .ajax-loader {
    padding: 10px;
}
#image-list-page #image-list a {
    padding-left: 0 !important;
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}
#image-list-page .checkbox-link .ui-checkbox label {
    margin: 0;
    height: 38px;
}
#image-list-page .checkbox-link h3 {
    width: 100%;
}
/* Conditional for < 600px */
@media only screen and  (max-width: 600px) {
    #image-list-page .checkbox-link .ui-grid-a>.ui-block-a,
    #image-list-page .checkbox-link .ui-grid-a>.ui-block-b {
        width: 100%;
    }

    #image-list-page .checkbox-link h3 {
        width: 100%;
        position: relative;
        top: 4px;
    }

    #image-list-page .checkbox-link .ui-checkbox label {
        height: 70px;
    }

    #image-list-page .checkbox-link .tag {
        float: left;
        padding: 0 7px 0 0;
        max-width: 150px;
    }
    #image-list-page .checkbox-link .tag.title {
        float: right;
        padding: 0 7px 0 0;
    }
}

#image-list-page .checkbox-link h3 {
    position: relative;
    top: 4px;
    font-weight: 400;
}

#image-list-page .checkbox-link.staron label:after {
    background-position: -0px -535px;
}
#image-list-page .checkbox-link.staroff label:after {
    background-position: -0px -516px;
}
#image-list-page .checkbox-link.staron label:after,
#image-list-page .checkbox-link.staroff label:after {
    width: 19px !important;
    height: 19px !important;
    margin: -9px 2px 0 2px !important;
}
#image-list-page .checkbox-link.staron label:after {
    background-image: url('../images/sprite-build/icon-sprite-1432130152.png') !important;
    content: '';
}
#image-list-page .checkbox-link.staroff label:after {
    background-image: url('../images/sprite-build/icon-sprite-1432130152.png') !important;
    content: '';
}
#image-list-page ul .ui-checkbox-on:after {
    background-color: rgba(0,0,0,0) !important;
    background-repeat: no-repeat !important;
}
#image-list-page #images-advanced-search {
    margin: 0;
}
#image-list {
    box-shadow: none;
    margin: 0;
}
#image-list a:after {
    content: '\0056';
    background-color: transparent;
    background-image: none;
    opacity: 1;
    color: #7F7F7F;
}
#image-list-page .image-search-container {
    position: relative;
    top: 15px;
    margin: 0 15px;
}

#image-list-page .image-search {
    padding-right: 35px;
}

#image-list-page .image-search-container [class*='icon-'] {
    color: #7f7f7f;
    display: inline-block;
    background-color: #e8e8e8;
    position: absolute;
    top: 1px;
    right: 1px;
    padding: 0 8px 0 10px;
    box-sizing: border-box;
    height: 30.8px;
    line-height: 30.8px;
}
#image-list-page .image-search-container [class*='icon-']:after {
    font-size: 14px;
    color: #444;
}

#image-list-page .image-search-container .icon-xx:hover {
    cursor: pointer;
}
