
/* Image List Page CSS
-----------------------------------------------------------------------------------------------------------*/
#image-list-page .ui-header .ui-btn {
    background-color: #fff;
    margin-top: 13px;
    margin-left: 0;
}
#image-list-page .ui-header .ui-btn:hover {
    color: #fff !important;
    background-color: #46d4c9;
    border-color: #46d4c9;
}
#image-list-page .ui-block-b .ui-title {
    text-align: center;
}
@-moz-document url-prefix() {
    #image-list-page .checkbox-link h3 {
        width: 50%;
        position: relative;
        top: 4px;
    }

    #image-list-page .checkbox-link .tag {
        position: relative;
        bottom: 33px;
    }
}

#image-list-page .checkbox-link h3 {
    position: relative;
    top: 4px;
}

#image-list-page ul .ui-checkbox-off:after {
    background-color: rgba(0,0,0,0) !important;
    background-repeat: no-repeat !important;
}

#image-list-page ul .ui-checkbox-on:after {
    background-color: rgba(0,0,0,0) !important;
    background-repeat: no-repeat !important;
}
