
/* Single Key Page CSS
-----------------------------------------------------------------------------------------------------------*/
#single-key-page > .ui-content {
    padding-top: 30px;
    background-color: transparent;
}

#single-key-page .ui-header .ui-btn {
    background-color: #fff;
    margin-top: 13px;
    margin-left: 0;
}
#single-key-page .ui-header .ui-btn:hover {
    color: #fff !important;
    background-color: #64b247;
    border-color: #64b247;
}
#single-key-page .ui-block-b .ui-title {
    text-align: center;
}
#single-key-page .ui-footer {
    display: block;
}
#single-key-page .ui-collapsible {
    margin: 10px 0 20px;
}
#single-key-page .ui-collapsible .ajax-loader {
    display: inline;
    float: right;
}
#single-key-page .ui-collapsible .ui-collapsible-heading a {
    background-color: #d4d4d4;
    border: none;
    padding: 20px 70px 16px !important;
}
#single-key-page .ui-collapsible .ui-collapsible-content {
    background-color: #faf9f4;
    padding: 10px 20px !important;
}
@-moz-document url-prefix() {
    #single-key-page .ui-collapsible .ajax-loader {
        margin-top: -20px;
    }
}
#single-key-machines .checkbox-link .ui-checkbox {
    display: none;
}

#single-key-page .machine-name {
    left: 10px;
    position: relative;
}

#single-key-page #dialog-popup {
    width: 32em !important
}

#single-key-page #dialog.large-popup {
    width: 100% !important;
}

#single-key-page #public-key {
    height: 90px;
    overflow: auto;
    font-family: monospace;
}
