/* Single Key Page CSS
-----------------------------------------------------------------------------------------------------------*/
#single-key-page > .ui-content {
    padding-top: 30px;
    background-color: transparent;
}
#single-key-page .ui-block-b .ui-title {
    text-align: center;
}
#single-key-page .ui-footer {
    display: block;
}
#single-key-page .ui-collapsible {
    margin: 10px 0 20px;
}
#single-key-page .ui-collapsible .ajax-loader {
    display: inline;
    float: right;
}
#single-key-page .ui-collapsible .ui-collapsible-heading a {
    background-color: #d4d4d4;
    border: none;
    padding: 20px 70px 16px !important;
}
#single-key-page .ui-collapsible .ui-collapsible-content {
    background-color: #faf9f4;
    padding: 10px 20px !important;
}
#single-key-page .ui-collapsible .ui-collapsible-content .ui-listview {
    margin: 0;
    box-shadow: none;
}
#single-key-page #private_key {
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
}
@-moz-document url-prefix() {
    #single-key-page .ui-collapsible .ajax-loader {
        margin-top: -20px;
    }
}
#single-key-machines.ui-collapsible .ui-collapsible-content {
    padding: 0 !important;
}

#single-key-machines .checkbox-link .ui-checkbox {
    display: none;
}

#single-key-machines  .machine-name {
    left: 15px;
    position: relative;
}

@media only screen and  (max-width: 600px) {
    #single-key-machines .checkbox-link > a {
        height: 50px;
    }

    #single-key-machines .machine-state {
        left: 15px;
    }
}

#single-key-page #public-key {
    height: 120px;
    overflow: auto;
    font-family: monospace;
    width: 100%;
}

#single-key-page #private-key {
    box-sizing: border-box;
    height: 440px;
    overflow: auto;
    font-family: monospace;
    width: 100%;
    max-width: 652px;
}

#single-key-page textarea {
    font-size: 14px;
    line-height: 1.4em;
    padding: 10px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
