
/* Single Key Page CSS
-----------------------------------------------------------------------------------------------------------*/
#single-key-page .ajax-loader {
    display: inline;
    float: right;
}

@-moz-document url-prefix() {
    #single-key-page .ajax-loader {
        margin-top: -20px;
    }
}
