
/* Create Key Popup CSS
-----------------------------------------------------------------------------------------------------------*/
#create-key-upload {
    display: none;
}
#create-key-popup .create-key-loader {
    display: inline;
    float: right;
}
#create-key-popup-screen {
    height: 100%;
    position: fixed;
    top: 0;
}
.generate-upload button {
    width: 84px !important;
}
