
/* Create Key Popup CSS
-----------------------------------------------------------------------------------------------------------*/
#create-key-upload {
    display: none;
}
#create-key-popup .create-key-loader {
    display: inline;
    float: right;
}
