
/* Key List Page CSS
-----------------------------------------------------------------------------------------------------------*/
#key-list-page .ui-filterable {
    clear: both;
}
#key-list-page #add-key-btn {
    float: right;
}

#key-list-page .tag {
    position: relative;
    top: 5px !important;
}
@-moz-document url-prefix() {
    #key-list-page .tag {
        bottom: 36px;
        top: auto;
    }
}
.key-name {
    width: 40% !important;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 16px;
}
.key-tags {
    float: right;
    margin-top: -8px;
}
