
/* Key Add View
-----------------------------------------------------------------------------------------------------------*/

#key-add-upload {
    display: none;
}

#key-add-popup .key-add-loader {
    display: inline;
    float: right;
}

#key-add-screen {
    height: 100%;
    position: fixed;
    top: 0;
}

#key-add-popup .generate-upload {
    margin-bottom: 10px;
}

#key-add-popup textarea {
    height: 75px !important;
    background-color: #fff;
}