
/* Key List Page CSS
-----------------------------------------------------------------------------------------------------------*/
#key-list-page .ui-content {
    background-color: transparent;
}

#key-list-page #select-keys-btn {
    float: left;
    font-weight: normal;
    background-color: transparent;
    color: #b5b5b5;
    border-width: 0;
    padding: .4em .75em !important;
    text-align: left;
    width: 14px;
    height: 22px;
    margin: 18px 5px 10px 11px;
    font-size: 14px;
    line-height: 1.6em;
    z-index: 2;
}
#key-list-page #select-keys-btn:hover {
    color: #444 !important;
}
#select-keys-popup .icon-check:after {
    font-size: 14px;
    top: 1.3em;
    color: #d4d4d4;
}
#key-list-page .creation-button {
    margin: 0;
    float: right;
    padding: 20px 60px 20px 25px !important;
    font-weight: 400 !important;
    font-size: 18px;
    position: relative;
    top: 0;
    right: 0;
    z-index: 1000;
}
#key-list-page .creation-button:after {
    background-image: none;
    margin: 0;
    content: '+';
    color: #fff !important;
    position: absolute;
    right: 1px;
    top: -6px;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 34px;
    line-height: 60px;
}
#key-list-page .ui-filterable .ui-input-search {
    margin-right: 200px !important;
}
#key-list-page .ui-block-b .ui-title {
    text-align: center;
}
#key-list-page .tag {
    position: relative;
}
#key-list-page .ui-icon-check:after {
    background-color: #46d4c9;
}
.key-name {
    width: 40% !important;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 16px;
    color: #444;
    font-weight: 400;
}
.key-tags {
    float: right;
    padding-right: 20px;
}

#key-list {
    margin-top: -48px;
    box-shadow: none;
}

#key-list-page .key-search-container {
    position: relative;
    top: -56px;
    margin-left: 50px;
    margin-right: 195px;
}

#key-list-page .key-search {
    padding-right: 35px;
}

#key-list-page .key-search-container [class*='icon-'] {
    color: #7f7f7f;
    display: inline-block;
    background-color: #e8e8e8;
    position: absolute;
    top: 1px;
    right: 1px;
    padding: 0 8px 0 10px;
    box-sizing: border-box;
    height: 30.8px;
    line-height: 30.8px;
}
#key-list-page .key-search-container [class*='icon-']:after {
    font-size: 14px;
    color: #444;
}

#key-list-page .key-search-container .icon-xx:hover {
    cursor: pointer;
}

@media only screen and  (max-width: 600px) {
    #key-list-page .creation-button {
        width: 63px;
        height: 63px;
        padding: 0 !important;
    }
    #key-list-page .creation-button span {
        display: none;
    }

    #key-list-page .key-search-container {
        margin-right: 85px !important;
    }
}

@media only screen and  (max-width: 550px) {
    #key-list-page .ui-filterable .ui-input-search {
        margin-left: 0 !important;
        margin-right: 35px !important;
    }
}
