.log-list {
    clear: both;
}

.log-list fieldset {
    background-color: #FAF9F4;
    margin: 0;
}

.log-list ul.ui-listview {
    margin: 0;
}

.logs .ui-input-text {
    width: 188px;
    float: right;
    margin-top: -49px;
    margin-bottom: 15px;
    margin-right: 10px;
    position: relative;
}

.details {
    display: none;
    padding: 5px;
    box-sizing: border-box;
}

.details.info-table {
    background-color: #D7EEEF;
}

.details table {
    width: 100%;
    table-layout: fixed;
}

.details table td {
    word-wrap: break-word;
    white-space: normal;
}

.log-list ul {
    font-size: 14px;
}

.log-list .ui-block-c div {
    float: right;
    margin-left: 10px;
    color: #7F7F7F;
}

.log-list .ui-block-a div {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    float: left;
    margin: 0;
}

.log-list .filter-wrapper fieldset {
    float: left;
    margin: 0;
}

.log-list .filter-wrapper fieldset label {
    font-size: 14px;
    text-transform: uppercase;
    border-width: 0px;
}

.log-list .filter-wrapper .ui-input-text {
    display: inline-block;
    float: right;
    padding: 0px .5em !important;
    margin: 0;
    border: none;
}

.log-list a .ui-block-a {
    text-align: left;
}

.log-list .ui-block-a div.error {
    top: 0;
    left: 5px;
}

.log-list a .ui-block-c {
    text-align: right;
}

.log-list li a {
    margin: 0;
}

.log-list span.open {

}

.log-list span.open a {
    background-color: #D7EEEF !important;
}


.log-list .details table td:first-child {
    width: 33%;
}

.log-list .details table td:last-child {
    width: 66%;
}

.no-logs {
    border-top: 3px solid #eee;
}

.log-list .details td > div, td > div.df {
    max-height: 300px;
    white-space: pre;
    overflow: auto;
}

.log-list ul {
    margin-top: 1em;
}

.log-list ul li {
    padding: 0 !important;
    border: none !important;
}

.log-list ul li a {
    margin: 0 !important;
}

.log-list .tag {
    float: none;
}

label[for='event-jobs'] {
    color: #46d4c9 !important;
}
label[for='event-requests'] {
    color: #D48900 !important;
}
label[for='event-incidents'] {
    color: #D96557 !important;
}
label[for='event-sessions'] {
    color: #2ECC71 !important;
}
label[for='event-shell'] {
    color: #0099CC !important;
}
label[for='event-error'] {
    color: #FE3C3A !important;
}
