
/* Machine List Page CSS
-----------------------------------------------------------------------------------------------------------*/
#machine-list-page .ui-filterable {
    clear: both;
}
#machine-list-page #create-machine-btn {
    float: right;
}
#machine-list-page #select-machines-btn {
    float: left;
}
.running {
    color: #13B754;
}
.pending {
    color: #E09400;
}
.rebooting {
    color: #4E68BB;
}
.terminated {
    color: #AAAAAA;
}
.stopped {
    color: #777777;
}
.machine-name {
    width: 40% !important;
}
.machine-state {
    width: 20% !important;
    text-align: center;
    margin-left: -18px;
    font-weight: normal;
}
.machine-tags {
    width:40% !important;
    text-align: right;
    position: relative;
    bottom: 8px;
}
