.graph {
    margin-top: 6px;
    margin-bottom: 20px;
    overflow: hidden;
}

.graph-body {
    height: 200px;
}

#home-page .graph-body {
    height: 230px;
}

#GraphsArea .valuePopUp{
    z-index: 1;
    display: none;
    left:0;
    top:0;
    width:90px;
    height:30px;
    line-height:30px;
    border:1px solid:#C2C4C2;
    border-radius:10px;
    box-shadow: 2px 2px 4px 1px #888888;
    text-align: center;
    font-weight:bold;
    color: #404040;
    background-color: #eee; /* W3C */
}

.graphControls {
    width: 100%;
    margin: 0 auto;
    margin-top: 8px;
}

.graphControls .zoom{
    display:block;
    text-align: center;
}

.graphControls .history{
    display:block;
}

#graphsGoForward {
    margin-right: 0px;
}

#GraphsArea{
    white-space: normal;
}

#graphBar{
    margin: 10px 0;
    min-height: 50px;
    padding: 5px 10px 0px;
}

.graph > .header{
    position: relative;
    height: 30px;
}

.graph > .header > .title {
    position: relative;
    left: 10px;
    bottom: -5px;
    font-weight: bold;
    color: #404040;
    display: inline-block;
    float: left;
}

.graph .ajax-loader {
    margin-top: 7px;
    float: left;
    display: inline-block;
    margin-left: 20px;
}

.graph > .header > .ui-btn {
    float: right;
    margin: 0;
    margin-left: 5px;
    padding: 0 10px;
    width: 10px;
    border-width: 0px;
}

.graph > .header > .closeBtn:hover{
    background: transparent;
}


.graph > .header > select{
    position: absolute;
    display: block;
    cursor: default;

    background: transparent;
    border: 0;
    border-radius: 0;

    right: 60px;
    bottom: 0px;
    width: 110px;
    height: 30px;
    line-height: 30px;

    color: #404040;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-indent: 22px;
    -moz-appearance:none;
    -webkit-appearance: none;
}

.graph .c3-line {
  stroke-width: 2px ;
}

#machine-monitoring #machine-monitoring-disabled {
    padding: 30px 10px 30px 10px;
}

#machine-monitoring #machine-monitoring-disabled .ajax-loader {
    margin-top: 15px;
    margin-bottom: -10px;
}

#machine-monitoring #enable-monitoring-label{
    text-align: center;
}

#machine-monitoring #enable-monitoring-btn {
    width: 165px;
    margin: 20px auto auto auto;
}

#graphs-wrapper.hidden {
    display: none;
}

.command-container {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    overflow-x: auto;
    border: 1px solid #AAA;
    font-family: monospace;
    border-radius: 4px;
    text-shadow: none;
    background: #444;
    font-size: 11px;
    color: #efeff1;
    padding: 6px;
}
