
/* Machine List Page CSS
-----------------------------------------------------------------------------------------------------------*/
#machine-list-page .ui-filterable {
    clear: both;
}
#machine-list-page #create-machine-btn {
    float: right;
}
#machine-list-page #select-machines-btn {
    float: left;
}
.running {
    color: #13B754;
}
.pedning {
    color: #E09400;
}
.rebooting {
    color: #4E68BB;
}
.terminated {
    color: #AAAAAA;
}
.stopped {
    color: #777777;
}
