/* Machine Keys View CSS
-----------------------------------------------------------------------------------------------------------*/
#machine-userPort-popup .title{
	margin-left:10%;
	margin-right:10%;
	color:white;
}

#machine-userPort-popup .message{
    background-color: #d96557;
    border-radius: 0 !important;
    color: #fff;
    margin: 10px auto;
    padding: 5px;
    text-align: center;
}

#machine-keys-panel .ui-header > .ui-title {
	min-width: 120px;
    text-transform: uppercase;
}

#machine-keys-panel .small-list-item {
	cursor: pointer;
	padding: 6px 15px;
}
#machine-keys-panel .small-list-item p {
	top: 0px;
}

#machine-keys-panel #machine-keys {
	padding: 0;
}

#non-associated-keys-popup.tiny-popup ul.ui-listview {
	/* only for machine keys*/
    overflow: auto;
    max-height: 15.8em;
}
#non-associated-keys-popup.tiny-popup a.ui-btn-d:hover {
	background-color: #0099cc !important;
}
