
/* Machine Add Panel CSS
-----------------------------------------------------------------------------------------------------------*/
#create-machine-panel {
    min-width: 320px;
    width: 45%;
}
#create-machine-panel .ui-panel-inner {
    padding: 0;
}
#create-machine-panel .ui-content {
    padding: 0 1em 1em;
}
#create-machine-panel .docker {
	display:none;
}
#create-machine-panel label {
    margin-top: 1em;
}
#create-machine-panel .ui-header {
    text-align: left;
    font-size: 18px;
    padding: 20px 91px 20px 16px !important;
    overflow: visible;
    border: none !important;
    background-color: #D4D4D4 !important;
    color: #444 !important;
}
#create-machine-panel .ui-header .ui-title {
    padding: 0;
    margin: 0;
    text-align: left;
}
#create-machine-panel .ui-collapsible-content {
    max-height: 120px;
    overflow-y: scroll;
}
#create-machine-panel .ok-cancel div:first-child .ui-btn {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
#create-machine-panel .ok-cancel div:nth-child(2) .ui-btn {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
#create-machine-cost {
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}
#create-machine-network {
	display: none;
}
#create-machine-network label {
	margin-top: 0;
}
#create-machine-network fieldset {
	margin-top: 0;
}
#create-machine-network .ui-collapsible-content {
	padding: 0;
}
#create-machine-panel #script .ui-slider {
    width: 40%;
    float: right;
}
#create-machine-panel #script label {
    float: left;
}
#create-machine-panel #script textarea {
    height: auto !important;
    clear: both;
}
#create-machine-panel #script .ui-collapsible {
    clear:both;
}
#create-machine-panel .ui-checkbox label:after {
    background-image: none !important;
    background-color: transparent !important;
    opacity: 1;
    -webkit-transition: color .2s linear;
    transition: color .2s linear;
}

#create-machine-panel .ui-checkbox label.ui-checkbox-on:after {
    color: #000;
}

#create-machine-panel .ui-checkbox label.ui-checkbox-off:after {
    color: #d1d1d1;
}

#create-machine-panel .ui-checkbox label.ui-checkbox-off:hover:after {
    color: #444444 !important;
}
