
/* Shell View CSS
-----------------------------------------------------------------------------------------------------------*/

#machine-shell-popup .ui-content {
    border: 1px solid #FAF9F4;
}

#machine-shell-popup #shell-return {
    color: #efeff1;
    background-color: #0A0A0A;

    text-shadow: none;
    font-family: "Courier New", Courier, monospace;

    padding: 6px;
    overflow-y: auto;
    overflow: hidden !important;
}

#machine-shell-popup #shell-return .terminal {
    background-color: transparent !important;
    white-space: pre;
}

span.terminal-cursor {
    background-color: rgb(240, 240, 240);
}

#font-test {

    font-size: 1em;
    font-family: "Courier New", Courier, monospace;

    top: 200%;
    left: 200%;
    position: absolute;
    overflow: visible;
}

#machine-shell-popup #shell-back {
    border: none;
    border-radius: 0;
}


/* Desktop specific css
---------------------------*/

#machine-shell-popup.desktop {
    opacity: 0.85;
}

#machine-shell-popup.desktop #shell-return {
    font-size: 1em;
}

#machine-shell-popup.desktop .ui-btn {
    margin: 0;
    left: 2px;
    right: 2px;
    bottom: 2px;
    position: absolute;
    border-radius: 0;
    border: none;
}
#machine-shell-popup.desktop .ui-btn:hover {
    background-color: #FAF9F4 !important;
    text-decoration: underline !important;
}

#machine-shell-popup.desktop,
#machine-shell-popup.desktop .ui-content,
#machine-shell-popup.desktop #shell-return,
#machine-shell-popup.desktop #machine-shell {
    top: 0 !important;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    max-width: 100% !important;
}


/* Mobile specific css
---------------------------*/

#machine-shell-popup.mobile #shell-back {
    margin-bottom: 0;
}

#machine-shell-popup.mobile .ui-content {
    padding: 0;
}

#machine-shell-popup.mobile {
    top: 1% !important;
    max-height: 98% !important;
    position: fixed;
    border: 1px solid #AAA;
}

#machine-shell-popup.mobile #shell-return {
    background: #444 !important;    
    font-family: monospace;
    font-size: 150%;
    margin-bottom: 0px;
    background: #dfe1e2;
    overflow-y: auto;
    color: #efeff1;
    padding: 6px;
    text-shadow: none;
    overflow: hidden !important;
    max-width: 98%;
}


#machine-shell-popup.mobile #shell-return {
    font-size: 150%;
    margin-bottom: 0px;
}
