/* Machine Keys View CSS
-----------------------------------------------------------------------------------------------------------*/
#machine-userPort-popup .title{
	margin-left:10%;
	margin-right:10%;
	color:white;
}

#machine-userPort-popup .message{
    background-color: #FF5533;
    border-radius: 7px !important;
    color: #FFFFFF;
    display: block;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    text-align: center;
}

#machine-keys-panel .small-list-item {
	cursor: pointer;
	padding: 6px 15px;
}
#machine-keys-panel .small-list-item p {
	top: 0px;
}

#machine-keys-panel #machine-keys {
	padding: 0;
}

#non-associated-keys-popup.tiny-popup {
	/* only for machine keys*/
    overflow: auto;
    max-height: 16.6em;
}
#non-associated-keys-popup.tiny-popup a.ui-btn-d:hover {
	background-color: #0099cc !important;
}
