
/* Machine List Page CSS
-----------------------------------------------------------------------------------------------------------*/
#machine-list-page .ui-filterable {
    clear: both;
}
#machine-list-page .creation-button {
    margin: 0;
    float: right;
    padding: 20px 60px 20px 25px !important;
    font-weight: 400 !important;
    font-size: 18px;
}
#machine-list-page .creation-button:after {
    background-image: none;
    margin: 0;
    content: '+';
    color: #fff !important;
    position: absolute;
    right: 1px;
    top: -6px;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 34px;
    line-height: 60px;
}
#machine-list-page #select-machines-btn {
    float: left;
    font-weight: normal;
    background-color: transparent;
    color: #b5b5b5;
    border-width: 0;
    padding: .4em .75em !important;
    text-align: left;
    width: 14px;
    height: 22px;
    margin: 18px 5px 10px 11px;
    font-size: 14px;
    line-height: 1.6em;
}
#machine-list-page .ui-filterable .ui-input-search {
    margin-right: 280px;
}
#machine-list-page ul.checkbox-list li.has-incident {
    background-color: #d96557 !important;
    color: #fff !important;
}
#machine-list-page ul.checkbox-list li.has-incident:hover {
    background-color: #dc7265 !important;
}

#machine-list-page .ui-block-b .ui-title {
    text-align: center;
}
.running .machine-state span {
    color: #64b247;
}
.pending .machine-state span {
    color: #E09400;
}
.rebooting .machine-state span {
    color: #4E68BB;
}
.terminated .machine-state span {
    color: #AAAAAA;
}
.has-incident .machine-state span {
    color: #777777;
}
.machine-name {
    width: 40% !important;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 16px;
    color: #444;
}

/* Conditional for < 600px */
@media only screen and  (max-width: 600px) {
    #machines .checkbox-link > a {
        height: 50px;
    }

    #machines .checkbox-link .ui-checkbox label {
        margin-top: 0;
        height: 70px;
    }

    .machine-state span {
        float: left;
    }

    .machine-state {
        position: absolute;
        left: 0px;
        top: 45px;
        font-size: 0.9em;
        margin-left: 0 !important;
    }

    .machine-name {
        position: relative;
        bottom: -2px;
        font-size: 1em;
        margin-left: -15px;
        width: 80% !important;
    }

    .machine-tags {
        right: 50px !important;
        top: 46px !important;
        max-width: 49% !important;
    }

    .machine-tags .tag {
        font-size: 10px !important;
        margin-bottom: 3px !important;
    }

    .machine-leds {
        position: relative;
        bottom: 12px !important;
    }

    .machine-leds {
        position: relative;
        bottom: 12px !important;
    }
}


.machine-state {
    width: 21.6% !important;
    text-align: center;
    margin-left: -18px;
    font-weight: bold;
}

.machine-state .ajax-loader {
    display: inline-block;
    position: relative;
    left: 5px;
    top: 4px;
}
.machine-leds {
    width: 120px !important;
    float: right;
    margin-right: 5px;
}
.machine-tags {
    float: right;
    position: absolute;
    right: 150px;
    width: auto !important;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 29%;
    height: 18px;
}

.has-incident label:after {
    color: #fff !important;
}

.has-incident .machine-state span,
.has-incident .machine-name,
.has-incident .machine-tags .tag,
.has-incident a:after {
    color: #fff !important;
}
.has-incident .machine-leds .netleds div {
    background-color: #fff;
}

.monitoring-state {
    float: right;
    height: 16px;
    margin-right: 15px;
}

.no-monitoring .monitoring-state:after {
    content:'\0048';
    color: #A5A4A1;
}

.has-monitoring .monitoring-state:after {
    content:'\0047';
    color: #64b247 !important;
}

.has-incident .monitoring-state:after {
    content:'\006D';
    color: #fff !important;
}
