
/* Machine List Page CSS
-----------------------------------------------------------------------------------------------------------*/
#machine-list-page .ui-filterable {
    clear: both;
}
#machine-list-page .creation-button {
    margin: 0;
    float: right;
    padding: 20px 60px 20px 25px !important;
    font-weight: 400 !important;
    font-size: 18px;
    position: relative;
    top: 0;
    right: 0;
    z-index: 1000;
}
#machine-list-page .creation-button:after {
    background-image: none;
    margin: 0;
    content: '+';
    color: #fff !important;
    position: absolute;
    right: 1px;
    top: -6px;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 34px;
    line-height: 60px;
}
#machine-list-page #select-machines-btn {
    float: left;
    font-weight: normal;
    background-color: transparent;
    color: #b5b5b5;
    border-width: 0;
    padding: .4em .75em !important;
    text-align: left;
    width: 14px;
    height: 22px;
    margin: 18px 5px 10px 11px;
    font-size: 14px;
    line-height: 1.6em;
    z-index: 2;
}
#machine-list-page #select-machines-btn:hover {
        color: #444 !important;
}
#select-machines-popup .icon-check:after {
    font-size: 14px;
    top: 1.3em;
    color: #d4d4d4;
}
#machine-list-page .ui-filterable .ui-input-search {
    margin-right: 280px;
}
#machine-list-page ul.checkbox-list li.has-incident {
    background-color: #d96557 !important;
    color: #fff !important;
}
#machine-list-page ul.checkbox-list li.has-incident:hover {
    background-color: #dc7265 !important;
}

#machine-list-page .ui-block-b .ui-title {
    text-align: center;
}

#machine-list {
    margin: -48px auto 0;
    box-shadow: none;
}
#machine-list-page .machine-search-container {
    position: relative;
    top: -56px;
    margin-left: 50px;
    margin-right: 285px;
}

#machine-list-page .machine-search {
    padding-right: 35px;
}

#machine-list-page .machine-search-container [class*='icon-'] {
    color: #7f7f7f;
    display: inline-block;
    background-color: #e8e8e8;
    position: absolute;
    top: 1px;
    right: 1px;
    padding: 0 8px 0 10px;
    box-sizing: border-box;
    height: 30.8px;
    line-height: 30.8px;
}
#machine-list-page .machine-search-container [class*='icon-']:after {
    font-size: 14px;
    color: #444;
}

#machine-list-page .machine-search-container .icon-xx:hover {
    cursor: pointer;
}
.running .machine-state span {
    color: #64b247;
}
.pending .machine-state span, .suspended .machine-state span {
    color: #E09400;
}
.rebooting .machine-state span {
    color: #4E68BB;
}
.terminated .machine-state span, .undefining .machine-state span {
    color: #AAAAAA;
}
.error .machine-state span {
    color: #d96557;
}
.has-incident .machine-state span {
    color: #777777;
}
.machine-name {
    width: 40% !important;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 16px;
    color: #444;
    font-weight: 400;
}

/* Conditional for < 600px */
@media only screen and  (max-width: 600px) {
    #machine-list .checkbox-link > a {
        height: 50px;
    }

    #machine-list .checkbox-link .ui-checkbox label {
        margin-top: 0;
        height: 70px;
    }

    .machine-state span {
        float: left;
    }

    .machine-state {
        position: absolute;
        left: 0px;
        top: 45px;
        font-size: 0.9em;
        margin-left: 0 !important;
    }

    .machine-name {
        position: relative;
        bottom: -2px;
        font-size: 1em;
        margin-left: -15px;
        width: 80% !important;
    }

    .machine-tags {
        right: 50px !important;
        top: 46px !important;
        max-width: 49% !important;
    }

    .machine-tags .tag {
        font-size: 10px !important;
        margin-bottom: 3px !important;
    }

    .machine-leds {
        position: relative;
        bottom: 12px !important;
    }

    .machine-leds {
        position: relative;
        bottom: 12px !important;
    }
}


.machine-state {
    width: 21.6% !important;
    text-align: center;
    margin-left: -22px;
    font-weight: 400;
}

.machine-state .ajax-loader {
    display: inline-block;
    position: relative;
    left: 5px;
    top: 4px;
}
.machine-leds {
    width: 90px !important;
    float: right;
    margin-right: 5px;
}
.machineload {
    width: 24px;
    display: inline-block;
    float: right;
}
.machinenet {
    width: 24px;
    display: inline-block;
}
.machine-tags {
    float: right;
    position: absolute;
    right: 150px;
    width: auto !important;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 29%;
    height: 18px;
}

@media only screen and  (max-width: 600px) {
    .machine-tags {
        height: 16px;
    }

    #machine-list-page .machine-search-container {
        margin-right: 85px !important;
    }
}

.machine-tags .tag.pairs {
    background-color: #888;
    color: #fff !important;
    font-size: 0.9em;
    padding: 1px 5px;
    border-radius: 2px !important;
}

.has-incident label:after {
    color: #fff !important;
}

.has-incident .machine-state span,
.has-incident .machine-name,
.has-incident .machine-tags .tag,
.has-incident a:after {
    color: #fff !important;
}
.has-incident .machine-leds .netleds div {
    background-color: #fff;
}

.monitoring-state {
    float: right;
    height: 16px;
    margin-right: 15px;
}

.no-monitoring .monitoring-state:after {
    content:'\0048';
    color: #A5A4A1;
}

.has-monitoring .monitoring-state:after {
    content:'\0047';
    color: #64b247 !important;
}

.has-incident .monitoring-state:after {
    content:'\006D';
    color: #fff !important;
}
