
/* Machine List Page CSS
-----------------------------------------------------------------------------------------------------------*/
#machine-list-page .ui-filterable {
    clear: both;
}
#machine-list-page #create-machine-btn {
    float: right;
}
#machine-list-page #select-machines-btn {
    float: left;
}
.machine-state {
    display: inline !important;
    float: left;
    margin-left: 140px !important;
    margin-top: -28px !important;
    position: relative;
}
