
/* Machine Power View CSS
-----------------------------------------------------------------------------------------------------------*/
#machine-power-popup-popup.ui-popup-hidden {
    top: auto !important;
    bottom: 50px !important;
}
