
/* Machine Power View CSS
-----------------------------------------------------------------------------------------------------------*/
#machine-power-popup-popup.ui-popup-hidden {
    top: auto !important;
    bottom: 50px !important;
}
#machine-power-popup .ui-btn {
    margin: 0 auto 8px;
}
