
/* Shell View CSS
-----------------------------------------------------------------------------------------------------------*/
#machine-shell-popup .ui-content {
    background: transparent;
}
#machine-shell-popup-popup {
    top: 1% !important;
    max-height: 98% !important;
    position: fixed;
}

#machine-shell-popup #shell-return {
    background: #444 !important;
    border: 1px solid #AAA;
    font-family: monospace;
    font-size: 150%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 0px;
    background: #dfe1e2;
    overflow-y: auto;
    color: #efeff1;
    padding: 6px;
    text-shadow: none;
    overflow-y: scroll !important;
    max-width: 98%;
}

#shell-return .terminal {
    background-color: transparent !important;
}

span.terminal-cursor {
    background-color: rgb(240, 240, 240);
}

#machine-shell-popup #shell-response {
    border: 1px solid #000000;
}
#machine-shell-popup #shell-back {
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    
}
#machine-shell-popup .ajax-loader {
    display: inline-block;
    float: right;
    position: relative;
    right: 30px;
    margin-left: -15px;
}

#machine-shell-popup .shell-li-arrow {
    height: 16px;
    float: right;
    position: relative;
}

#machine-shell-popup .ui-collapsible-content {
    background: #444;
    color: #efeff1;
    padding: 6px;
    text-shadow: none;
    max-height: 40% !important;
    min-height: 140px;
    height: auto !important;
    overflow-y: scroll !important;
}

