
/* Machine Add Panel CSS
-----------------------------------------------------------------------------------------------------------*/
#create-machine {
    width: 310px;
    box-shadow: none;
    position: relative;
    z-index: 1000;
    top: 0;
    right: 0;
}
#create-machine .ui-btn {
    box-shadow: none;
    position: relative;
    z-index: 1000;
    top: 0;
    right: 0;
    font-size: 18px;
    display: block;
}

#create-machine.ui-collapsible-collapsed {
    width: 255px;
    position: relative;
    z-index: 2;
}

#create-machine.floating-collapsible.ui-collapsible-collapsed > h4.ui-collapsible-heading > a {
    padding: 20px 91px 20px 35px !important;
}

#create-machine.floating-collapsible > h4.ui-collapsible-heading > a {
    padding: 20px 91px 20px 65px !important;
}

#create-machine-overlay {
    z-index: 899;
    min-height: 1030px;
}
#machine-create .ui-panel-inner {
    padding: 0;
}
#machine-create.ui-content {
    background-color: #FAF9F4;
    padding: 16px;
    width: 278px;
}
#machine-create label {
    margin-top: 1em;
}
#machine-create .ui-header {
    text-align: left;
    font-size: 18px;
    padding: 20px 91px 20px 16px !important;
    overflow: visible;
    border: none !important;
    background-color: #D4D4D4 !important;
    color: #444 !important;
}
#machine-create .ui-header .ui-title {
    padding: 0;
    margin: 0;
    text-align: left;
}
#machine-create .ui-collapsible-content .ui-listview {
    margin: 0;
    max-height: 120px;
    overflow-y: auto;
}
#machine-create .ui-collapsible-content .ui-listview .ui-btn,
#machine-create .ui-collapsible-heading-toggle {
    line-height: 21px;
    padding-top: 5.5px !important;
    padding-bottom: 5.5px !important;
}
#machine-create .ui-collapsible-content .ui-listview .ui-btn {
    border: none;
}
#machine-create .ui-collapsible-heading {
    text-transform: initial;
}
#machine-create .ui-collapsible-heading > a {
    background-color: #fff !important;
    border-color: #b5b5b5 !important;
    color: #444 !important;
    font-size: 14px;
    padding-left: .75em !important;
}
#machine-create .ui-collapsible-heading > a:after {
    background-image: none;
    font-size: 14px;
    margin-top: -6px;
    color: #444;
}
#machine-create .ui-collapsible-heading.ui-collapsible-heading-collapsed > a:after {
    content: '\0072';
}
#machine-create .ui-collapsible-heading > a:after {
    content: '\0073';
}
#machine-create .filled .ui-collapsible-heading-toggle {
    color: #444 !important;
    background-color: #fff !important;
    border-color: #b5b5b5 !important;
}
#machine-create .ui-collapsible-content .ui-listview {
    margin: 0;
    border: 1px solid #b5b5b5;
    margin: -1px 0 0 !important;
}
#machine-create .empty.required .ui-collapsible-heading > a {
    color: #7f7f7f !important;
}
#machine-create .empty.required .ui-collapsible-heading > a,
#machine-create .empty.required .ui-collapsible-content > .ui-listview {
    border-color: #0099cc !important;
}
#machine-create .ui-collapsible-content .ui-listview .ui-btn {
    background-color: #fff;
    padding-left: .75em !important;
    border: none;
}
#machine-create .ui-collapsible-content .ui-listview .ui-btn.ui-btn-d {
    background-color: #0099cc;
    color: #fff !important;
}
#machine-create .ui-collapsible-content .ui-listview .ui-btn:hover {
    background-color: #66C2E0;
    color: #fff !important;
}
#machine-create .ui-collapsible-content .ui-listview .ui-btn,
#machine-create .ui-collapsible-heading-toggle {
    line-height: 21px;
    padding-top: 5.5px !important;
    padding-bottom: 5.5px !important;
    font-size: 14px;
    white-space: normal;
}
#machine-create .ok-cancel div:first-child .ui-btn {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
#machine-create .ok-cancel div:nth-child(2) .ui-btn {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
#create-machine-cost {
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    white-space: normal;
}
#create-machine-network fieldset {
    margin-top: 0;
}
#create-machine-network fieldset label {
    margin-top: 0;
}
#create-machine-network .ui-collapsible-content {
    padding: 0;
}
#machine-create #script {
    margin-top: 20px;
}
#machine-create #script .ui-slider {
    width: 40%;
    float: right;
    margin-top: -35px;
}
#machine-create #script textarea {
    height: auto !important;
    clear: both;
}
#machine-create #script .ui-collapsible {
    clear:both;
}
#machine-create .ui-checkbox label:hover {
    background-color: #FAF9F4;
    border-color: #FAF9F4;
    color: #000000 !important;
}

#machine-create .ui-checkbox label:after {
    background-image: none !important;
    background-color: transparent !important;
    opacity: 1;
    -webkit-transition: color .2s linear;
    transition: color .2s linear;
}

#machine-create .ui-checkbox label.ui-checkbox-on:after {
    color: #000;
}

#machine-create .ui-checkbox label.ui-checkbox-off:after {
    color: #d1d1d1;
}

#machine-create .ui-checkbox label.ui-checkbox-off:hover:after {
    color: #444444 !important;
}

#machine-create #create-machine-libvirt-disk-type .ui-slider {
    width: 110px;
}

#create-machine-floating-ip {
    display: none;
}

#machine-create textarea {
	max-height: 150px;
}
