
/* Machine Tags View CSS
-----------------------------------------------------------------------------------------------------------*/
#machine-tags-popup {
    width: 500px !important;
}
#machine-tags-popup .field-wrapper {
    margin: 0;
}
#machine-tags-popup .field-wrapper .ui-input-text,
#machine-tags-popup .field-wrapper .ui-btn {
    float: left;
    display: block;
    box-sizing: border-box;
}
#machine-tags-popup .field-wrapper .ui-input-text {
    width: 45%;
    margin-right: 2%;
}
#machine-tags-popup .field-wrapper .ui-btn {
    float: right;
    padding: 5.5px 8px;
    width: initial;
    line-height: 21px;
    text-indent: initial;
    color: #d96557;
    background-color: transparent;
    border: none;
}
@media only screen and  (max-width: 500px) {
    #machine-tags-popup {
        width: 100% !important;
    }
    #machine-tags-popup .field-wrapper .ui-input-text {
        width: 43%;
        margin-right: 2%;
    }
}
#machine-tags-popup .field-wrapper .ui-btn:after {
    font-size: 14px;
    margin-top: -5px;
}
#machine-tags-popup .field-wrapper .ui-btn:hover {
    color: #d96557 !important;
}

#machine-tags-popup .field-wrapper .ui-btn:active {
    color: #d96557 !important;
}
#machine-tags-popup .field-wrapper:after {
    content: '';
    clear: both;
    display: table;
}
#machine-tags-popup .ui-listview .ui-btn:after {
    font-size: 12px;
}
#machine-tags-popup .ui-listview .ui-btn:hover {
    color: #444 !important;
}

#machine-tags-popup .ui-listview .ui-btn:active {
    color: #fff !important;
}