
/* Metric Add Custom Popup CSS
-----------------------------------------------------------------------------------------------------------*/
#metric-add-custom-popup {
    width: 38em;
}

#custom-plugin-advanced {
    display: none;
}

#metric-add-custom .ui-slider {
    width: 100%;
}

#metric-add-custom .ui-select {
    width: 100%;
}

#custom-plugin-script {
    max-height: 145px !important;
    font-family: monospace;
}

#metric-add-custom-popup #custom-plugin-error {
    font-family: monospace;
    display: none;
    height: auto;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: #FFFFBF;
    border-radius: 5px;
    padding: 2px 8px;
    border: 2px solid #FF0;
    overflow: scroll;
    max-height: 9em;
}

#metric-add-custom-popup label[for="custom-plugin-script"] {
    margin-top: 1em;
}

#metric-add-custom-popup .ui-block-a {
    padding-right: 5px
}
#metric-add-custom-popup .ui-block-b {
    padding-left: 5px
}

#metric-add-custom-popup .ui-checkbox label {
    font-size: 16px;
}
#metric-add-custom-popup .ui-checkbox label:hover {
    background-color: #FAF9F4;
    border-color: #FAF9F4;
    color: #000000 !important;
}

#metric-add-custom-popup .ui-checkbox label:after {
    background-image: none !important;
    background-color: transparent !important;
    opacity: 1;
    -webkit-transition: color .2s linear;
    transition: color .2s linear;
}

#metric-add-custom-popup .ui-checkbox label.ui-checkbox-on:after {
    color: #000;
}

#metric-add-custom-popup .ui-checkbox label.ui-checkbox-off:after {
    color: #d1d1d1;
}

#metric-add-custom-popup .ui-checkbox label.ui-checkbox-off:hover:after {
    color: #444444 !important;
}
