/* Metric Add view CSS
-----------------------------------------------------------------------------------------------------------*/

@-moz-document url-prefix() {
    #metric-add  .ui-collapsible .ajax-loader {
        /*margin-top: -19px;*/
    }
}

#metric-add .ui-btn {
	margin: 0;
    text-align: center;
    padding-left: 19.8px !important;
    font-size: 16px;
}
#metric-add .nest .ui-btn,
#metric-add .nest .ui-btn:after {
    color: #7f7f7f;
}
#metric-add .nest .ui-btn:hover,
#metric-add .nest .ui-btn:hover:after {
    color: #444 !important;
}
#metric-add .nest .ui-btn:hover {
    background-color: #f2f2f2 !important;
}
#metric-add .nest .ui-btn.icon-up {
    background-color: #e8e8e8;
}

#metric-add .nest .ui-btn {
    border: none;
    padding-top: .6em;
    padding-bottom: .6em;
    border-top: 1px solid #eeedeb;
}

#metric-add .margin {
    width: 20px;
    height: 1em;
    float: left;
}

#metric-add .end-node {
    padding-left: 40px;
}

#metric-add .nest {
    display: none;
}

#metric-add .ui-content {
    padding: 0;
}

#metric-add p {
    padding: 5px;
    text-align: center;
}

#metric-add .ajax-loader {
    width: 100%;
    margin-top: -24px;
    margin-bottom: 14px;
    padding-bottom: 30px;
}

#metric-add .ui-content .ui-body-a {
    margin-top: -8px;
}

#metric-add #overlay {
    height: 100%;
    width: 100%;
    z-index: 10000000;
    background-color: black;
    display: inline-block;
    position: absolute;
    top: 0;
    opacity: 0.35;
}
