#error-inner img {
    width: 160px;
    height: auto;
}

#error-inner h1 {
    font-size: 40px;
    font-family: "Open Sans", sans-serif;
    text-shadow: 2px 2px 0 #d4d4d4;
    margin: 10px 0 20px;
    letter-spacing: 3px;
}

#error-inner h2 {
    font-size: 26px;
    line-height: 1.4em;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

#error-inner a {
    padding: 15px 20px;
    color: #000;
    background-color: #d4d4d4;
    box-shadow: 0 2px 10px rgba(0,0,0,.375);
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
}

#error-inner a:hover {
    color: #fff;
}

#error-inner {
    margin: 30px auto;
    text-align: center;
    padding: 100px;
    background-color: #FAF9F4;
}
