html, body, #splash {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#container {
    top: 50%;
    left: 50%;
    width: 280px;
    height: 280px;
    position: absolute;
    margin-top: -140px;
    margin-left: -140px;
}

#missing-page #splash {
    background: none;
    z-index: 0;
}

#logo {
    background: url("/resources/logo_splash.png") center no-repeat;
    width: 96px;
    height: 96px;
    background-position: -52px -35px;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 2px 2px 4px #767694;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 75px;
    outline: 0;
}

#message {
    bottom: 58px;
    position: absolute;
    width: 100%;
    text-align: center;
    font: 16px/22px "Fira Sans",Helvetica,Arial,sans-serif
}
