/* Monitoring List View
------------------------------------------------------------------------------*/

#network-list-page ul.checkbox-list li a {
    padding-left: 1em !important;
}

@-moz-document url-prefix() {

    #network-list-page .checkbox-link .tag {
        position: relative;
        bottom: 33px;
    }
}
