/* Network View CSS
------------------------------------------------------------------------------*/

#single-network-page .subnet-name{
    background-color: #E8E8E8;
}

#single-network-page .ui-block-b .ui-title {
    text-align: center;
}

#single-network-page .usable-ips h4{
    margin: 0px;
}

#single-network-page .usable-ips table {
    width: 100%;
}

#single-network-page > .ui-content {
    padding-top: 30px; 
    background-color: transparent;
}

#single-network-page .ui-collapsible {
    margin: 10px 0 20px;
}

#single-network-page .ui-collapsible .ui-collapsible-heading a {
    background-color: #d4d4d4;
    border: none;
    padding: 20px 70px 16px !important;
}
#single-network-page .ui-collapsible .ui-collapsible-content {
    background-color: #faf9f4;
    padding: 0 !important;
}
#single-network-page .ui-collapsible .ui-collapsible-content .ui-listview {
    margin: 0;
}
#single-network-page .info-table {
    width: 100%;
}
#single-network-page .info-table td {
    margin: 0;
    width: 50%;
    font-size: 14px;
    padding: 10px 12px;
    border-bottom: 1px solid #eeedeb;
}
#single-network-page .info-table tr:last-child td {
    border-bottom: none;
}
#single-network-page .info-table tr td:nth-child(1) {
    padding-left: 70px;
}
@media only screen and  (max-width: 500px) {
    #single-network-page .info-table tr td:nth-child(1) {
        padding-left: 30px;
    }
}
#single-network-page .info-table tr td:nth-child(2) {
    color: #7f7f7f;
}
#single-network-page .info-table tr {
    background-color: #faf9f4;
    border: none;
}
#single-network-page .info-table tr:hover {
    background-color: #f2f2f2;
}

#single-network-page .associate .ui-btn {
    color: #444;
}

#single-network-page .associate .ui-btn:hover {
    color: #444 !important;
}

#single-network-page .associate .ui-btn:after {
    font-size: 16px;
    top: 26px;
}

#single-network-page .reserved {
    float: right;
    padding-top: 10px;
}

#single-network-page .reserved .ui-slider {
    width: 110px;
}
#single-network-page .assign-network-btn {
    max-width: 150px;
}

#single-network-page .reserved .ajax-loader {
    position: relative;
    top: -1em;
    left: 7.7em;
    display: inline-block;
    z-index: 10;
}

#single-network-page  .assign-network-btn.associating.ui-btn:after {
    background-image: url("../images/spinner.gif");
    background-color: transparent;
}

#single-network-page .ui-footer {
    display: block;
}
