/* Network List CSS
------------------------------------------------------------------------------*/

#network-list-page .ui-block-b .ui-title {
    text-align: center;
}

#network-list-page .checkbox-link .tag {
    position: relative;
}

#network-list-page #network-create-btn {
    float: right;
}

#network-list-page #select-networks-btn {
    float: left;
    font-weight: normal;
    background-color: transparent;
    color: #b5b5b5;
    border-width: 0;
    padding: .4em .75em !important;
    text-align: left;
    width: 14px;
    height: 22px;
    margin: 18px 5px 10px 11px;
    font-size: 14px;
    line-height: 1.6em;
    z-index: 2;
}
#network-list-page #select-networks-btn:hover {
    color: #444 !important;
}
#select-networks-popup .icon-check:after {
    font-size: 14px;
    top: 1.3em;
    color: #d4d4d4;
}
#network-list-page .ui-filterable .ui-input-search {
    margin-right: 290px;
}
#network-list .ui-grid-b .ui-block-b {
    text-align: center;
    padding-right: 26px;
    font-weight: 400;
}
#network-list .network-name {
    font-weight: 400;
}
#network-list {
    margin-top: -48px;
    box-shadow: none;
}
#network-list-page .network-search-container {
    position: relative;
    top: -56px;
    margin-left: 50px;
    margin-right: 285px;
}

#network-list-page .network-search {
    padding-right: 35px;
}

#network-list-page .network-search-container [class*='icon-'] {
    color: #7f7f7f;
    display: inline-block;
    background-color: #e8e8e8;
    position: absolute;
    top: 1px;
    right: 1px;
    padding: 0 8px 0 10px;
    box-sizing: border-box;
    height: 30.8px;
    line-height: 30.8px;
}
#network-list-page .network-search-container [class*='icon-']:after {
    font-size: 14px;
    color: #444;
}

#network-list-page .network-search-container .icon-xx:hover {
    cursor: pointer;
}
@media only screen and  (max-width: 600px) {
    #network-list-page .creation-button {
        width: 63px;
        height: 63px;
        padding: 0 !important;
    }
    #network-list-page .creation-button span {
        display: none;
    }

    #network-list-page .network-search-container {
        margin-right: 85px !important;
    }
}
