/* Network Create View CSS
------------------------------------------------------------------------------*/
#create-network {
    width: 281px;
    box-shadow: none;
    position: relative;
    z-index: 1000;
    top: 0;
    right: 0;
}

#create-network.ui-collapsible-collapsed {
    width: 260px;
    position: relative;
    z-index: 2;
}

#create-network.floating-collapsible.ui-collapsible-collapsed > h4.ui-collapsible-heading > a {
    padding: 20px 91px 20px 30px !important;
}

#create-network.floating-collapsible > h4.ui-collapsible-heading > a {
    padding: 20px 75px 20px 50px !important;
}

#create-network-overlay {
    z-index: 899;
    min-height: 1120px;
}
#network-create label {
    margin-top: 1em;
}
#network-create .ui-panel-inner {
    padding: 0;
}
#network-create.ui-content {
    background-color: #FAF9F4;
    padding: 16px;
    width: 249px;
}
#network-create .ui-collapsible-content {
    max-height: 120px;
    overflow-y: auto;
}
#network-create .ui-collapsible-heading {
    text-transform: capitalize;
}
#network-create .ui-collapsible-heading > a {
    background-color: #fff !important;
    border-color: #b5b5b5 !important;
    color: #444 !important;
    font-size: 14px;
    padding-left: .75em !important;
}
#network-create .ui-collapsible-heading > a:after {
    background-image: none;
    font-size: 14px;
    margin-top: -6px;
    color: #444;
}
#network-create .ui-collapsible-heading.ui-collapsible-heading-collapsed > a:after {
    content: '\0072';
}
#network-create .ui-collapsible-heading > a:after {
    content: '\0073';
}
#network-create .filled .ui-collapsible-heading-toggle {
    color: #444 !important;
    background-color: #fff !important;
    border-color: #b5b5b5 !important;
}
#network-create .ui-collapsible-content .ui-listview {
    margin: 0;
    border: 1px solid #b5b5b5;
    margin: -1px 0 0 !important;
}
#network-create .empty.required .ui-collapsible-heading > a {
    color: #7f7f7f !important;
}
#network-create .empty.required .ui-collapsible-heading > a,
#network-create .empty.required .ui-collapsible-content > .ui-listview {
    border-color: #0099cc !important;
}
#network-create .ui-collapsible-content .ui-listview .ui-btn {
    background-color: #fff;
    padding-left: .75em !important;
    border: none;
}
#network-create .ui-collapsible-content .ui-listview .ui-btn:hover {
    background-color: #66C2E0;
    color: #fff !important;
}
#network-create .ui-collapsible-content .ui-listview .ui-btn,
#network-create .ui-collapsible-heading-toggle {
    line-height: 21px;
    padding-top: 5.5px !important;
    padding-bottom: 5.5px !important;
    font-size: 14px;
}

#network-create textarea {
    height: 75px !important;
}

#network-create-subnet-form,
#network-create-subnet-address-wrapper,
#network-create-subnet-other-wrapper,
#network-create-router-form {
    display: none;
}

#network-create .ui-checkbox label:hover {
    background-color: #FAF9F4;
    border-color: #FAF9F4;
    color: #000000 !important;
}

#network-create .ui-checkbox label:after {
    background-image: none !important;
    background-color: transparent !important;
    opacity: 1;
    -webkit-transition: color .2s linear;
    transition: color .2s linear;
}

#network-create .ui-checkbox label.ui-checkbox-on:after {
    color: #000;
}

#network-create .ui-checkbox label.ui-checkbox-off:after {
    color: #d1d1d1;
}

#network-create .ui-checkbox label.ui-checkbox-off:hover:after {
    color: #444444 !important;
}

#network-create .ok-cancel {
    margin-top: 16px;
}
