/* Network List CSS
------------------------------------------------------------------------------*/

#network-list-page .ui-block-b .ui-title {
    text-align: center;
}

#network-list-page .checkbox-link .tag {
    position: relative;
}

#network-list-page #network-create-btn {
    float: right;
}

#network-list-page #select-networks-btn {
    float: left;
    font-weight: normal;
    background-color: transparent;
    color: #b5b5b5;
    border-width: 0;
    padding: .4em .75em !important;
    text-align: left;
    width: 14px;
    height: 22px;
    margin: 18px 5px 10px 11px;
    font-size: 14px;
    line-height: 1.6em;
    z-index: 2;
}
#network-list-page #select-networks-btn:hover {
    color: #444 !important;
}
#network-list-page .ui-filterable .ui-input-search {
    margin-right: 270px;
}
#network-list {
    margin-top: -52px;
    box-shadow: none;
}
#network-list .ui-grid-b .ui-block-b {
    text-align: center;
    padding-right: 26px;
}
