/* indices do not help here, let's use types as defined in
 libcloud.compute.types.Provider (we will use numbers, match in the Python) */


#single-view-provider-icon, #single-view-image-icon {
    display: block;
    width: 48px;
    height: 48px;
    float: left;
}

.provider-icon-small,
.image-icon-small {
    float:right;
    width: 20px;
    height: 20px;
    margin-left: 20px !important;
    margin-right: -6px !important;
    position: relative;
    top: 1px;
}

.provider-icon-small span,
.image-icon-small span {
    display: block;
    height: 50px;
    width: 50px;
    position: relative;
    left: -18px;
    bottom: 15px;
    -webkit-transform: scale(0.4,0.4);
    -ms-transform: scale(0.4, 0.4);
    transform: scale(0.4, 0.4);
    background-repeat: no-repeat;
}

.single-view-icon-wrapper.generic {
    display: none;
}
