/* indices do not help here, let's use types as defined in
 libcloud.compute.types.Provider (we will use numbers, match in the Python) */


#single-view-provider-icon, #single-view-image-icon {
    display: block;
    width: 48px;
    height: 48px;
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
}

/* EC2 */
#single-view-provider-icon.provider-ec2_us_east,
#single-view-provider-icon.provider-ec2_us_west,
#single-view-provider-icon.provider-ec2_us_west_oregon,
#single-view-provider-icon.provider-ec2_ap_northeast,
#single-view-provider-icon.provider-ec2_ap_southeast,
#single-view-provider-icon.provider-ec2_ap_southeast_2,
#single-view-provider-icon.provider-ec2_eu_west,
#single-view-provider-icon.provider-ec2_sa_east {
    background-image: url(../images/p1_sm.png);
}

/* BareMetal */
#single-view-provider-icon.provider-bare_metal  {
    background-image: url(../images/monitor.png);
}

/* NephoScale */
#single-view-provider-icon.provider-nephoscale  {
    background-image: url(../images/nephoscale_sm.png);
}


/* GCE */
#single-view-provider-icon.provider-gce  {
    background-image: url(../images/gce.png);
    background-size: 45px;
}

/* DigitalOcean */
#single-view-provider-icon.provider-digitalocean  {
    background-image: url(../images/digitalocean.png);
}

/* SoftLayer */
#single-view-provider-icon.provider-softlayer  {
    background-image: url(../images/softlayer.png);
}

/* Linode */
#single-view-provider-icon.provider-linode  {
    background-image: url(../images/p7_sm.png);
}

/* RackSpace */
#single-view-provider-icon.provider-rackspace,
#single-view-provider-icon.provider-rackspace_first_gen,
#single-view-provider-icon.provider-rackspace_nova_beta,
#single-view-provider-icon.provider-rackspace_nova_dfw,
#single-view-provider-icon.provider-rackspace_nova_lon,
#single-view-provider-icon.provider-rackspace_nova_ord,
#single-view-provider-icon.provider-rackspace_nova_au,
#single-view-provider-icon.provider-rackspace_uk {
    background-image: url(../images/p3_sm.png);
}

/* OpenStack */
#single-view-provider-icon.provider-openstack {
    background-image: url(../images/p31_sm.png);
}

.single-view-icon-wrapper.amazon #single-view-image-icon {
    background-image: url(../images/p1_sm.png);
}

.single-view-icon-wrapper.windows #single-view-image-icon {
    background-image: url(../images/image-windows.png);
}

.single-view-icon-wrapper.oracle #single-view-image-icon {
    background-image: url(../images/image-oracle.png);
}

.single-view-icon-wrapper.canonical #single-view-image-icon {
    background-image: url(../images/image-canonical.png);
}

.single-view-icon-wrapper.ibm #single-view-image-icon {
    background-image: url(../images/image-ibm.png);
}

.single-view-icon-wrapper.debian #single-view-image-icon {
    background-image: url(../images/image-debian.png);
}

.single-view-icon-wrapper.gentoo #single-view-image-icon {
    background-image: url(../images/image-gentoo.png);
}

.single-view-icon-wrapper.ubuntu #single-view-image-icon {
    background-image: url(../images/image-ubuntu.png);
}

.single-view-icon-wrapper.suse #single-view-image-icon {
    background-image: url(../images/image-suse.png);
}

.single-view-icon-wrapper.opensolaris #single-view-image-icon {
    background-image: url(../images/image-opensolaris.png);
}

.single-view-icon-wrapper.fedora #single-view-image-icon {
    background-image: url(../images/image-fedora.png);
}

.single-view-icon-wrapper.generic {
    display: none;
}
