/* indices do not help here, let's use types as defined in
 libcloud.compute.types.Provider (we will use numbers, match in the Python) */


#single-view-provider-icon, #single-view-image-icon {
    display: block;
    width: 48px;
    height: 48px;
    float: left;
}

.single-view-icon-wrapper.generic {
    display: none;
}
