
/* Rules CSS
-----------------------------------------------------------------------------------------------------------*/

.rules-container {
    padding: 0;
    margin: 0 !important;
    border-top: 1px solid #eeedeb;
}

.rule-box, .key-box {
    overflow: hidden;
    padding: 6px 10px;
}

.rule-box {
    min-height: 60px;
}

.rule-text {
    font-size: 20px;
    font-weight: bold;
    padding: 6px;
    margin-top: 12px;
    height:40px;
    max-width: 100px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}

.rule-box * {
    float: left;
}

.rule-box .ajax-loader  {
    float: right;
    margin-top: 22px;
    margin-right: 18px;
}

.delete-rule-container {
    float: right;
}

.delete-rule-container .ui-btn {
    padding: 11px 12px 7px 8px;
    color: #d96557;
    background-color: transparent;
    border-color: transparent;
}

.delete-rule-container .ui-btn:hover {
    background-color: transparent;
    border-color: transparent;
    color: #df7e73 !important;
}
.delete-rule-container .ui-btn:active {
    background-color: transparent;
    border-color: transparent;
    color: #d34c3b !important;
}

.delete-rule-container .ui-btn:after {
    font-size: 16px;
}

.delete-rule-container div.ui-btn span.ui-btn-inner {
    padding-left: 9px;
}

#rule-operator .ui-listview,
#rule-aggregate .ui-listview {
    margin: 0;
}

#rule-metric .ui-listview {
    max-height: 200px;
    overflow-y: auto;
    margin: 0;
}

/*
@media only screen and (max-width: 535px) {


    .rule-box div {
        font-size: 15px;
    }

    .rule-box .ui-btn {
        top: 7px;
        font-size: 12px;
    }

    .rule-box div.ui-slider-track {
        top: 4px;
    }

    .rule-unit {
        top: 21px;
    }
}

@media only screen and (max-width: 470px) {


    .rule-box {
        height: 92px;
    }

    .rule-box .rule-then {
        clear: left;
        margin-left: 0;
        margin-top: -5px;
    }

    .rule-box .action {
        margin-top: -16px;
    }

    .rule-box .delete-rule-button, .rule-box .ajax-loader {
        margin-top: -15px;
    }

    .rule-box .ui-slider-track {
        margin-left: -27px;
        margin-top: 43px;
        clear: left;
    }

    .rule-box .ajax-loader {
        margin-right: 12px;
        margin-top: 5px;
    }
}*/

.rule-if {
    height: 24px;
    margin-right: 10px;
}

.rule-metric {
    width: 130px;
}

.rule-unit {
    max-width: 100px;
    font-size: 15px;
    margin-top: 15px;
}

.rule-value, .rule-time-window {
    height: 35px;
    width: 50px !important;
    text-align: center !important;
}

.rule-operator {
    width: 30px;
}

.rule-button {
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.rule-action, .rule-aggregate {
    width: 90px;
}

.rule-box .ui-input-text {
    margin-top: 12px;
}

.rule-more {
    width: 22px;
}

.rule-box .advanced-condition {
    display: none;
}

.rules-container input[type='number'] {
    -moz-appearance:textfield !important;
}

.rules-container input::-webkit-outer-spin-button,
.rules-container input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
}

#rule-action .ui-listview {
    margin: 0;
}
