#single-script-page .ui-block-b .ui-title {
    text-align: center;
}
#single-script-page .ui-collapsible {
    clear: both;
}
#single-script-page .creation-button-container:after {
    content: '';
    display: table;
    clear: both;
}
#single-script-page .creation-button {
    margin: 0 0 5px 0;
    float: right;
    padding: 20px 60px 20px 20px !important;
    font-weight: 400 !important;
    font-size: 18px;
}
#single-script-page .creation-button:after {
    background-image: none;
    margin: 0;
    content: '+';
    color: #fff !important;
    position: absolute;
    right: 1px;
    top: -6px;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 34px;
    line-height: 60px;
}
#single-script-page .ui-collapsible {
    margin: 10px 0 20px;
}
#single-script-page .ui-collapsible .ui-collapsible-heading a {
    background-color: #d4d4d4;
    border: none;
    padding: 20px 70px 16px !important;
}
#single-script-page .ui-collapsible .ui-collapsible-content {
    background-color: #faf9f4;
    padding: 0 !important;
}
#single-script-page .ui-footer.dual-action-footer {
    display: block;
}
#single-script-page .info-table {
    width: 100%;
}
#single-script-page .info-table td {
    margin: 0;
    width: 50%;
    font-size: 14px;
    padding: 10px 12px;
    border-bottom: 1px solid #eeedeb;
}
#single-script-page .info-table tr:last-child td {
    border-bottom: none;
}
#single-script-page .info-table tr td:nth-child(1) {
    padding-left: 20px;
}
#single-script-page .info-table tr td:nth-child(2) {
    color: #7f7f7f;
}
#single-script-page .info-table tr {
    background-color: #faf9f4;
    border: none;
}
#single-script-page .info-table tr:hover {
    background-color: #f2f2f2;
}
#single-script-page .log-list ul {
    margin: 0;
}
#single-script-page .log-list ul li {
    padding: 0;
}

#single-script-page .log-list ul li a {
    margin: 0;
}
#script-run {
    margin-bottom: 60px;
}
#run-script .ui-collapsible-heading {
    text-transform: capitalize;
}

#single-script-page #run-script .ui-collapsible-heading > a {
    border: 1px solid #b5b5b5;
    padding-left: .75em !important;
}
#run-script .ui-collapsible-heading > a {
    background-color: #fff !important;
    color: #444 !important;
    font-size: 14px;
}
#run-script .ui-collapsible-heading > a:after {
    background-image: none;
    font-size: 14px;
    margin-top: -6px;
    color: #444;
}
#run-script .ui-collapsible-heading.ui-collapsible-heading-collapsed > a:after {
    content: '\0072';
}
#run-script .ui-collapsible-heading > a:after {
    content: '\0073';
}
#run-script .filled .ui-collapsible-heading-toggle {
    color: #444 !important;
    background-color: #fff !important;
    border-color: #b5b5b5 !important;
}
#run-script .ui-collapsible-content .ui-listview {
    margin: 0;
    border: 1px solid #b5b5b5;
    margin: -1px 0 0 !important;
    max-height: 120px;
    overflow-y: auto;
}
#run-script .empty.required .ui-collapsible-heading > a {
    color: #7f7f7f !important;
}
#run-script .empty.required .ui-collapsible-heading > a,
#run-script .empty.required .ui-collapsible-content > .ui-listview {
    border-color: #0099cc !important;
}
#run-script .ui-collapsible-content .ui-listview .ui-btn {
    background-color: #fff;
    padding-left: .75em !important;
    border: none;
}
#run-script .ui-collapsible-content .ui-listview .ui-btn:hover {
    background-color: #66C2E0 !important;
    color: #fff !important;
}
#single-script-page #run-script .ui-collapsible .ui-collapsible-heading a,
#single-script-page #run-script .ui-collapsible-content .ui-listview .ui-btn {
    line-height: 21px;
    padding-top: 5.5px !important;
    padding-bottom: 5.5px !important;
    font-size: 14px;
    text-transform: initial;
}
#single-script-page .command-container {
    white-space: pre !important;
}

#run-script .ui-slider {
    width: 100%;
    margin: 0;
    border-radius: 0;
}
#command-collapsible.ui-collapsible .ui-collapsible-heading a {
    background-color: #d4d4d4;
}
