#add-script.ui-collapsible-collapsed {
    width: 200px;
    position: inherit;
}

#add-script {
    width: 281px;
    margin-bottom: 25px !important;
}

#script-add.ui-content {
    background-color: #FAF9F4;
    padding: 16px;
    width: 249px;
}

#add-script-overlay {
    z-index: 899;
    min-height: 800px;
}
