#add-script {
    width: 281px;
    box-shadow: none;
    position: relative;
    z-index: 1000;
    top: 0;
    right: 0;
}

#add-script.ui-collapsible-collapsed {
    width: 200px;
    position: relative;
}

#script-add.ui-content {
    background-color: #FAF9F4;
    padding: 16px;
    width: 249px;
}

#add-script-overlay {
    z-index: 899;
    min-height: 800px;
}

#script-add .ui-collapsible-heading-toggle {
    font-size: 16px;
}
#script-add .ui-collapsible-heading > a {
    background-color: #0099cc !important;
    border-color: #0099cc !important;
    color: #fff !important;
    text-transform: uppercase;
}
#script-add .ui-collapsible .ui-listview {
    margin: 0;
}
#script-add .ui-collapsible .ui-listview .ui-btn,
#script-add .ui-collapsible-heading-toggle {
    line-height: 21px;
    padding-top: 5.5px !important;
    padding-bottom: 5.5px !important;
}
#script-add h4.select-provider a,
#script-add h4 a:hover,
#script-add ul li a:hover {
    background-color: #66C2E0;
    border-color: #66C2E0;
    color: #fff !important;
    text-shadow: 0 0 0 #66C2E0;
}

#script-add h4.select-provider a:active,
#script-add h4 a:active,
#script-add ul li a:active {
    background-color: #66C2E0;
    border-color: #66C2E0;
    text-shadow: 0 0 0 #66C2E0;
}
#script-add .ui-collapsible-heading-toggle {
    font-size: 16px;
}

#script-add .selected-key .ui-collapsible-heading-toggle {
    color: #000 !important;
    background-color: #FAF9F4 !important;
}

#script-list {
    margin-top: -53px;
}
