/* Single Team Page CSS
-----------------------------------------------------------------------------------------------------------*/
#single-team-page > .ui-content {
    padding-top: 30px;
    background-color: transparent;
}
#single-team-page .ui-block-b .ui-title {
    text-align: center;
}
#single-team-page .ui-footer {
    display: block;
}
#single-team-page .ui-collapsible {
    margin: 10px 0 20px;
}
#single-team-page .ui-collapsible .ajax-loader {
    display: inline;
    float: right;
}
#single-team-page .ui-collapsible .ui-collapsible-heading a {
    background-color: #d4d4d4;
    border: none;
    padding: 20px 70px 16px !important;
}
#single-team-page .ui-collapsible .ui-collapsible-content {
    background-color: #faf9f4;
    padding: 10px 20px !important;
}
#single-team-page .ui-collapsible .ui-collapsible-content .ui-listview {
    margin: 0;
    box-shadow: none;
}
@-moz-document url-prefix() {
    #single-team-page .ui-collapsible .ajax-loader {
        margin-top: -20px;
    }
}
#single-team-page .ui-collapsible .ui-collapsible-content {
    background-color: #faf9f4;
    padding: 0 !important;
}
#single-team-page .ui-collapsible .ui-collapsible-content .ui-listview {
    margin: 0;
}
#single-team-page .info-table {
    width: 100%;
}
#single-team-page .info-table td {
    margin: 0;
    width: 50%;
    font-size: 14px;
    padding: 10px 12px;
}
#single-team-page #team-basic-info .info-table td {
    border-bottom: 1px solid #eeedeb;
}
#single-team-page #team-basic-info .info-table tr:last-child td {
    border-bottom: none;
}
#single-team-page #team-policy-list .info-table td {
    width: 100%;
}
#single-team-page .info-table tr:last-child td {
    border-bottom: none;
}
#single-team-page .info-table tr td:nth-child(1) {
    padding-left: 70px;
}
@media only screen and  (max-width: 500px) {
    #single-team-page .info-table tr td:nth-child(1) {
        padding-left: 30px;
    }
}
#single-team-page .info-table tr td:nth-child(2) {
    color: #7f7f7f;
}
#single-team-page .info-table tr {
    background-color: #faf9f4;
    border: none;
}
#single-team-page .info-table .rule-item .ui-btn,
#single-team-page .info-table .policy-operator .ui-btn {
    margin: 0 5px;
}
#single-team-page .info-table .rule-item .ui-btn:first-of-type,
#single-team-page .info-table .policy-operator .ui-btn:first-of-type {
    margin-left: 0;
}
#single-team-page .info-table .rule-item .ui-listview .ui-btn,
#single-team-page .info-table .policy-operator .ui-listview .ui-btn {
    margin: 0;
}
#single-team-page .info-table .member-item .ui-btn.icon-xx,
#single-team-page .info-table .rule-item .ui-btn.icon-xx {
    float: right;
    padding: 5.5px 8px;
    margin: 0;
    width: initial;
    line-height: 21px;
    text-indent: initial;
    color: #d96557;
    background-color: transparent;
    border: none;
}
#single-team-page .info-table .member-item .ui-btn.icon-xx:hover,
#single-team-page .info-table .rule-item .ui-btn.icon-xx:hover {
    color: #d96557 !important;
}
#single-team-page .info-table .member-item .ui-btn.icon-xx:after,
#single-team-page .info-table .rule-item .ui-btn.icon-xx:after {
    font-size: 14px;
    margin-top: -5px;
}
#single-team-page .info-table .member-item,
#single-team-page .info-table .rule-item {
    border-bottom: 1px solid #eeedeb;
}
#single-team-page .info-table tr.rule-item td {
    padding-left: 50px;
}
#single-team-page .info-table .rule-item .ui-input-text {
    display: inline-table;
}
#single-team-page .info-table .rule-item .policy-rule-arrow {
    padding: 12px 5px 6px;
    color: #7f7f7f;
    border: none;
}
#single-team-page .info-table .rule-item .policy-rule-arrow:hover {
    background-color: transparent;
    color: #444 !important;
}
#single-team-page .info-table .member-item:hover,
#single-team-page .info-table .rule-item:hover {
    background-color: #f2f2f2;
}
#single-team-page .info-table .rule-item:hover .policy-rule-arrow {
    background-color: transparent;
}
#single-team-page .info-table td.member-actions {
    padding: 0 12px;
}
#single-team-page .info-table .ui-btn.no {
    display: inline-block;
    margin: 0;
    padding: 3px 5px;
    position: relative;
    top: 2px;
}
#single-team-page .info-table .rule-item .ajax-loader {
    position: relative;
    top: 15px;
    right: 1px;
}
#single-team-page .info-table .member-header {
    background-color: #E4E4E4;
    border-bottom: 1px solid #E4E4E4;
    color: #444;
}
#single-team-page .info-table .policy-operator {
    background-color: #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    color: #444;
}
#single-team-page #member-invite,
#single-team-page #rule-save {
    display: inline-block;
    margin: 8px auto 20px;
}
#single-team-page #member-invite {
    margin: 20px auto;
}
#single-team-page #rule-add {
    display: block;
    margin: 8px auto 0;
}
#single-team-page .member-gravatar {
    display: block;
    float: left;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    margin-right: 5px;
}
.label-pending {
    background-color: #d96557;
    color: #fff;
    font-size: 12px;
    padding: 1px 3px;
    border-radius: 3px;
}
