#team-list-page #add-organization-container.ui-collapsible {
    margin: 10px 0 20px;
}
#team-list-page #add-organization-container.ui-collapsible .ui-collapsible-heading a {
    background-color: #d4d4d4;
    border: none;
    padding: 20px 70px 16px !important;
}
#team-list-page #add-organization-container.ui-collapsible .ui-collapsible-content {
    background-color: #faf9f4;
    padding: 0 !important;
}
#team-list-page #add-organization-btn {
    display: inline-block;
    margin: 20px auto;
}
#team-list-page .ui-block-b .ui-title {
    text-align: center;
}
#team-list-page #select-teams-btn {
    float: left !important;
    font-weight: normal;
    background-color: transparent;
    color: #b5b5b5;
    border-width: 0;
    padding: .4em .75em !important;
    text-align: left;
    width: 14px;
    height: 22px;
    margin: 18px 5px 10px 11px !important;
    font-size: 14px;
    line-height: 1.6em;
    z-index: 2;
}
#team-list-page #select-teams-btn:hover {
    color: #444 !important;
}
#select-teams-popup .icon-check:after {
    font-size: 14px;
    top: 1.3em;
    color: #d4d4d4;
}
#team-list-page .ui-filterable .ui-input-search {
    margin-right: 230px !important;
}
#team-list-page #run-team-btn {
    float: right;
    margin: 0;
}
#team-list-page #add-team-btn {
    float: right;
    margin: 0;
}
#team-list-page .list-wrapper .ui-block-b {
    text-align: center;
}
#team-list-page .ui-icon-check:after {
    background-color: #46d4c9;
}
#team-list {
    box-shadow: none;
    margin-top: -48px;
}
#team-list-page .team-search-container {
    position: relative;
    top: -56px;
    margin-left: 50px;
    margin-right: 250px;
}
#team-list-page .team-search {
    padding-right: 35px;
}
#team-list-page .team-search-container [class*='icon-'] {
    color: #7f7f7f;
    display: inline-block;
    background-color: #e8e8e8;
    position: absolute;
    top: 1px;
    right: 1px;
    padding: 0 8px 0 10px;
    box-sizing: border-box;
    height: 30.8px;
    line-height: 30.8px;
}
#team-list-page .team-search-container [class*='icon-']:after {
    font-size: 14px;
    color: #444;
}
#team-list-page .team-search-container .icon-xx:hover {
    cursor: pointer;
}
#team-list .team-members {
    font-weight: 400;
    text-align: center;
    padding-right: 30px;
}
.team-name {
    font-weight: 400;
}
@media only screen and (max-width: 600px) {
    #team-list-page .team-search-container {
        margin-right: 85px !important;
    }
    #team-list-page .team-members {
        display: none;
    }
}
