#########################
#Credentials to be used
#########################
CREDENTIALS = {
    'EC2': {
        'api_key': "",
        'api_secret': ""
    },
    'Rackspace': {
        'username': "",
        'api_key': ""
    },
    'BareMetal': {
        'hostname': "",
        'user': "",
        'key': {
            'name': "",
            'private': ""
        }
    },
    'Openstack': {
        'username': "",
        'password': "",
        'auth_url': "",
        'tenant': ""
    },
    'Softlayer': {
        'api_key': "",
        'api_secret': ""
    },
    'Nephoscale': {
        'username': "",
        'password': ""
    },
    'Linode': {
        'username': "",
        'api_key': ""
    },
    'HPCloud': {
        'username': "",
        'password': "",
        'tenant': ""
    }
}

#####################
#Credentials for mist.io to test io-core connectivity
#####################
MISTCREDS = {
    'username': "",
    'password': ""
}

####################
#They'll be used to add random Machine names and keys
####################
TESTNAMES = {
    "machine_name": "TESTMACHINE",
    "image_machine": "IMAGEMACHINE",
    "key":"TESTKEY"
}