:host {
    background: #fafafa;
}
#content {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: 20px;
}
.paper-header h2 {
    @apply(--layout-flex-none);
}
.machine-state {
    padding-left: 10px;
}
.machine-state > span{
    padding: 2px 4px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 700;
    cursor: inherit;
}
.machine-state .unknown {
    background-color: lightgray;
    color: rgba(0,0,0,0.82);
}
.machine-state .running {
    background-color: green;
    color: rgba(255,255,255,0.82);
}
.machine-state .terminated {
    background-color: black;
    color: rgba(255,255,255,0.82);
}
.machine-state .stopped {
    background-color: orange;
    color: rgba(255,255,255,0.82);
}
.machine-state .error {
    background-color: red;
    color: rgba(255,255,255,0.82);
}
.machine-ip {
    margin: 0;
}
.machine-tag {
    float: none;
    display: inline-block;
    max-width: 100%;
    background-color: #b5b5b5;
    color: #fff;
    padding: 0 5px;
    border-radius: 1px;
    margin: 3px 0;
    word-break: break-all;
}
