:host {
	background: #fafafa;
}
#content {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	padding: 20px;
}
#container {
	background: #fafafa;
}
#content h2, #content p {
	display: inline-block;
	vertical-align: middle;
}
#content p {
	padding-left: 20px;
}
paper-material {
	padding: 0 20px;
	overflow: hidden;
	margin-bottom: 20px;
}
paper-card {
	display: block;
	margin-bottom: 20px;
}
paper-card-header {
    color: #474747;
    background-color: #d4d4d4;
}
.info-card .title-text {
    color: #474747;
    background-color: #d4d4d4;
}
.info-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
.info-table tr td {
    width: 50%;
    padding: 0;
    border-bottom: 1px solid #eeedeb;
}
.info-table tr:last-child td {
    border: none;
}
