:host {
  background: #fafafa;
}

a {
  color: black;
  text-decoration: none;
}

#container {
  background: #fafafa;
}

.paper-header [paper-drawer-toggle] {
  margin-left: 10px;
}

.paper-header {
  @apply(--layout-horizontal);
  @apply(--layout-center);
}

.paper-header h2 {
  margin-left: 20px;
  @apply(--layout-flex);
  text-transform: capitalize;
}

.paper-header .toggleViewButton {
  --paper-icon-button-ink-color: transparent;
}

.paper-header .cartButton {
  margin-right: 10px;
}

#content {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 0 10px;
}

app-bar .menu-icon {
  margin-right: 15px;
}

.elements-title h2 {
  @apply(--paper-font-title);
  color: #424242;
}

.elements-title iron-icon {
  cursor: pointer;
  margin-left: 16px;
}

.elements-title > [paper-drawer-toggle] {
  margin: 0 16px 0 0;
}

#section-heading .description {
  font-size: 16px;
  color: var(--paper-grey-600);
}

#element-cards, element-table,
.elements-title, #section-heading {
  max-width: 920px;
  margin: 20px auto;
}

#section-heading {
  margin: 0px auto 16px;
}

[size=xs] > * {
  display: none;
}

responsive-element[size=xs].layout {
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

[size=xs] app-sidebar paper-toolbar /deep/ #topBar {
  padding: 0 16px;
}


[size=xs] app-sidebar {
  min-width: 100%;
  height: auto;
}

#search {
  height: 48px;
  line-height: 48px;
  margin-bottom: 12px;
  position: relative;
}

#search iron-icon {
  margin-left: 16px;
  margin-right: 8px;
  position: absolute;
  top: 12px;
  left: 2px;
}

#search input {
  height: 46px;
  -webkit-appearance: none;
  line-height: 46px;
  border: 0;
  margin: 0;
  padding-left: 50px;
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  @apply(--paper-font-body1);
}

#search input:focus {
  outline: 0;
  background-color: #eceff1;
  border-color: #cfd8dc;
}

#search input::-webkit-search-cancel-button{
  position: relative;
  right: 15px;
}

[view=cards] element-table {
  display: none;
}

[view=table] #element-cards {
  display: none;
}
