:host {
	background: #fafafa;
}
#content {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	padding: 20px;
}
#container {
	background: #fafafa;
}
#content h2, #content p {
	display: inline-block;
	vertical-align: middle;
}
#content p {
	padding-left: 20px;
}
paper-material {
	padding: 0 20px;
	overflow: hidden;
	margin-bottom: 20px;
}
