BACKENDS: {}
BACKEND_KEYS:
  DigitalOcean:
    api_key:
    client_id:
  EC2:
    api_key:
    api_secret:
  Nephoscale:
    password:
    username:
  Rackspace:
    api_key:
    username:
  SoftLayer:
    api_key:
    username:
KEYPAIRS: {}
MIST_URI: http://127.0.0.1:6543
SUPPORTED_PROVIDERS: []
MACHINE_NAME: NinjaTests
KEY_NAME: NinjaTestsKey
COOKIE:
