:host {
	margin: 16px;
	display: block;
}
:host paper-card {
	min-width: 100%;
}
:host paper-card .card-content {
	padding-bottom: 10px;
}
#close-this-form {
	position: absolute;
	top: 10px;
	right: 10px;
}
::content form > paper-button {
	background-color: #0099cc;
  	color: #fff;
  	margin: 8px 0;
  	padding: 0.7em 1.7em;
}
::content form > paper-button > * {
  color: #fff;
}
::content hr {
	height: 0;
    margin: 8px -16px;
    border-bottom: 1px solid #eee;
    background: transparent;
    border-width: 0 0 1px 0;
}