:host paper-card {
	min-width: 100%;
}
.container > div {
	padding: 10px;
	background-color: #eee;
}
.flex-horizontal {
	@apply(--layout-horizontal);
}
.flexchild {
	@apply(--layout-flex);
}
.an-app-rule {
	margin-bottom: 1px;
}
.rule-expression {
	padding: 8px;
}
.card-actions {
	overflow: hidden;
}
paper-button.custom.blue {
  line-height: 24px;
  padding-right: 15px;
}