/* Custom unweb rules */

#logo-container {
    background: url(../static/logo.png) center bottom no-repeat;
    width: 100%;
    height: 131px;
    margin: 36px 0;
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 0;
}

/* Machines Pane */

#machines .ui-content {
	padding-top: 6px;
}

#machines-list .node .ui-icon-arrow-r {
	right: 18px;
}

/* Select Button */

#machines #mist-select-machines .ui-btn {
    margin: 0.5em 0;
    outline: none;
}

#machines .ui-select {
    width: 60px;
}

#machines .ui-select .ui-icon {
	position: absolute;
	left: 15px;
}

/* Create machine button */

#machines #mist-create-machine {
	width: 40px;
	padding: 6px;
	float: right;
	top: -54px;
	right: -3px;
}

#machines #mist-create-machine .ui-btn-inner {
	height: 24px;
}

#machines #mist-create-machine .ui-icon {
	position: absolute;
	left: 12px;
	z-index: 1000;
}

/* Provider Icons */

.state-providers .ui-icon, .state-providers.state-wait .ui-icon {
	background-color: #222;
	width: 18px;
	height: 18px;
	background-image: url(icons/loader.gif);
	background-position: center;
}

.state-providers.state-on .ui-icon {
	background-color: #22aa22;
	background-image: url(images/icons-18-white.png);
	background-position:  -252px 0;
}

.state-providers.state-error .ui-icon {
	background-color: #222;
	background-image: url(images/icons-18-white.png);
	background-position:  -72px 0;
}

.state {
    font-weight: normal;
    font-size: 12px;
    margin-right: 10px;
}

/* Provider status dialog */

#providers-status-list li {
	padding-left: 42px;
}
#providers-status-list .provider-state-icon {
	width: 16px;
	height: 16px;
	display: block;
	position: absolute;
	left: 16px;
	background-color: #234;
}

#providers-status-list .state-on .provider-state-icon{
	background-image: url(images/icons-18-white.png);
	background-position:  -253px 0;
	background-repeat: no-repeat;
	overflow: hidden;
	background-color: #22aa22;
}

#providers-status-list .state-off .provider-state-icon{
	background-image: url(icons/loader.gif);
	background-position: center !important;
	background-repeat: no-repeat;
	overflow: hidden;
	background-color: #aa2222;
}

#providers-status-list .state-wait .provider-state-icon{
	background-image: url(images/icons-18-white.png);
	background-position:  -73px 0;
	background-repeat: no-repeat;
	overflow: hidden;
	background-color: #234;
}

/* Lists */

.ui-li-count {
	font-size: 13px !important;
}

/* Machines List */

#machines-list {
	margin-top: 10px;
}

#machines-list .node {
	clear: left;
}

#machines-list .ui-checkbox {
    float:left;
    margin-bottom: 0px !important;
}

#machines-list .ui-checkbox input {
	display: none;
}

#machines-list .ui-btn-icon-left {
	background: none;
	background-image: none;
}

#machines-list .ui-checkbox label {
    border: none;
    background-color: transparent;
}

#machines-list .ui-icon-checkbox-on, #machines-list .ui-icon-checkbox-off  {
    z-index: 1000;    
}

#machines-list .ui-btn-text .ui-checkbox {
	width: 56px;
}

#machines-list .ui-checkbox .ui-btn-inner {
	top: 19px;
	left: 5px;
	height: 40px;
    border-top: none;
}

#machines-list .node a {
    color: #2F3E46;
}

#machines-list .description {
	position: absolute;
	right: 76px;
	top: 36px;
}

#machines .ui-listview-filter-inset {
    margin: -50px 60px 0 60px;
}

#machines-list .bubble-container {
    float: right;
    display: block;
    overflow: hidden;
    height: 20px;
    right: 48px;
    position: absolute;
    top: 37%;
    height: 20px;
    padding-top: 1px;
}

#machines-list .state-icon.ui-icon-check {
	background-color: #33dd44;
}

#machines-list .key-icon {
	background-image: url("icons/key.png");
	background-color: #333;
}

#machines-list .alert-icon {
	background-color: #f93;
}

#machines-list .ping-icon {
	background-image: url("icons/ping.png");
	background-color: #3399cc;
}

#machines-list .ui-li-count {
	position: static;
}
#machines-list .node .caption-wrapper {
	border: 1px solid #bbb;
	padding: 0 0 1px 9px;
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.2) inset;
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.2) inset;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2) inset;
}

#machines-list .node-icon {
	padding: 2px 9px;
	border: none;
}

#machines-list .node .tag {
	border: 1px solid #bfbfbf;
	color: #555 !important;
	font-weight: normal !important;
	display: block;
	float: right;
	padding: 1px 7px;
	margin: 0 3px 9px 0;
}

#machines .ui-select {
    width: 60px;
}

#machines .ui-input-search input.ui-input-text {
    padding: .45em 0;
}

#machines .ui-link {
	border-left: 1px solid #ddd;
}

a#mist-select-machines-button {
    outline: none;
}

/* FOOTER */

.ui-footer {
	padding: 0 10px;
}

#machines-footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	z-index: 2000;
}

#machines-footer #actions {
	margin: 0.5em 0;
}

#machines-footer a {
	width: 24.1%;
}

/* DIALOG */

.ui-dialog .ui-content, 
{ 
	max-width: 500px; 
	margin: 0 auto 15px auto; 
}

/* Create Dialog */

.btn-full {
	width: 100%; 
	text-align: center;
	margin-top: 2em;
}

.btn-left-full, .btn-right-full {
	width: 49%;
}

#new-machine-name {
	margin: 12px 0;
}

.mist-li-selected {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#AFD5FF), to(#98BBED)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#AFD5FF, #98BBED); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#AFD5FF, #98BBED); /* FF3.6 */
	background-image:     -ms-linear-gradient(#AFD5FF, #98BBED); /* IE10 */
	background-image:      -o-linear-gradient(#AFD5FF, #98BBED); /* Opera 11.10+ */
	background-image:         linear-gradient(#AFD5FF, #98BBED);
}

/* Conditional for < 480px */
@media only screen and (max-width: 480px) {

	#machines-list .description {
		position: absolute;
		right: 76px;
		top: 26px;
		width: 130px;
	}

}
