
/* Import css files
-----------------------------------------------------------------------------------------------------------*/

@import url('jquery.mobile.structure-1.4.5.min.css');
@import url('theme.css');
@import url('images/sprite-build/sprites.css');
@import url("css/key.css");
@import url("css/home.css");
@import url("css/rules.css");
@import url("css/log_list.css");
@import url("css/images.css");
@import url("css/machine.css");
@import url("css/key_add.css");
@import url("css/missing.css");
@import url("css/network.css");
@import url("css/key_list.css");
@import url("css/providers.css");
@import url("css/metric_add.css");
@import url("css/machine_monitoring.css");
@import url("css/file_upload.css");
@import url("css/backend_add.css");
@import url("css/machine_add.css");
@import url("css/machine_keys.css");
@import url("css/backend_edit.css");
@import url("css/machine_tags.css");
@import url("css/machine_list.css");
@import url("css/network_list.css");
@import url("css/network_create.css");
@import url("css/machine_power.css");
@import url("css/machine_shell.css");
@import url("css/backend_button.css");
@import url("css/graph_list.css");
@import url("css/metric_add_custom.css");
@import url("css/script.css");
@import url("css/script_list.css");


/* Splash
-----------------------------------------------------------------------------------------------------------*/
.ui-mobile-rendering > * {
    visibility: visible !important;
}

#splash {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient( #3c3c3c /*{a-bar-background-start}*/, #111 /*{a-bar-background-end}*/) /*{b-bar-background-color}*/;
    z-index: 100000;
}
.mist-logo {
    width: 280px;
    height: 280px;
    background: url("logo_splash.png") center no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -140px;
    margin-top: -140px;
}
.mist-progress {
    border: 1px solid white;
    border-radius: 25px;
    bottom: 3px;
    height: 0;
    left: 0;
    margin-top: 19px;
    position: absolute;
    top: -19px;
    max-width: 98%;
}
.mist-progress-wrapper {
    border: 1px solid white;
    border-radius: 15px;
    bottom: 58px;
    box-shadow: 0 0 2px rgba(255, 255, 255, 1);
    height: 2px;
    left: 92px;
    padding: 0;
    position: absolute;
    width: 96px;
}


/* Page formating
-----------------------------------------------------------------------------------------------------------*/
body {
    background-color: #F9F9F9 !important;
}
.ui-page > .ui-content {
    padding: .5% 1%;
}
#monitoring-collapsible .ui-collapsible-content {
    padding: 0 .5% .5%;
    border: 1px solid #f8f8f8;
    overflow: visible;
}
.ui-mobile, .ui-mobile body {
    height: 0 !important;
}
.ui-page-active {
    min-height: 100% !important;
}
.small-padding {
    height: 10px;
    width: 100%;
}
.mid-padding {
    height: 50px;
    width: 100%;
}
.large-padding {
    height: 100px;
    width: 100%;
    margin: auto;
}


/* Ajax loader
-----------------------------------------------------------------------------------------------------------*/
.ajax-loader {
    background-image: url("images/spinner.gif");
    background-position: center !important;
    background-repeat: no-repeat;
    margin: 0 auto;
    height: 16px;
    width: 16px;
}

.ajax-loader.l {
    background-image: url('images/ajax-loader.gif');
    width: 135px;
    height: 75px;
    background-color: #9A9A9A;
    border-radius: 5px;
}

/* Form fields
------------------------------------------------------------------------------------------------------------*/
.form-field {
    margin-bottom: 1.6em;
}

/* Text fields
-----------------------------------------------------------------------------------------------------------*/
textarea#private-key, #manual-monitoring-popup textarea {
    height: 75px !important;
}


/* Buttons
-----------------------------------------------------------------------------------------------------------*/
.ui-btn-icon-left {
    padding: .6em 1.1em .6em 2.5em !important;
}

.ui-btn-icon-right {
    padding: .6em 2.5em .6em 1.1em !important;
}

.ui-btn.ui-icon-none:after {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%20Tiny%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11-tiny.dtd%22%3E%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22tiny%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%20500%20500%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M250%20383.929v-53.571q0-3.906-2.511-6.417t-6.417-2.511h-53.571q-3.906%200-6.417%202.511t-2.511%206.417v53.571q0%203.906%202.511%206.417t6.417%202.511h53.571q3.906%200%206.417-2.511t2.511-6.417zM321.429%20196.429q0-24.554-15.485-45.48t-38.644-32.366-47.433-11.44q-67.801%200-103.516%2059.431-4.185%206.696%202.232%2011.719l36.831%2027.902q1.953%201.674%205.301%201.674%204.464%200%206.976-3.348%2014.788-18.973%2023.996-25.669%209.487-6.696%2023.996-6.696%2013.393%200%2023.856%207.254t10.463%2016.462q0%2010.603-5.581%2017.020t-18.973%2012.556q-17.578%207.813-32.227%2024.135t-14.648%2035.017v10.044q0%203.906%202.511%206.417t6.417%202.511h53.571q3.906%200%206.417-2.511t2.511-6.417q0-5.301%205.999-13.812t15.207-13.812q8.929-5.022%2013.672-7.952t12.835-9.766%2012.417-13.393%207.813-16.88%203.488-22.601zM428.571%20250q0%2058.315-28.739%20107.562t-77.985%2077.985-107.562%2028.739-107.562-28.739-77.985-77.985-28.739-107.562%2028.739-107.562%2077.985-77.985%20107.562-28.739%20107.562%2028.739%2077.985%2077.985%2028.739%20107.562z%22%20fill%3D%22%23ffffff%22%20%2F%3E%3C%2Fsvg%3E");
    background-position: 4px;
    opacity: .3;
}

/* Popup
-----------------------------------------------------------------------------------------------------------*/
.ui-popup .ui-content {
    padding: 12px 16px;
}
#dialog .ui-content{
    text-align: center;
}
.tiny-popup {
    width: 150px !important;
}
.small-popup {
    width: 240px !important;
}
.mid-popup {
    width: 255px !important;
    max-width: 99%;
}
.large-popup {
    width: 290px !important;
}
.huge-popup {
    width: 100% !important;
}
.ui-popup .ui-title {
    margin: 0 auto !important;
}


/* Side panel
-----------------------------------------------------------------------------------------------------------*/
.side-panel {
    /**
     *  .ui-panel's default width value is 17em
     *  but it's on many many selectors in jqm.css.
     *  Bacause the value "17em" existed only in
     *  panel related selectors, a mass find/replace
     *  process took place.
     *
     *  The value "325px" is also unique to jqm.css
     *  so this change can easily be undone or modified
     */
    width: 325px; /* Useless, but leave it there for reference reasons */
    min-height: 0;
}
.side-panel .ui-panel-inner {
    padding: 0;
}

.ui-panel-dismiss-open.ui-panel-dismiss-position-right {
    right: 325px;
}

.ui-panel-dismiss-open.ui-panel-dismiss-position-right {
    right: 325px;
}

/* Filtered list headers
-----------------------------------------------------------------------------------------------------------*/
#machine-list-page .ui-filterable,
#key-list-page .ui-filterable {
    margin: 3em 8em -3em 3em !important;
    position: relative;
    top: -3.1em;
}

#machine-list-page .ui-filterable input,
#key-list-page .ui-filterable input,
#network-list-page .ui-filterable input {
    min-height:2.50em;
}


/* Checkbox list
-----------------------------------------------------------------------------------------------------------*/
.ui-icon-carat-r:after {
    background-color: #666;
    background-image: none;
}
ul.checkbox-list {
    box-shadow: none;
    background-color: #fafafa;
}
ul.checkbox-list li{
    border: 1px solid #eee;
}
ul.checkbox-list li:hover {
    background-color: #eee;
}
ul.checkbox-list li a:focus {
    box-shadow: none !important;
}
ul.checkbox-list li a, ul.checkbox-list li a:hover, ul.checkbox-list label, ul.checkbox-list label:hover {
    background-color: transparent !important;
    border-width: 0px !important;
}
ul.checkbox-list .ui-grid-b {
    padding-top: 12px;
    overflow: visible;
}
ul.checkbox-list li a,
ul.checkbox-list li a:active,
ul.checkbox-list li a:focus,
ul.checkbox-list li a:hover,
ul.checkbox-list li label {
    background: transparent !important;
}

/* Checkbox link
-----------------------------------------------------------------------------------------------------------*/
.checkbox-link a {
    height: 41px;
}
.checkbox-link h3 {
    width: 65%;
    display: inline-block !important;
}
.checkbox-link .state h3 {
    width: auto;
    margin-left: 10px;
}
.checkbox-link .ui-checkbox {
    margin: 0 !important;
    float: left;
    clear: both;
}
.checkbox-link .ui-checkbox input {
    display: none;
}
.checkbox-link .ui-checkbox label {
    border-radius: 0.1875em 0 0 0.1875em;
    background-color: transparent;
    margin: 0 !important;
    border: none;
    height: 41px;
}
.tag {
    border: 1px solid #bfbfbf;
    margin: 1px;
    color: #555 !important;
    padding: 1px 7px;
    font-size: 12px;
    font-weight: normal;
    display: inline-block;
    float: right;
}

#image-list .checkbox-link .tag {
    margin: 11px 1px;
}

/* Footer
-----------------------------------------------------------------------------------------------------------*/
.ui-footer {
    position: fixed;
    display: none;
    z-index: 2000;
    width: 100%;
    bottom: 0;
}
.ui-footer table {
    margin-left: -1px;
    width: 100%;
}
.ui-footer a {
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100%;
    margin: 0;
}

@media only screen and  (max-width: 340px) {
    .ui-footer .ui-btn {
        font-size: 10px;
        text-indent: 10px;
    }
}
.ui-footer.dual-action-footer td {
    width: 50%;
}
.ui-footer.tri-action-footer td {
    width: 33.3%;
}

.ui-footer .ui-grid-a a {
    margin:0;
}

/* Small List Item
-----------------------------------------------------------------------------------------------------------*/
.small-list-item {
    padding: 0 6px;
    background: #ddd;
    margin-bottom: 5px;
    border-radius: 19px;
    display: inline-block;
    border: 1px solid #c4c4c4;
}
.small-list-item button,
.small-list-item a {
    display: inline;
}
.small-list-item p {
    top: -8px;
    position: relative;
    display: inline;
}
@-moz-document url-prefix() {
    .small-list-item p {
        top: 5px;
    }
}

/*
 * Custom select
 */

.mist-select .ui-collapsible-content {
    background: transparent !important;
}
.mist-select h2 {
    z-index: 1000;
    border-bottom-right-radius: inherit !important;
}
.mist-select ul {
    margin-top: 0px;
}

.mist-select .ui-collapsible-content {
    margin: 0px !important;
    box-shadow: 0 0 12px #3388cc /*{a-active-background-color}*/ !important;
    padding-top: 0;
}

#message-box-popup {
    width: auto !important;
    max-width: 600px;
}

#message-box-popup h1 {
    padding: 12px;
}

#message-box-popup .ui-btn {
    width: 100%;
    margin: 0px;
    padding: 0.7em 0;
}

#message-box-popup #message-cmd {
    min-height: 100px;
    white-space: pre;
    background: #444 !important;
    color: rgb(240, 240, 240);
    text-shadow: none;
    font-family: monospace;
    overflow: scroll;
    max-height: 400px !important;
    padding: 0 10px;
}


/* Confirmation popup
-----------------------------------------------------------------------------------------------------------*/
#confirmation-popup {
    width: 355px !important;
    max-width: 99%;
}
.ui-controlgroup-horizontal .ui-controlgroup-controls .ui-btn.ui-last-child {
    border-right-width: 2px;
}

#confirmation-popup p {
    text-align: center;
}

/* List Wrapper
-----------------------------------------------------------------------------------------------------------*/
.list-wrapper {
    width: 100%;
}

.list-wrapper > a {
    width: 5em;
}

.list-wrapper > a:nth-child(1) {
    float: left;
    font-weight: normal;
}
.list-wrapper > a:nth-child(2) {
    float: right;
}

.list-wrapper .ui-filterable {
    clear: both;
    top: -3em;
    position: relative;
    margin-left: 9.5em;
    margin-right: 9.5em;
}

.list-wrapper ul {
    position: relative;
    top: -2em;
}

@media only screen and (max-width: 550px) {

    .list-wrapper .ui-filterable {
        margin-left: 3em;
        margin-right: 3em;
    }
}

/* Other
-----------------------------------------------------------------------------------------------------------*/
#list-divider {
    background-color: #D3D3D3;
    font-size: 16px;
    font-weight: bold;
}

#hidden-shell-iframe {
    display: none;
}

.single-machine-loader {
    z-index: 1000;
}

@media only screen and (max-width: 550px) {

    a.responsive-button,
    a.responsive-btn {
        padding: 0px !important;
        width: 2.5em;
        height: 2.5em;
        text-indent: -5000px;
    }

    #machine-list-page .ui-filterable, #key-list-page .ui-filterable  {
        margin-left: 50px !important;
        margin-right: 50px !important;
    }
}

/* User menu
-----------------------------------------------------------------------------------------------------------*/
#me-btn {
    background: transparent;
    height: 36px;
    padding: 0px;
    border-width: 0px;
    margin-right: 6px;
}

#me-btn .gravatar-image {
    border-radius: 2em;
}

#me-btn .user {
    width: 36px;
    height: 36px;
    margin-right: 7px;
}

#user-menu-popup #user-email {
    text-align: center;
    margin: .5em 0 1em;
}

.monitoring-dialog-container, .associate-key-container, .probe-dialog-container div {
    padding: 15px;
}

.ui-collapsible-inset .ui-collapsible-content {
    padding-top: 0px;
    margin-top: -1px;
    overflow: auto;
    border: none;
}

.single-machine-loader {
    display: block !important;
    z-index: 1000;
}
/* Leds
 * */

.netleds div {
    border-radius: 0.2em;
    float: right;
    height: 16px;
    margin: 0px 1px;
    width: 3px;
    background-color: rgba(0,0,0,.2)
}

.netleds .on {
    background-color: rgba(0,0,0,0.6);
}

.netled4 {
    height: 4px !important;
    margin-top: 12px !important;
}

.netled3 {
    height: 8px !important;
    margin-top: 8px !important;
}

.netled2 {
    height: 12px !important;
    margin-top: 4px !important;
}

.loadleds {
    position: relative;
    left: 6px
}

.led {
    border-radius: 0.15em;
    float: right;
    height: 16px;
    margin: 0px 1px;
    width: 6px;
}

.probing {
    animation: probe 1s steps(2, start) infinite;
    -webkit-animation: probe 1s steps(2, start) infinite;
    background-color: rgba(0, 0, 0, .4);
}
@keyframes probe {
    from {
        opacity: 1;
    }
    to {
        opacity: .1;
    }
}
@-webkit-keyframes probe {
    from {
        opacity: 1;
    }
    to {
        opacity: .1;
    }
}

.hot {
    background-color: #DD1E2F !important;
}
.warm {
    background-color: #EBB035 !important;
}
.eco {
    background-color: #218559 !important;
}
.cool {
    background-color: #06A2CB !important;
}
.cold {
    background: #396b9e /*{b-bup-background-color}*/linear-gradient( #5f9cc5 /*{d-bup-background-start}*/, #396b9e /*{d-bup-background-end}*/) /*{d-bup-background-color}*/ !important;
}

/* OK - Cancel
------------------------------------------------------------------------------*/
.ok-cancel {
    width: 100%;
    margin: 0;
    padding-bottom: 0 !important;
    box-sizing: border-box;
}
.ok-cancel a,
.ok-cancel button {
    width: 50% !important;
    box-sizing: border-box !important;
}
.ok-cancel > .ui-controlgroup-controls {
    width: 100%;
    box-sizing: border-box;
}

#backend-delete-confirm .ok-cancel {
    margin-bottom: 1em;
}

/* Info table
------------------------------------------------------------------------------*/
.info-table {
    width: 100%;
}
.info-table td {
    margin: 0;
    width: 50%;
    font-size: 14px;
    padding: 10px 12px;
    border-bottom: 1px solid #CFCFCF;
}
.info-table tr td:nth-child(2) {
    font-weight: bold;
}
.info-table tr {
    background-color: #F7F7F7;
}
.info-table tr.strong {
    background-color: #E8E8E8;;
}
.info-table .ip {
    display: inline-block;
}
.info-table {
    border-collapse: collapse;
    width: 100%;
    background: #fff;
}

.info-table tr {
    border: 1px solid #ccc;
}


/* Dialog
------------------------------------------------------------------------------*/
.command-container {
    white-space: pre;
    text-align: left;
    max-height: 250px;
    overflow: auto;
}

#dialog-popup .duration {
    font-family: monospace;
    font-size: 11px;
}

/* Border radius override */
.ui-corner-all {
    -webkit-border-radius: .25em /*{global-radii-blocks}*/;
    border-radius: .25em /*{global-radii-blocks}*/;
}

/* Body border override */
.ui-body-a {
    border-width: 0px;
}

.full-width {
    width: 100% !important;
}

.no-width {
    width: 0% !important;
}
