
/* Import css files
-----------------------------------------------------------------------------------------------------------*/
@import url("css/home.css");
@import url("css/key.css");
@import url("css/key_list.css");
@import url("css/key_create.css");
@import url("css/backend_add.css");
@import url("css/backend_button.css");


/* Page formating
-----------------------------------------------------------------------------------------------------------*/
.small-padding {
    height: 10px;
}
.mid-padding {
    height: 50px;
}
.large-padding {
    height: 100px;
}


/* Ajax loader
-----------------------------------------------------------------------------------------------------------*/
.ajax-loader {
    background-image: url("images/spinner.gif");
    background-position: center !important;
    background-repeat: no-repeat;
    margin: 0 auto;
    height: 16px;
    width: 16px;
}


/* Text fields
-----------------------------------------------------------------------------------------------------------*/
textarea {
    height: 75px !important;
}


/* Buttons
-----------------------------------------------------------------------------------------------------------*/
.ok-cancel {
    width: 100%;
    margin-top: 10px;
}
.ok-cancel > .ui-controlgroup-controls {
    width: 100%;
}


/* Small popup
-----------------------------------------------------------------------------------------------------------*/
.small-popup {
    width: 240px !important;
}
.small-popup .ok-cancel a,
.small-popup .ok-cancel button {
    width: 70px !important;
}


/* Large popup
-----------------------------------------------------------------------------------------------------------*/
.large-popup {
    width: 290px !important;
}
.large-popup .ok-cancel a,
.large-popup .ok-cancel button {
    width: 95px !important;
}


/* Side panel
-----------------------------------------------------------------------------------------------------------*/
.side-panel {
    width: 290px;
}
.side-panel .ok-cancel a,
.side-panel .ok-cancel button {
    width: 79px !important;
}


/* Checkbox-link
-----------------------------------------------------------------------------------------------------------*/
.checkbox-link a {
    height: 40px;
}
.checkbox-link .ui-checkbox {
    margin: 0 !important;
    float:left;
}
.checkbox-link .ui-checkbox input {
    display: none;
}
.checkbox-link .ui-checkbox label {
    border-radius: 0.1875em 0 0 0.1875em;
    background-color: transparent;
    margin: 0 !important;
    border: none;
    height: 41px;
}
.checkbox-link .tag {
    border: 1px solid #bfbfbf;
    margin: 3px 3px 9px 0;
    color: #555 !important;
    position: relative;
    padding: 1px 7px;
    float: right;
    bottom: 26px;
    right: 10px;
}
@-moz-document url-prefix() {
    .checkbox-link .tag {
        bottom: 28px;
    }
}


/* Footer
-----------------------------------------------------------------------------------------------------------*/
.ui-footer {
    position: fixed;
    display: none;
    z-index: 2000;
    width: 100%;
    bottom: 0;
}
.ui-footer a {
    padding-left: 0 !important;
}
.ui-footer .ui-controlgroup {
    margin: 0 0.5%;
}
.ui-footer .ui-controlgroup-controls {
    margin-bottom: -1px;
    margin-left: 0.5%;
    width: 100%;
}
.ui-footer.dual-action-footer a {
    width: 48%;
}
.ui-footer.tri-action-footer a {
    width: 32%;
}
@media only screen and  (max-width: 1070px) {
    .ui-footer.tri-action-footer a {
        width: 31.5%;
    }
}
@media only screen and  (max-width: 790px) {
    .ui-footer.dual-action-footer a {
        width: 47%;
    }
    .ui-footer.tri-action-footer a {
        width: 31%;
    }
}
@media only screen and  (max-width: 630px) {
    .ui-footer.tri-action-footer a {
        width: 30.5%;
    }
}
@media only screen and  (max-width: 510px) {
    .ui-footer.dual-action-footer a {
        width: 46%;
    }
    .ui-footer.tri-action-footer a {
        width: 30%;
    }
}
@media only screen and  (max-width: 470px) {
    .ui-footer.tri-action-footer a {
        width: 29.5%;
    }
}
@media only screen and  (max-width: 410px) {
    .ui-footer a {
        padding-left: 2.5em !important;
    }
    .ui-footer.dual-action-footer a {
        width: 38%;
    }
    .ui-footer.tri-action-footer a {
        width: 21.5%;
    }
}
@media only screen and  (max-width: 385px) {
    .ui-footer.dual-action-footer a {
        width: 36%;
    }
    .ui-footer.tri-action-footer a {
        width: 19.5%;
    }
}
@media only screen and  (max-width: 340px) {
    .ui-footer.dual-action-footer a {
        width: 34%;
    }
    .ui-footer.tri-action-footer a {
        width: 19%;
    }
}
