body {
    background: url("../static/raincloud.jpg") no-repeat scroll center top transparent;
}

.css-panes {
    background-color: rgba(48, 48, 48, 0.7);
    color: #FFFFFF;
    border-top: none;
    box-shadow: none;
}

.css-tabs {
    background-image: none;
    background-color: transparent;
    border-top: none;    
    box-shadow: none;
    overflow: hidden;
}

#actions-list {
    background-color: rgba(48, 48, 48, 0.7);
    background-image: none;
    border-left: 0px;
}

#actions-list li {
    border-bottom: 0px;
}

div.node {
    border-bottom: none;
}

.node .name {
    border-left: none;
}

.node .info {
    display: none;
}

.css-tabs li {
    padding: 10px 0;
    margin-right: 10px;
}

.css-tabs a.current {
    background-color: rgba(48, 48, 48, 0.7);
}

.css-tabs a {
    background-color: rgba(48, 48, 48, 0.8);
    padding: 17px 43px;
}